<div id="payroll">
    <div class="container-fluid">
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-5">
          <input type="hidden" id="time_zone">
          <div class="dropdown">
            <h3 id="month-list" data-toggle="dropdown" style="margin-top:10px;">
              <span ng-bind="payroll.currentDateString" role="button"></span>
              <span class="fa fa-angle-down"></span>
            </h3>
            <ul class="dropdown-menu" aria-labelledby="month-list">
              <li ng-repeat="effectiveDate in payroll.effectiveDates">
                <a ng-if="payroll.currentDateString != effectiveDate['date_string']" ng-click="payroll.switchMonth(effectiveDate)">
                  <button>{{ effectiveDate["date_string"] }}</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="pull-right">
            <a class="btn employee-print" style="margin-right:10px;"
              href="/payrolls/social_insurance_pdf?effective_date={{payroll.currentEffectiveDate['date_time'] | encodeString }}"
              target="_blank" ng-show="payroll.isClosedPayroll">สำหรับประกันสังคม</a>
            <a ng-hide="payroll.isClosedPayroll" class="btn btn-payroll-starts" ng-click="payroll.createPayrolls()" href="javascript:void(0)">
              ออกเงินเดือน
            </a>
          </div>
        </div>
      </div>
        <div class="total-wrapper payroll-content container-fluid">
          <div class="row">
            <div class="col-md-6">
              <p class="text-right" ng-show="false">
                  แก้ไขล่าสุด 25 ธ.ค. 59 10:50 โดย Somkid
              </p>
            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <div class="btn-group filter-btn">
                    <label class="btn btn-md employee-type" ng-click="payroll.employeeTypeFilter()" ng-model="payroll.employeeTypeMode.normal" style="border-radius: 50px;" uib-btn-checkbox>ลูกจ้างประจำ</label>
                    <label class="btn btn-md employee-type" ng-click="payroll.employeeTypeFilter()" ng-model="payroll.employeeTypeMode.temporary" style="border-radius: 50px;" uib-btn-checkbox>ลูกจ้างชั่วคราว</label>
                    <label class="btn btn-md employee-type" ng-click="payroll.employeeTypeFilter()" ng-model="payroll.employeeTypeMode.probationary" style="border-radius: 50px;" uib-btn-checkbox>ลูกจ้างทดลองงาน</label>
                    <label class="btn btn-md employee-type" ng-click="payroll.employeeTypeFilter()" ng-model="payroll.employeeTypeMode.daily" style="border-radius: 50px;" uib-btn-checkbox>ลูกจ้างรายวัน</label>
                </div>
              </div>
            </div>
          </div>
            <div class="fix-column">
                <div class="thead">
                    <span class="gap"></span>
                </div>
                <div class="thead top">
                    <span class="code">รหัส</span>
                    <span class="name">ชื่อ</span>
                </div>
                <div class="tbody">
                    <div class="trow" ng-repeat="(index, employee) in payroll.employees" ng-mouseover="hoverIn(employee.code)" ng-class="{'hilight': sel==employee.code}">
                        <span class="code">{{employee.code}}</span>
                        <span class="name">
                          <div ng-switch on="employee.deleted">
                            <div ng-switch-when="true">
                              <strong>{{employee.name}}</strong>
                            </div>
                            <div ng-switch-default>
                              <a href="/somsri_payroll#/employees/{{employee.code}}?payroll_id={{employee.payroll_id}}">
                                <strong>{{employee.name}}</strong>
                              </a>
                              <button ng-show="employee.note" uib-popover="{{employee.note}}" popover-title="หมายเหตุ" type="button" class="btn btn-note-bell" popover-class="note-popover">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                        </span>
                    </div>
                    <div class="trow tfoot">
                      <span style="width: 369px;"><strong>รวมทั้งหมด</strong></span>
                    </div>
                    <div class="trow tfoot">
                      <span class="free-space-table" style="width: 370px;"></span>
                    </div>
                </div>
            </div>
            <div class="rest-columns">
                <div class="theadtop">
                    <span class="income">รายการได้</span><span class="expenses">รายการหัก</span><span class="total"></span>
                </div>
                <div class="thead top">
                    <span>เงินเดือน</span>
                    <span>เงินสอนพิเศษ</span>
                    <span>ค่าตำแหน่ง</span>
                    <span>เบี้ยเลี้ยง</span>
                    <span>เบี้ยขยัน</span>
                    <span>โบนัส</span>
                    <span>อื่นๆ</span>
                    <span>ขาดงาน</span>
                    <span>สาย</span>
                    <span>ภาษี</span>
                    <span>ประกันสังคม</span>
                    <span>เงินสะสม</span>
                    <span>เบิกล่วงหน้า</span>
                    <span>อื่นๆ</span>
                    <span>เงินเดือนสุทธิ</span>
                </div>
                <div class="tbody" id="scrollbar-payroll">
                    <div class="trow" ng-repeat="(index, employee) in payroll.employees" ng-mouseover="hoverIn(employee.code)">
                        <span ng-class="{'hilight': sel==employee.code, 'salary': true, 'no-click': employee.closed}">
                          <div class="popover-wrapper right-popup" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-salary" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.salary" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'salary')">
                                {{employee.salary || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-green">{{employee.salary || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-ot" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.ot" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'ot')">
                              {{employee.ot || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-green">{{employee.ot || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-position_allowance" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.position_allowance" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'position_allowance')">
                              {{employee.position_allowance || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-green">{{employee.position_allowance || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-allowance" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.allowance" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'allowance')">
                              {{employee.allowance || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-green">{{employee.allowance || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-attendance_bonus" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.attendance_bonus" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'attendance_bonus')">
                              {{employee.attendance_bonus || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-green">{{employee.attendance_bonus || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-bonus" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.bonus" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'bonus')">
                              {{employee.bonus || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-green">{{employee.bonus || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-extra_etc" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.extra_etc" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'extra_etc')">
                              {{employee.extra_etc || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-green">{{employee.extra_etc || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-absence" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.absence" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'absence')">
                              {{employee.absence || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-red">{{employee.absence || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup' : index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-late" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.late" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'late')">
                              {{employee.late || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-red">{{employee.late || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code}" class="number_table no-click">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <span id="{{index}}-tax" class="text-red">
                              {{employee.tax || 0 | currency: ""}}
                            </span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code}" class="number_table no-click">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <span id="{{index}}-social_insurance" class="text-red">
                              {{employee.social_insurance || 0 | currency: ""}}
                            </span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code}" class="number_table no-click">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <span id="{{index}}-pvf" class="text-red">
                              {{employee.pvf || 0 | currency: ""}}
                            </span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-advance_payment" e-ng-focus="payroll.selectValue($event)" href="#" editable-number="employee.advance_payment" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'advance_payment')">
                              {{employee.advance_payment || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-red">{{employee.advance_payment || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code, 'no-click': employee.closed}" class="number_table">
                          <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                            <a ng-hide="employee.closed" id="{{index}}-fee_etc" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.fee_etc" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'fee_etc')">
                              {{employee.fee_etc || 0 | currency: ""}}
                            </a>
                            <span ng-show="employee.closed" class="text-red">{{employee.fee_etc || 0 | currency: ""}}</span>
                          </div>
                        </span>
                        <span ng-class="{'hilight': sel==employee.code}" id="{{index}}-net_salary" class="net_salary number_table no-click">{{employee.net_salary || 0 | currency: ""}}</span>
                    </div>
                    <div class="trow tfoot">
                      <!-- Income -->

                      <span class="text-green number_table total_salary no-click"><strong>{{payroll.total.salary | currency: "" }}</strong></span>
                      <span class="text-green number_table no-click"><strong>{{payroll.total.ot | currency: "" }}</strong></span>
                      <span class="text-green number_table no-click"><strong>{{payroll.total.position_allowance | currency: "" }}</strong></span>
                      <span class="text-green number_table no-click"><strong>{{payroll.total.allowance | currency: "" }}</strong></span>
                      <span class="text-green number_table no-click"><strong>{{payroll.total.attendance_bonus | currency: "" }}</strong></span>
                      <span class="text-green number_table no-click"><strong>{{payroll.total.bonus | currency: "" }}</strong></span>
                      <span class="text-green number_table no-click"><strong>{{payroll.total.extra_etc | currency: "" }}</strong></span>

                      <!-- Outcome -->
                      <span class="text-red number_table no-click"><strong>{{payroll.total.absence | currency: "" }}</strong></span>
                      <span class="text-red number_table no-click"><strong>{{payroll.total.late | currency: "" }}</strong></span>
                      <span class="text-red number_table no-click"><strong>{{payroll.total.tax | currency: "" }}</strong></span>
                      <span class="text-red number_table no-click"><strong>{{payroll.total.social_insurance | currency: "" }}</strong></td></span>
                      <span class="text-red number_table no-click"><strong>{{payroll.total.pvf | currency: "" }}</strong></span>
                      <span class="text-red number_table no-click"><strong>{{payroll.total.advance_payment | currency: "" }}</strong></span>
                      <span class="text-red number_table no-click"><strong>{{payroll.total.fee_etc | currency: "" }}</strong></span>
                      <!-- Result -->
                      <span class="net_salary number_table no-click">{{payroll.total.net_salary | currency: "" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
