<div id="payroll" class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4">
        <div class="dropdown">
          <h2 id="month-list" data-toggle="dropdown">
            <span ng-bind="payroll.currentDateString" ></span>
            <span class="caret"></span>
          </h2>
          <ul class="dropdown-menu" aria-labelledby="month-list">
            <li ng-repeat="effectiveDate in payroll.effectiveDates">
              <a ng-click="payroll.switchMonth(effectiveDate)">
                <button>{{ effectiveDate["date_string"] }}</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6" style="padding-right: 0px;">
        <div class="btn-group pull-right">
            <label class="btn btn-info btn-lg employee-type" ng-click="payroll.employeeTypeFilter()" ng-model="payroll.employeeTypeMode.normal" style="border-radius: 0px;" uib-btn-checkbox>ลูกจ้างประจำ</label>
            <label class="btn btn-info btn-lg employee-type" ng-click="payroll.employeeTypeFilter()" ng-model="payroll.employeeTypeMode.temporary" uib-btn-checkbox>ลูกจ้างชั่วคราว</label>
            <label class="btn btn-info btn-lg employee-type" ng-click="payroll.employeeTypeFilter()" ng-model="payroll.employeeTypeMode.probationary" uib-btn-checkbox>ลูกจ้างทดลองงาน</label>
            <label class="btn btn-info btn-lg employee-type" ng-click="payroll.employeeTypeFilter()" ng-model="payroll.employeeTypeMode.daily" style="border-radius: 0px;" uib-btn-checkbox>ลูกจ้างรายวัน</label>
        </div>
      </div>
      <div class="col-lg-2">
        <a class="btn btn-lg bg-yellow btn-block"
          href="/payrolls/social_insurance_pdf?effective_date={{payroll.currentEffectiveDate['date_time'] | encodeString }}"
          target="_blank">ประกันสังคม</a>
      </div>
      <div class="col-lg-2" ng-hide="true">
        <button type="button" class="btn btn-lg bg-yellow btn-block">
          <i class="fa fa-upload" aria-hidden="true"></i>
          Export for bank</button>
      </div>
    </div>
    <div class="row payroll-content container-fluid">
      <p class="text-right" ng-show="false">
        แก้ไขล่าสุด 25 ธ.ค. 59 10:50 โดย Somkid
      </p>
      <table id="tableHeader" class="table text-right scrollable-header" style="table-layout:fixed">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="7" class="income text-center">รายการได้</th>
            <th colspan="7" class="outcome text-center">รายการหัก</th>
            <th></th>
         </tr>
         <tr>
            <!-- Employee Data -->
            <th>รหัส</th>
            <th>ชื่อ</th>
            <th class="text-center">เลขบัญชีธนาคาร</th>
            <!-- Income -->
            <th class="text-center bordered">เงินเดือน</th>
            <th class="text-center bordered">เงินสอนพิเศษ</th>
            <th class="text-center bordered">ค่าตำแหน่ง</th>
            <th class="text-center bordered">เบี้ยเลี้ยง</th>
            <th class="text-center bordered">เบี้ยขยัน</th>
            <th class="text-center bordered">โบนัส</th>
            <th class="text-center bordered">อื่นๆ</th>
            <!-- Outcome -->
            <th class="text-center bordered">ภาษี</th>
            <th class="text-center bordered">ประกันสังคม</th>
            <th class="text-center bordered">เงินสะสม</th>
            <th class="text-center bordered">ขาดงาน</th>
            <th class="text-center bordered">สาย</th>
            <th class="text-center bordered">เบิกล่วงหน้า</th>
            <th class="text-center bordered">อืนๆ</th>
            <!-- Result -->
            <th class="text-center">เงินเดือนสุทธิ</th>
         </tr>
        </thead>
      </table>
      <div class="scrollable-content" style="max-height: calc(100vh - 305px);">
        <table id="tableData" class="table text-right" style="table-layout:fixed">
          <tbody>
            <tr ng-repeat="(index, employee) in payroll.employees">
              <!-- Employee Data -->
              <td class="text-left">{{employee.code}}</td>
              <td class="text-left">
                <a href="/#/somsri_payroll/employees/{{employee.code}}?payroll_id={{employee.payroll_id}}">
                  <strong>{{employee.name}}</strong>
                </a>
              </td>
              <td class="text-center">{{employee.account_number}}</td>
              <!-- Income -->
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-salary" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.salary" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'salary')">
                    {{employee.salary || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-ot" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.ot" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'ot')">
                    {{employee.ot || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-position_allowance" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.position_allowance" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'position_allowance')">
                    {{employee.position_allowance || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-allowance" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.allowance" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'allowance')">
                    {{employee.allowance || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-attendance_bonus" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.attendance_bonus" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'attendance_bonus')">
                    {{employee.attendance_bonus || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-bonus" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.bonus" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'bonus')">
                    {{employee.bonus || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-extra_etc" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.extra_etc" e-step="0.01" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'extra_etc')">
                    {{employee.extra_etc || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <!-- Outcome -->
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-tax" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.tax" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'tax')">
                    {{employee.tax || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-social_insurance" e-ng-focus="payroll.selectValue($event)" href="#" editable-number="employee.social_insurance" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'social_insurance')">
                    {{employee.social_insurance || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-pvf" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.pvf" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'pvf')">
                    {{employee.pvf || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-absence" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.absence" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'absence')">
                    {{employee.absence || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup' : index === 0}">
                  <a id="{{index}}-late" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.late" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'late')">
                    {{employee.late || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-advance_payment" e-ng-focus="payroll.selectValue($event)" href="#" editable-number="employee.advance_payment" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'advance_payment')">
                    {{employee.advance_payment || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <td class="bordered">
                <div class="popover-wrapper" ng-class="{'bottom-popup': index === 0}">
                  <a id="{{index}}-fee_etc" href="#" e-ng-focus="payroll.selectValue($event)" editable-number="employee.fee_etc" e-step="0.01" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'fee_etc')">
                    {{employee.fee_etc || 0 | currency: ""}}
                  </a>
                </div>
              </td>
              <!-- Result -->
              <td id="{{index}}-net_salary" class="text-green">{{employee.net_salary || 0 | currency: ""}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td class="text-center"><strong>รวมทั้งหมด</strong></td>
              <!-- Income -->
              <td class="text-green bordered"><strong>{{payroll.total.salary | currency: "" }}</strong></td>
              <td class="text-green bordered"><strong>{{payroll.total.ot | currency: "" }}</strong></td>
              <td class="text-green bordered"><strong>{{payroll.total.position_allowance | currency: "" }}</strong></td>
              <td class="text-green bordered"><strong>{{payroll.total.allowance | currency: "" }}</strong></td>
              <td class="text-green bordered"><strong>{{payroll.total.attendance_bonus | currency: "" }}</strong></td>
              <td class="text-green bordered"><strong>{{payroll.total.bonus | currency: "" }}</strong></td>
              <td class="text-green bordered"><strong>{{payroll.total.extra_etc | currency: "" }}</strong></td>
              <!-- Outcome -->
              <td class="text-red bordered"><strong>{{payroll.total.tax | currency: "" }}</strong></td>
              <td class="text-red bordered"><strong>{{payroll.total.social_insurance | currency: "" }}</strong></td>
              <td class="text-red bordered"><strong>{{payroll.total.pvf | currency: "" }}</strong></td>
              <td class="text-red bordered"><strong>{{payroll.total.absence | currency: "" }}</strong></td>
              <td class="text-red bordered"><strong>{{payroll.total.late | currency: "" }}</strong></td>
              <td class="text-red bordered"><strong>{{payroll.total.advance_payment | currency: "" }}</strong></td>
              <td class="text-red bordered"><strong>{{payroll.total.fee_etc | currency: "" }}</strong></td>
              <!-- Result -->
              <td class="text-green"><strong>{{payroll.total.net_salary | currency: "" }}</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
