<div class="row">
	<div class="col-xs-12">
		<div class="pull-right">
			<button class="btn btn-primary" ng-click="member.selectTeacher()">{{ 'select_teacher' | translate }}</button>
		</div>
	</div>
</div>
<div class="space20"></div>
<div class="row">
	<div class="col-xs-12">
		<div class="space20"></div>
		<div class="row table-list">
			<div class="col-xs-12">
				<table id="teacher-list" class="table-with-img-profile" data-toggle="table"></table>
			</div>
		</div>
	</div>
</div>
<div class="space30"></div>
<div class="row">
	<div class="col-xs-6">
		<button class="btn btn-custom btn-blue pull-right" ng-click="member.save()">{{ 'ok' | translate }}</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-white" ng-click="member.cancel()">{{ 'cancel' | translate }}</button>
	</div>
</div>
