<div class="container" >
	<div class="row">
		<div id="inventory">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-6 mb-20">
						<h1>{{ "details_inventory_request" | translate }}</h1>
					</div>
				</div>
				<div class="row">
					<ul class="col-md-12 nav nav-tabs inventory">
						<li class="cyan active">
							<a data-toggle="tab" class="ng-binding">{{ "inventory" | translate }}</a>
						</li>
					</ul>
				</div>
				<form ng-submit="inventory.save()">
					<button type="submit" class="submit" style="display: none;"></button>
					<div class="row report-content container-fluid panel-board" style="height: 300px;">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="item_name">{{"item_name" | translate}}</label>

										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="inventory_name" ng-model="inventory.name" required="true">
										</div>
									</div>
								</div>
								<div class="col-md-9">
									<div class="form-group">
										<label class="control-label" for="description">{{"description" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="inventory_description" ng-model="inventory.description" required="true">
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-20">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label" for="request_date">{{"request_date" | translate}}</label>
										<p class="input-group">
											<input id="request_date" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.datas.request_date" is-open="inventory.requestDatePopup.opened" close-text="Close" required="true"/>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" ng-click="inventory.openRequestDatePopup()" ><i class="fa fa-calendar"></i></button>
											</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="price">{{"price" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="number" id="inventory_price" ng-model="inventory.price" ng-validate="number" required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" parseFloat>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="user_request">{{"user_request" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="inventory_user" ng-model="inventory.user_name" required="true" >
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-20">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="request_type">{{"request_type" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="request_type" ng-model="inventory.change_request_type" disabled required="true" >
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="row mt-20">
					<div class="report-content container-fluid panel-board">
						<ul class="step d-flex flex-nowrap">
							<li class="step-item">
								<a href="#!" class="">
									<i class="fa fa-check fa-2x icon-in-step {{ currentLang }}"></i>
									<!-- <h3 class="text-in-step mt-0">1</h3>  -->
									{{ "approve_request" | translate }}
								</a>
							</li>
							<li class="step-item">
								<a href="#!" class="">
									<i class="fa fa-check fa-2x icon-in-step2 {{ currentLang }}"></i>
									<!-- <h3 class="text-in-step2 mt-0">2</h3>  -->
									{{ "inventory_purchase" | translate }}
								</a>
							</li>
							<li class="step-item active">
								<a href="#!" class="">
									<!-- <i class="fa fa-check fa-2x icon-in-step2"></i> --> 
									<h3 class="text-in-step3 mt-0 {{ currentLang }}">3</h3>
									{{ "get_inventory" | translate }}
								</a>
							</li>
							<li class="step-item ">
								<a href="#!" class="">
									<!-- <i class="fa fa-check fa-2x icon-in-step"></i>  -->
									<h3 class="text-in-step4 mt-0 {{ currentLang }}">4</h3>
									{{ "dispatch_to_employees" | translate }}    
								</a>
							</li>
						</ul>
						<form ng-submit="inventory.continue()">  
							<div class="row mt-50">
								<div class="col-md-4">
	                <div class="form-group">
	                  <label class="control-label" for="date_get_inventory">{{ "date_get_inventory" | translate }}</label>
	                  <p class="input-group">
	                    <input id="date_get_inventory" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.date_get_inventory" is-open="inventory.getInventoryDatePopup.opened" close-text="Close" required="true"/>
	                    <span class="input-group-btn">
	                      <button type="button" class="btn btn-default" ng-click="inventory.opengetInventorytDatePopup()" ><i class="fa fa-calendar"></i></button>
	                    </span>
	                  </p>
	                </div>
              	</div>
								<div class="col-md-4">
                	<div class="form-group">
                  	<label class="control-label" for="buy_slip">{{ "buy_slip" | translate }}</label>
                  	<div class="col-md-12">
                    	<input class="form-control" autocomplete="off" type="text" id="buy_slip" ng-model="inventory.buy_slip" required="true">
                  	</div>
                	</div>
              	</div>
              	<div class="col-md-4">
	                <div class="form-group">
	                  <label class="control-label" for="end_warranty">{{ "end_warranty" | translate }}</label>
	                  <p class="input-group">
	                    <input id="end_warranty" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.end_warranty" is-open="inventory.endWarrantyDatePopup.opened" close-text="Close" />
	                    <span class="input-group-btn">
	                      <button type="button" class="btn btn-default" ng-click="inventory.openEndwarrantytDatePopup()" ><i class="fa fa-calendar"></i></button>
	                    </span>
	                  </p>
	                </div>
              	</div>
							</div>
							<div class="row mt-20">
								<div class="col-md-4">
	                <div class="form-group">
	                  <label class="control-label" for="serial_number">{{ "serial_number" | translate}} </label>
	                  <div class="col-md-12">
	                    <input class="form-control" autocomplete="off" type="text" id="inventory_serial_number" ng-model="inventory.serial_number" >
	                  </div>
	                </div>
              	</div>
	              <div class="col-md-4">
	                <div class="form-group">
	                  <label class="control-label" for="model">{{ "model" | translate }}</label>
	                  <div class="col-md-12">
	                    <input class="form-control" autocomplete="off" type="text" id="inventory_model" ng-model="inventory.model" >
	                  </div>
	                </div>
	              </div>
	             	<div class="col-md-4">
	                <div class="form-group ">
	                  <label class="control-label" for="category">{{ "category" | translate }}</label>
	                  <div class="col-md-12">
	                    <select class="form-control" id="inventory_category" ng-model="inventory.category" ng-change="inventory.switchCategory()" required="true">
	                      <option value="{{ 'select_category' | translate }}">{{ "select_category" | translate }}</option>
	                      <option ng-repeat="item in inventory.item_catogery" value="{{item.name}}">{{ item.name | translate }}</option>
	                    </select>
	                  </div>
	                </div>
	              </div>
							</div>
							<div class="row mt-20">
	    					<div class="col-md-4">
	                <div class="dropdown">
	                  <label class="control-label" for="supplier">{{ "supplier" | translate }}</label>
	                  <div class="form-group">
	                    <input type="text" class="form-control" id="supplier_name" placeholder="{{ 'supplier' | translate }}" ng-model="inventory.supplier_name" ng-change="inventory.onChangeSupplier()" typeahead-on-select="inventory.onSelectSupplier($item)" uib-typeahead="inventory.name as inventory.name for inventory in inventory.supplier_lists | filter:{name:$viewValue} | limitTo:8" required="true", autocomplete="off">
	                  </div>
	                </div>
	              </div>
	              <div class=" padding-left10">
	                <button type="button" class="btn btn-custom btn-orange ng-binding" ng-click="inventory.openAddSupplierModal()" >{{ "add_supplier" | translate }}</button>
	              </div>
							</div>
							<div class="row mt-20">
								<div class="col-md-2">
									<button type="submit" class="btn btn-custom btn-continue ng-binding btn-block  padding-left10">{{ "continue" | translate }}</button>
								</div>
								<div class="col-md-2 pl-0">
									<button type="button" class="btn btn-custom btn-gray ng-binding btn-block  padding-left10" ng-click="inventory.cancel()">{{ "cancel" | translate }}</button>
								</div>
							</div>
						</form>
						<div class="row mt-20"  style="color: #B6B6B6;">
							<p class="pl-20" >
								{{ "date_purchase_inventory" | translate }}:  {{ inventory.date_purchase }}  <br>
								{{ "date_send_inventory" | translate }}:  {{ inventory.date_send }} <br>
								{{ "price" | translate }}: {{ inventory.price_step2 }} {{ "bath" | translate }} ({{ "save_by" | translate }} {{ inventory.save_by_step2 }})
							</p>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
	<div class="row">
		<div class="footer-menu mt-20">
			<div class="pull-right text-right padding-left10">
				<button type="button" class="btn btn-custom btn-gray ng-binding" ng-click="inventory.backToRooView()">{{ "cancel" | translate }}</button>
			</div>
			<div class="pull-right text-right padding-left10">
				<button type="button" class="btn btn-custom btn-blue ng-binding" onclick="$('.submit').trigger('click')">{{ "save" | translate }}</button>
			</div>
		</div>
	</div>		
</div>

			


              