
<div class="row">
  <div class="col-md-12">
    <form ng-submit="vm.submitEmployeeSkill(vm.skill)">
      <div class="row">
        <div class="form-group col-md-7">
          <label for="name">{{ 'skill' | translate }}</label>
          <input id="name" type="text" name="name" ng-model="vm.skill.name" class="form-control" autocomplete="off" reuired>
        </div>
        <div class="form-group col-md-3">
          <label for="score">{{ 'score' | translate }}</label>
          <input id="score" type="number" name="score" ng-model="vm.skill.score" class="form-control text-center" max="10" min="0" reuired>
        </div>
        <div class="col-md-2">
          <h3>
            <button class="btn btn-success btn-block">{{ 'add' | translate }}</button>
          </h3>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12">
    <div class="row" ng-repeat="skill in vm.employeeSkills">
      <div class="col-md-8">
        <strong>{{ skill.skill_name }}</strong>
        <span class="label" style="background-color: {{ vm.getScoreColor(skill.score) }}">{{ skill.score }}</span>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-danger" ng-click="vm.removeEmployeeSkill(skill.id, $index)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
