<div id="classroom-edit" class="container" style="width: 960px; margin-top: 40px">
  <div class="content-box">
    <div class="row">
      <div class="col-xs-12">
        <h2><b>{{ 'edit_classroom' | translate }}</b></h2>
      </div>
    </div>
    <div class="space30"></div>
    <div class="row">
      <div class="col-xs-8">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label for="grade" class="control-label">{{ 'grade_classroom' | translate }}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input class="form-control" name="grade" ng-model="edit.classroom.grade" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label for="classroom" class="control-label">{{ 'classroom' | translate }}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input class="form-control" name="classroom" ng-model="edit.classroom.classroom" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <uib-tabset>
          <uib-tab index="0" heading="{{ 'teacher' | translate }}">
            <div class="row">
              <div class="col-xs-12">
                <div class="pull-right">
                  <button class="btn btn-primary" ng-click="edit.selectTeacher()">{{ 'select_teacher' | translate }}</button>
                </div>
              </div>
            </div>
            <div class="space20"></div>
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <table id="teacher-list" class="classroom-table table-with-img-profile table table-striped" data-toggle="table"></table>
                  </div>
                </div>
              </div>
            </div>
            <div class="space30"></div>
            <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-custom btn-blue pull-right" ng-click="edit.save()">{{'save' | translate }}</button>
              </div>
              <div class="col-xs-6">
                <button class="btn btn-white" ng-click="edit.cancel()">{{ 'cancel' | translate }}</button>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="{{ 'student' | translate }}">
            <div class="row">
              <div class="col-xs-12">
                <div class="pull-right">
                  <button class="btn btn-primary" ng-click="edit.selectStudent()">{{ 'select_student' | translate }}</button>
                </div>
              </div>
            </div>
            <div class="space20"></div>
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <table id="student-list" class="classroom-table table-with-img-profile table table-striped" data-toggle="table"></table>
                  </div>
                </div>
              </div>
            </div>
            <div class="space30"></div>
            <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-custom btn-blue pull-right" ng-click="edit.save()">{{ 'save' | translate }}</button>
              </div>
              <div class="col-xs-6">
                <button class="btn btn-white" ng-click="edit.cancel()">{{ 'cancel' | translate }}</button>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>
