<div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-md-12">
        <b class="modal-title font-16 mt-50" id="modal-title">{{confirm.message}}</b>
        <textarea class="col-md-12 mt-20" rows="4" cols="50"></textarea>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-md-3 pull-right">
        <button class="btn btn-custom btn-gray" ng-click="confirm.close()">{{ 'cancel' | translate }}</button>
      </div>
      <div class="col-md-3 pull-right">
        <button class="btn btn-custom btn-red" ng-click="confirm.ok()">{{ 'ok' | translate }}</button>
      </div>
    </div>
  </div>
</div>