<div class="container" >
	<div class="row">
		<div id="inventory">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-6 mb-20 pl-0">
						<h1>{{ "detal_repair" | translate }}</h1>
					</div>
				</div>
				<form ng-submit="inventory.save()">
					<button type="submit" class="submit" style="display: none;"></button>
					<div class="row report-content container-fluid panel-board">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="employee_name">{{"employee_name" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="employee_name" ng-model="inventory.employee_name" required="true">
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="item_name">{{"item_name" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="item_name" ng-model="inventory.item_name" required="true">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="serial_number">{{"serial_number" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="inventory_serial_number" ng-model="inventory.serial_number" required="true">
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-20">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="reason">{{"reason" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="reason" ng-model="inventory.reason" required="true">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="row mt-20">
					<div class="report-content container-fluid panel-board">
						<ul class="step d-flex flex-nowrap">
							<li class="step-item">
								<a href="#!" class="">
									<i class="fa fa-check fa-2x icon-in-step-repair1 {{ currentLang }}"></i>
									<!-- <h3 class="text-in-step mt-0">1</h3>  -->
									{{ "confirm_accept" | translate }}
								</a>
							</li>
							<li class="step-item">
								<a href="#!" class="">
									<i class="fa fa-check fa-2x icon-in-step-repair2 {{ currentLang }}"></i>
									<!--  <h3 class="text-in-step-repair2 mt-0">2</h3> -->
									{{ "sent_repair" | translate }}
								</a>
							</li>
							<li class="step-item">
								<a href="#!" class="">
									<i class="fa fa-check fa-2x icon-in-step-repair3 {{ currentLang }}"></i> 
									<!-- <h3 class="text-in-step-repair3 mt-0">3</h3> -->
									{{ "repairs_completed" | translate }}
								</a>
							</li>
							<li class="step-item active">
								<a href="#!" class="">
									<!-- <i class="fa fa-check fa-2x icon-in-step"></i>  -->
									<h3 class="text-in-step4 mt-0 {{ currentLang }}">4</h3>
									{{ "dispatch_to_employees" | translate }}    
								</a>
							</li>
						</ul>
						<form ng-submit="inventory.continue()"> 
							<div class="row mt-50">
								<div class="col-md-4">
									<div class="form-group">
										<input type="text" class="form-control" id="employee_name" placeholder="{{ 'employee_name' | translate }}" ng-model="inventory.employee_name"  typeahead-on-select="inventory.onSelectEmployee($item)" ng-change="inventory.onChangeEmployee()" uib-typeahead="inventory.name as inventory.name for inventory in inventory.employee_lists | filter:{name:$viewValue} | limitTo:8" required , autocomplete="off">
										</div>
									</div>
							</div>
							<div class="row mt-20">
								<div class="col-md-2">
									<button type="submit" class="btn btn-custom btn-continue ng-binding btn-block  padding-left10">{{ "continue" | translate }}</button>
								</div>
								<div class="col-md-2 pl-0">
									<button type="button" class="btn btn-custom btn-gray ng-binding btn-block  padding-left10" ng-click="inventory.cancel()">{{ "cancel" | translate }}</button>
								</div>
							</div>
						</form>
						<div class="row mt-20">
							<p class="pl-20" style="color: #B6B6B6;" >{{ "receive_parcel_at_date" | translate }} {{ inventory.return_date }}  </p>
							<p class="pl-20" style="color: #B6B6B6;" >{{ "expenses" | translate }} {{ inventory.price }}  </p>
							<p class="pl-20" style="color: #B6B6B6;" >{{ "receipt" | translate }} {{ inventory.receipt }} ({{ "save_by" | translate }} {{ inventory.step3_save_by }})  </p>
						</div>
					</div>
				</div>
				<div class="footer-menu row mt-20">
					<div class="pull-right text-right padding-left10">
						<button type="button" class="btn btn-custom btn-gray ng-binding" ng-click="inventory.backToRootView()">{{ "cancel" | translate }}</button>
					</div>
					<div class="pull-right text-right padding-left10">
						<button type="button" class="btn btn-custom btn-blue ng-binding" onclick="$('.submit').trigger('click')">{{ "save" | translate }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
				
				
								