<div class="container" >
		<form ng-submit="inventory.save()">
			<div class="row">
				<div id="inventory">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-6 mb-20 pl-0">
								<h1>{{ "detal_repair" | translate }}</h1>
							</div>
						</div>
						<div class="row report-content container-fluid panel-board">
							<div class="tab-content">
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label class="control-label" for="employee_name">{{"employee_name" | translate}}</label>
		
											<div class="col-md-12">
												<input class="form-control" autocomplete="off" type="text" id="employee_name" ng-model="employee.name" required="true">
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label class="control-label" for="item_name">{{"item_name" | translate}}</label>
											<div class="col-md-12">
												<input class="form-control" autocomplete="off" type="text" id="item_name" ng-model="inventory.item_name" required="true">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label" for="serial_number">{{"serial_number" | translate}}</label>
											<div class="col-md-12">
												<input class="form-control" autocomplete="off" type="text" id="inventory_serial_number" ng-model="inventory.serial_number" required="true">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mt-20" style="height: 300px;">
							<div class="row">
								<div class="report-content container-fluid panel-board"  >
									<ul class="step d-flex flex-nowrap">
										<li class="step-item active">
											<a href="#!" class="">
												<!--  <i class="fa fa-check fa-2x icon-in-step"></i> -->
												<h3 class="text-in-step-repair1 mt-0">1</h3> 
												{{ "confirm_accept" | translate }}
											</a>
										</li>
										<li class="step-item">
											<a href="#!" class="">
												<!-- 	<i class="fa fa-check fa-2x icon-in-step"></i> -->
												<h3 class="text-in-step-repair2 mt-0">2</h3> 
												{{ "sent_repair" | translate }}
											</a>
										</li>
										<li class="step-item">
											<a href="#!" class="">
												<!-- <i class="fa fa-check fa-2x icon-in-step2"></i> --> 
												<h3 class="text-in-step-repair3 mt-0">3</h3>
												{{ "repairs_completed" | translate }}
											</a>
										</li>
										<li class="step-item">
											<a href="#!" class="">
												<!-- <i class="fa fa-check fa-2x icon-in-step"></i>  -->
												<h3 class="text-in-step4 mt-0">4</h3>
												{{ "dispatch_to_employees" | translate }}  
											</a>
										</li>
									</ul> 
									<div class="row mt-50">
										<b class="font-16 pl-20 ">{{ "approve_repair" | translate }}</b>
									</div>
									<div class="row mt-20">
										<div class="col-md-2">
											<button type="button" class="btn btn-custom btn-green ng-binding btn-block  padding-left10" ng-click="inventory.accept()">{{ "accept" | translate }}</button>
										</div>
										<div class="col-md-2 pl-0">
											<button type="button" class="btn btn-custom btn-red ng-binding btn-block  padding-left10" ng-click="inventory.reject()">{{ "reject" | translate }}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="footer-menu row mt-20">
							<div class="pull-right text-right padding-left10">
								<button type="button" class="btn btn-custom btn-gray ng-binding" ng-click="inventory.cancel()">{{ "cancel" | translate }}</button>
							</div>
							<div class="pull-right text-right padding-left10">
								<button type="submit" class="btn btn-custom btn-blue ng-binding">{{ "save" | translate }}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
					
					
									