<div class="container-fluid blue-bg"style="margin-left:0px;">
  <div class="row head-sp justify-content-between">
     <h3><i class="fas fa-arrow-left employee-view-icon.active"></i> &nbsp; Create Scout Information</h3>
  </div>
  <%= javascript_include_tag 'preview_image' %>
  <script src="https://kit.fontawesome.com/1ffa964d13.js"></script>


<style>
.label{
  color: #337ab7;
  padding: 8px;
}
</style>

  <div class="content-scout" style="padding:15px">
  <form name="createCandidateForm" ng-submit="createCandidate.submit(createCandidate.datas)">
    <!-- Profile Img/ From / Btn -->
    <div class="row">
    
      <!-- Profile Img -->
      <div class="col-md-2"style="padding-left:20px">
        <div class="col-md-12">
          {{ 'picture' | translate }}
        </div>

        <div class="col-md-12">
          <div class="img-profile cursor-pointer" ngf-select="employee.uploadPhoto($file)">
                  <div ng-switch on="employee.datas.img_url.length > 0">
                    <div ng-switch-when="true">
                      <div class="img-bg " style="background: url('{{ employee.datas.img_url }}')"></div>
                    </div>
                    <div ng-switch-default>
                      <i class="fa fa-file-upload icons-default-img2 center font-size-icon font-white" aria-hidden="true"></i>
                      <div class="img-bg bg-light-gray"></div>
                    </div>
                  </div>
                </div>
        </div>
      </div>

      <!-- From info -->
      <div class="col-md-5">
      
        <!-- Name/NickName -->
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              {{ 'nameE' | translate }}
              <div class="col-md-12">
                <input type="text" class="form-control" id="full_name" ng-model="createCandidate.datas.candidate.full_name">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              {{ 'nicknameE'  | translate }}
              <div class="col-md-12">
                <input type="text" class="form-control" id="nick_name" ng-model="createCandidate.datas.candidate.nick_name">
              </div>
            </div>
          </div>
        </div>

        <!-- Email/Mobile -->
        <div class="row">
          <div class="col-md-8">
              <div class="form-group">
                {{ 'email'  | translate }}
                <div class="col-md-12">
                  <input type="text" class="form-control" id="email" ng-model="createCandidate.datas.candidate.email">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                {{ 'mobileE'  | translate }}
                <div class="col-md-12">
                  <input type="text" class="form-control" id="phone" ng-model="createCandidate.datas.candidate.phone">
                </div>
              </div>
            </div>
        </div>

        <!-- From/Year -->
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              {{ 'schoolE'  | translate }}
              <div class="col-md-12">
                <input type="text" class="form-control" id="from" ng-model="createCandidate.datas.candidate.from">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              {{ 'grade_idE'  | translate }}
              <div class="col-md-12">
                <input type="text" class="form-control" id="school_year" ng-model="createCandidate.datas.candidate.school_year">
              </div>
            </div>
          </div>

        </div>

        <!-- Current Ability/Learn Ability/Attention Ability -->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              {{ 'CurrentAbility'  | translate }}
              <div class="col-md-12">
                <select class="form-control somsri-select" id="current_ability" ng-model="createCandidate.datas.candidate.current_ability">
                  <option value=0>0</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                  <option value=8>8</option>
                  <option value=9>9</option>
                  <option value=10>10</option>
                  <option value=11>11</option>
                  <option value=12>12</option>
                  <option value=13>13</option>
                  <option value=14>14</option>
                  <option value=15>15</option>
                  <option value=16>16</option>
                  <option value=17>17</option>
                  <option value=18>18</option>
                  <option value=19>19</option>
                  <option value=20>20</option>

                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              {{ 'LearnAbility'  | translate }}
              <div class="col-md-12">
                <select class="form-control somsri-select" id="learn_ability" ng-model="createCandidate.datas.candidate.learn_ability">
                  <option value=0>0</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                  <option value=8>8</option>
                  <option value=9>9</option>
                  <option value=10>10</option>
                  <option value=11>11</option>
                  <option value=12>12</option>
                  <option value=13>13</option>
                  <option value=14>14</option>
                  <option value=15>15</option>
                  <option value=16>16</option>
                  <option value=17>17</option>
                  <option value=18>18</option>
                  <option value=19>19</option>
                  <option value=20>20</option>

                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              {{ 'AttentionAbility'  | translate }}
              <div class="col-md-12">
                <select class="form-control somsri-select" id="attention" ng-model="createCandidate.datas.candidate.attention">
                  <option value=0>0</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                  <option value=7>7</option>
                  <option value=8>8</option>
                  <option value=9>9</option>
                  <option value=10>10</option>
                  <option value=11>11</option>
                  <option value=12>12</option>
                  <option value=13>13</option>
                  <option value=14>14</option>
                  <option value=15>15</option>
                  <option value=16>16</option>
                  <option value=17>17</option>
                  <option value=18>18</option>
                  <option value=19>19</option>
                  <option value=20>20</option>

                </select>
              </div>
            </div>
          </div>

        </div>

        <!-- Interest -->
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              {{ 'Interest'  | translate }}
              <div class="col-md-12">
                <input type="text" class="form-control" id="interest" ng-model="createCandidate.datas.candidate.interest">
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Btn -->
      <div class="col-md-5">
        <div class="form-group somsri-invoice" style="margin-top: 25px; text-align:right">
          <button type="submit" class ="btn btn-submit2"><i class="fas fa-file-import"></i>&nbsp;{{ 'Create' | translate }}</button><br><br>
          <button type="button" class ="btn btn-cancel2"><i class="fas fa-trash-alt"></i>&nbsp;{{ 'Cancel' | translate }}</button>
        </div>
      </div>

    </div>

    <!-- Skill / Note -->
    <div class="row" style="padding-top:35px" >

      <!-- Skill -->
      <div class="col-md-7">
        <div class="row"style="margin:0px">

          <!--ProgramSkill -->
          <div class="col-md-6">
            <div class="form-group" style="padding-left:20px;margin:0px">
              <div class="row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
                {{ 'NoteE'  | translate }}
              </div>
              <div class="row" style="padding-top:25px;margin:0px">
                <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="nosfate" rows="3" ng-model="createCandidate.datas.candidate.nasdasdote"></textarea>
              </div>
            </div>
          </div>

          <!--ProgramSkill -->
          <div class="col-md-6" style="padding-right:0px;">
            <div class="form-group" style="margin:0px">
              <div class="row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
                {{ 'NoteE'  | translate }}
              </div>
              <div class="row" style="padding-top:25px;margin:0px">
                <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>

              <div class="row" style="padding-top:25px;border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
                {{ 'NoteE'  | translate }}
              </div>
              <div class="row" style="padding-top:25px;margin:0px">
                <textarea class="form-control" style="border:solid 1px #ddd;" rows="8" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
          </div>

    
        </div>
      </div>

      <!-- Note -->
      <div class="col-md-5">
        <div class="form-group"style="margin:0px">
          <div class="row" style="border-bottom: 1px solid #ddd;padding-bottom:10px;;margin:0px">
            {{ 'NoteE'  | translate }}
          </div>
          <div class="row" style="padding-top:25px;margin:0px">
            <textarea class="form-control" style="border:solid 1px #ddd;" rows="10" id="note" ng-model="createCandidate.datas.candidate.note"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  </div>