<div class="container-fluid blue-bg"style="margin-left:0px;">
  <div class="row-head-sp justify-content-between">
     <i class="fas fa-arrow-left employee-view-icon.active" ng-click="createCandidate.cancelSubmit()"></i> &nbsp; {{ 'Create New Candidate' | translate }}
  </div>
  <%= javascript_include_tag 'preview_image' %>
  <script src="https://kit.fontawesome.com/1ffa964d13.js"></script>


<style>
.label{
  color: #337ab7;
  padding: 8px;
}
</style>

  <div class="content-scout" style="padding:15px">
  <form name="createCandidateForm" ng-submit="createCandidate.submit(createCandidate.datas)">
    <!-- Profile Img/ From / Btn -->
    <div class="row">
    
      <!-- Profile Img -->
      <div class="col-md-2"style="padding-left:20px">
        <div class="col-md-12">
          <label>{{ 'picture' | translate }}</label>
        </div>

        <div class="col-md-12">
          <div class="img-profile cursor-pointer" ngf-select="employee.uploadPhoto($file)">
                  <div ng-switch on="employee.datas.img_url.length > 0">
                    <div ng-switch-when="true">
                      <div class="img-bg " style="background: url('{{ employee.datas.img_url }}')"></div>
                    </div>
                    <div ng-switch-default>
                      <i class="fa fa-file-upload icons-default-img2 center font-size-icon font-white" aria-hidden="true"></i>
                      <div class="img-bg bg-light-gray"></div>
                    </div>
                  </div>
                </div>
        </div>
      </div>

      <!-- From info -->
      <div class="col-md-5">
      
        <!-- Name/NickName -->
        <div class="row">
          <div class="col-md-8" style="padding-left:0px; padding-rigth:0px;">
            <div class="form-group">
              <label>{{ 'nameE' | translate }}</label>
              <div class="col-md-12">
                <input type="text" class="form-control text-blue" id="full_name" ng-change="createCandidate.isFull_nameFill()" ng-model="createCandidate.datas.candidate.full_name">
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-left:0px; padding-rigth:0px;">
            <div class="form-group">
              <label>{{ 'nicknameE'  | translate}}</label>
              <div class="col-md-12">
                <input type="text" class="form-control text-blue" id="nick_name" ng-change="createCandidate.isNick_nameFill()" ng-model="createCandidate.datas.candidate.nick_name">
              </div>
            </div>
          </div>
        </div>

        <!-- Email/Mobile -->
        <div class="row">
          <div class="col-md-8" style="padding-left:0px; padding-rigth:0px;">
              <div class="form-group">
                <label>{{ 'email'  | translate}}</label>
                <div class="col-md-12">
                  <input type="text" class="form-control text-blue" id="email" ng-change="createCandidate.isEmailFill()" ng-model="createCandidate.datas.candidate.email">
                </div>
              </div>
            </div>
            <div class="col-md-4" style="padding-left:0px; padding-rigth:0px;">
              <div class="form-group">
                <label>{{ 'mobileE'  | translate}}</label>
                <div class="col-md-12">
                  <input type="text" class="form-control text-blue" id="phone" ng-change="createCandidate.isPhoneFill()" ng-model="createCandidate.datas.candidate.phone">
                </div>
              </div>
            </div>
        </div>

        <!-- From/Year -->
        <div class="row">
          <div class="col-md-8" style="padding-left:0px; padding-rigth:0px;">
            <div class="form-group">
              <label>{{ 'schoolE'  | translate}}</label>
              <div class="col-md-12">
                <input type="text" class="form-control text-blue" id="from" ng-change="createCandidate.isFromFill()" ng-model="createCandidate.datas.candidate.from">
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-left:0px; padding-rigth:0px;">
            <div class="form-group">
              <label>{{ 'grade_idE'  | translate}}</label>
              <div class="col-md-12">
                <input type="text" class="form-control text-blue" id="school_year" ng-change="createCandidate.isSchool_yearFill()" ng-model="createCandidate.datas.candidate.school_year">
              </div>
            </div>
          </div>

        </div>

        <!-- Current Ability/Learn Ability/Attention Ability -->
        <div class="row">
          <div class="col-md-4" style="padding-left:0px; padding-rigth:0px;">
            <div class="form-group">
              <label>{{ 'CurrentAbility'  | translate}}</label>
              <div class="col-md-12" style="padding-left:0px; padding-rigth:0px;">
                <select class="form-control text-blue somsri-select" id="current_ability" ng-options='point as point for point in points' ng-model="createCandidate.datas.candidate.current_ability">
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-left:0px; padding-rigth:0px;">
            <div class="form-group">
              <label>{{ 'LearnAbility'  | translate}}</label>
              <div class="col-md-12" style="padding-left:0px; padding-rigth:0px;">
                <select class="form-control text-blue somsri-select" id="learn_ability" ng-options='point as point for point in points' ng-model="createCandidate.datas.candidate.learn_ability">
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-left:0px; padding-rigth:0px;">
            <div class="form-group">
              <label>{{ 'AttentionAbility'  | translate}}</label>
              <div class="col-md-12" style="padding-left:0px; padding-rigth:0px;">
                <select class="form-control text-blue somsri-select" id="attention" 
                ng-model="createCandidate.datas.candidate.attention"
                ng-options='point as point for point in points'
                >

                </select>
              </div>
            </div>
          </div>

        </div>

        <!-- Interest -->
        <div class="row">
          <div class="col-md-8" style="padding-left:0px; padding-rigth:0px;">
            <div class="form-group">
              <label>{{ 'Interest'  | translate}}</label>
              <div class="col-md-12" style="padding-left:0px; padding-rigth:0px;">
                <input type="text" class="form-control text-blue" id="interest" ng-model="createCandidate.datas.candidate.interest">
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Btn -->
      <div class="col-md-5">
        <div class="form-group somsri-invoice" style="margin-top: 25px; text-align:right">
          <button type="submit" class ="btn btn-submit2" ng-disabled="createCandidate.cannotSubmit"><i class="fas fa-file-import"></i>&nbsp;{{ 'Create' | translate }}</button><br><br>
          <button type="button" class ="btn btn-cancel2" ng-click="createCandidate.cancelSubmit()"><i class="fas fa-trash-alt"></i>&nbsp;{{ 'Cancel' | translate }}</button>
        </div>
      </div>

    </div>

    <!-- Skill / Note -->
    <div class="row" style="padding-top:35px" >

      <!-- Skill -->
      <div class="col-md-7">
        <div class="row"style="margin:0px">

          <!--ProgramSkill -->
          <div class="col-md-6">  
            <div class="form-group" style="padding-left:20px;margin:0px">
              <div class="row-head" style="border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
                {{ 'Programing Skill'  | translate }}
              </div>

              <!-- List ProgramSkill -->
              <div class="row" style="padding-top:25px;margin:0px">
                <div ng-repeat="item in createCandidate.listProgrammingSkill">
                  <div class="col-md-8" style="padding:5px;">
                    <span style="margin-right: 50px;">{{item.skill}}</span>
                  </div>
                  <div class="col-md-2" style="padding:5px;">
                    <span>{{item.value}}</span>
                  </div>
                  <div class="col-md-1" style="padding:5px;">
                    <button type="button" class="close" aria-label="Close" ng-click="createCandidate.deleteProgrammingSkill($index)"><span aria-hidden="true">&times;</span></button>
                  </div>
                </div>
              </div>

              <!-- ADD ProgramSkill -->
              <div class="row" style="margin:0px;">
                <div class="form-group" style="margin:0px;">
                  <div class="col-md-6" style="padding:5px;">
                    <input type="text" class="form-control" ng-model="createCandidate.listScoreSkill[0]">
                  </div>
                  <div class="col-md-3" style="padding:5px;" >                
                    <select class="form-control " ng-model="createCandidate.listScoreSkill[1]">
                      <option ng-repeat="i in createCandidate.score">{{i}}</option>   
                    </select>
                  </div>
                  <div class="col-md-3" style="padding:5px;">
                    <button type="button" class ="btn btn-skill" ng-click="createCandidate.addProgrammingSkill()">+ {{ 'Add'  | translate }}</button>
                  </div>
                </div> 
              </div>

            </div>
          </div>

          <!--Soft/Design Skill -->
          <div class="col-md-6" style="padding-right:0px;">
            <div class="form-group" style="margin:0px">

              <!--Soft Skill -->
              <div class="row-head" style="border-bottom: 1px solid #ddd;padding-bottom:10px;margin:0px">
                {{ 'Soft Skill'  | translate }}
              </div>

              <!-- List SoftSkill -->
              <div class="row" style="padding-top:25px;margin:0px">
                <div ng-repeat="item in createCandidate.listSoftSkill">
                  <div class="col-md-8" style="padding:5px;">
                    <span style="margin-right: 50px;">{{item.skill}}</span>
                  </div>
                  <div class="col-md-2" style="padding:5px;">
                    <span>{{item.value}}</span>
                  </div>
                  <div class="col-md-1" style="padding:5px;">
                    <button type="button" class="close" aria-label="Close" ng-click="createCandidate.deleteSoftSkill($index)"><span aria-hidden="true">&times;</span></button>
                  </div>
                </div>
              </div>

              <!-- ADD SoftSkill -->
              <div class="row" style="margin:0px;">
                <div class="form-group" style="margin:0px;">
                  <div class="col-md-6" style="padding:5px;">
                    <input type="text" class="form-control" ng-model="createCandidate.listScoreSkill[2]">
                  </div>
                  <div class="col-md-3" style="padding:5px;" >                
                    <select class="form-control " ng-model="createCandidate.listScoreSkill[3]">
                      <option ng-repeat="i in createCandidate.score">{{i}}</option>   
                    </select>
                  </div>
                  <div class="col-md-3" style="padding:5px;">
                    <button type="button" class ="btn btn-skill" ng-click="createCandidate.addSoftSkill()">+ {{ 'Add'  | translate }}</button>
                  </div>
                </div> 
              </div>


              <!--Design Skill -->
              <div class="row-head" style="border-bottom: 1px solid #ddd;padding-bottom:10px;padding-top:35px;margin:0px">
                {{ 'Design Skill'  | translate }}
              </div>

              <!-- List DesignSkill -->
              <div class="row" style="padding-top:25px;margin:0px">
                <div ng-repeat="item in createCandidate.listDesignSkill">
                  <div class="col-md-8" style="padding:5px;">
                    <span style="margin-right: 50px;">{{item.skill}}</span>
                  </div>
                  <div class="col-md-2" style="padding:5px;">
                    <span>{{item.value}}</span>
                  </div>
                  <div class="col-md-1" style="padding:5px;">
                    <button type="button" class="close" aria-label="Close" ng-click="createCandidate.deleteDesignSkill($index)"><span aria-hidden="true">&times;</span></button>
                  </div>
                </div>
              </div>

              <!-- ADD DesignSkill -->
              <div class="row" style="margin:0px;">
                <div class="form-group" style="margin:0px;">
                  <div class="col-md-6" style="padding:5px;">
                    <input type="text" class="form-control" ng-model="createCandidate.listScoreSkill[4]">
                  </div>
                  <div class="col-md-3" style="padding:5px;" >                
                    <select class="form-control " ng-model="createCandidate.listScoreSkill[5]">
                      <option ng-repeat="i in createCandidate.score">{{i}}</option>   
                    </select>
                  </div>
                  <div class="col-md-3" style="padding:5px;">
                    <button type="button" class ="btn btn-skill" ng-click="createCandidate.addDesignSkill()">+ {{ 'Add'  | translate }}</button>
                  </div>
                </div> 
              </div>







            </div>
          </div>

    
        </div>
      </div>

      <!-- Note -->
      <div class="col-md-5">
        <div class="form-group"style="margin:0px">
          <div class="row-head" style="border-bottom: 1px solid #ddd;padding-bottom:10px;;margin:0px">
            {{ 'NoteE'  | translate }}
          </div>
          <div class="row" style="padding-top:25px;margin:0px">
            <textarea class="form-control" style="border:solid 1px #ddd;" rows="30" id="note" ng-model="createCandidate.datas.candidate.note"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  </div>