<div id="select-member-modal" class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <h3>เลือก{{ selectMember.options.label }}</h3>
    </div>
  </div>
  <div class="row bt-toolbar">
    <div class="col-xs-6 col-xs-offset-6">
      <button ng-click="selectMember.createMember()" class="btn btn-custom btn-blue pull-right">+ สร้าง{{ selectMember.options.label }}ใหม่</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table id="member-select-list" class="classroom-table table-with-img-profile table table-striped" data-toggle="table"></table>
    </div>
  </div>
  <div class="space30"></div>
  <div class="row">
    <div class="col-xs-6">
      <button ng-click="selectMember.submit()" class="btn btn-custom btn-blue pull-right">ตกลง</button>
    </div>
    <div class="col-xs-6">
      <button ng-click="selectMember.cancel()" class="btn btn-white">ยกเลิก</button>
    </div>
  </div>
</div>
