<div class="container" id="leave_rules" style="width: 960px;">
  <div class="row mt-5">
    <div class="col-md-12 heading">
      {{ 'leave_rules' | translate }}
    </div>
  </div>
  <div class="row content-wrapper">
    <p data-ng-bind-html="leaveRules.leaveRulesHtmlText"></p>
  </div>
</div>
