<div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="modal-title" id="modal-title">{{confirm.message}}</h4>
      </div>
    </div>
    <div class="space20"></div>
    <div class="space20"></div>
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-3 pull-right">
        <button class="btn btn-custom btn-gray" ng-click="confirm.close()">ยกเลิก</button>
      </div>
      <div class="col-md-3 pull-right">
        <button class="btn btn-custom btn-green" ng-click="confirm.ok()">ตกลง</button>
      </div>
    </div>
  </div>
</div>
