<%= javascript_include_tag 'classroom_bootstrap_table' %>
<div class="container" style="width: 960px;">
  <div class="text-right">
    <a href="#/grouping_report" class="btn btn-up-classroom">เลื่อนชั้นเรียน</a>
  </div>
  <div class="content-box">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <span>เลือกระดับชั้น</span>
          <select id="grade-select" class="btn-grades" ng-model="classroom.grade_select" ng-options="obj.name for obj in classroom.grades track by obj.id" ng-change="classroom.gradeFilter()">
            <option value="">ทั้งหมด</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="row paragraph bg-setting">
          <table
          id="classroom-list"
          data-toggle="table"
          data-url="/classrooms/classroom_list"
          data-query-params="queryParams">
            <thead>
              <tr>
                <th data-field="grade">ระดับชั้นเรียน</th>
                <th data-field="classroom">ห้องเรียน</th>
                <th data-field="teacher_count">จำนวนครู</th>
                <th data-field="student_count">จำนวนนักเรียน</th>
                <th data-formatter="editBtnFormatter"></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
