<form name="passwordForm" ng-submit="password.submit(password.datas)">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">เปลี่ยนรหัสผ่าน</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">รหัสผ่านเก่า</label>
            <input type="password" class="form-control" id="password" ng-model="password.datas.current_password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">รหัสผ่านใหม่</label>
            <input type="password" class="form-control" id="password" ng-model="password.datas.password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" ng-hide="password.isValid">Password is invalid.</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" >Save</button>
    <button class="btn btn-warning" type="button" name="cancel" ng-click="password.cancel()">Cancel</button>
  </div>
</form>
