<div class="content-student-parent">
  <div class="row add-st-pr">
    <table
      id="student-invoice"
      data-toggle="table"
      data-url="/invoices"
      data-query-params="invoiceQueryParams"
      data-response-handle="invoiceResponseHandler"
      data-pagination="true"
      data-page-size="10"
      data-smart-display="true"
      data-side-pagination="client"
      data-sort-name="created_at"
      data-sort-order="desc"
      >
      <thead>
        <tr>
          <th data-field="id" data-formatter="idFormatter" data-sortable="true">Invoice #</th>
          <th data-field="school_year" data-sortable="true">ปีการศึกษา</th>
          <th data-field="semester" data-sortable="true">ภาคเรียนที่</th>
          <th data-field="grade_classroom" data-sortable="true">ระดับชั้น</th>
          <th data-field="amount" >จำนวนเงิน</th>
          <th data-field="created_at" data-formatter="createdAtFormatter" data-sortable="true">วันที่ชำระ</th>
          <th data-field="payment_methods" >ชำระโดย</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<script>
function invoiceQueryParams(p) {
  return {
    is_active: "1",
    bootstrap_table: "1",
    student_id: "<%= @student.id %>"
  }
}

function invoiceResponseHandler(res) {
  console.log(res)
  return res["invoices"];
}

function createdAtFormatter(index, row, element){
  return moment(row.created_at).format('DD/MM/YYYY HH:mm');
}

function idFormatter(index, row, element){
  return '<a href="/somsri_invoice#/invoice/' + row.id + '/slip" target="_blank">' + row.id + '</a>';
}
</script>
