<%- model_class = Student -%>
<div id="edit-student" class="container" style="width: 960px;">
  <div class="row head-sp justify-content-between">
    <h1>
      <span id="full-name-label"><%= @student.full_name_with_title %></span>
      <input id="search-by-name" class="typeahead" type="text" placeholder="ค้นหาชื่อนักเรียน">
      <a onclick="toggleSearchInput()"><i class="fa fa-search" aria-hidden="true"></i></a>
    </h1>
  </div>
  <div class="space20"></div>
  <ul class="nav nav-tabs">
     <li class="active"><a class="tab-label" data-toggle="tab" href="#info">ข้อมูลนักเรียน</a></li>
     <li><a class="tab-label" data-toggle="tab" href="#invoices">ข้อมูลใบเสร็จ</a></li>
  </ul>
  <div class="tab-content">
    <div id="info" class="tab-pane fade in active">
      <%= render :partial => 'form' %>
    </div>
    <div id="invoices" class="tab-pane fade">
      <%= render :partial => 'invoices' %>
    </div>
  </div>
</div>
<div id="for-test"></div>

<!-- Modal -->
<div id="warningModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" id="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h4 class="modal-title" id="modal-title">คุณต้องการออกจากหน้านี้โดยไม่บันทึกค่าหรือไม่?</h4>
          </div>
        </div>
        <div class="space20"></div>
        <div class="space20"></div>
        <div class="space20"></div>
        <div class="row">
          <div class="col-md-3 pull-right">
            <button class="btn btn-cancel" data-dismiss="modal">ยกเลิก</button>
          </div>
          <div class="col-md-3 pull-right">
            <button id="force-change-page" class="btn btn-green" data-dismiss="modal">ตกลง</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'search_student_button' %>
