<%- model_class = Student -%>
<div class="container" style="width: 960px;">
  <div class="row head-sp justify-content-between">
    <h1>เพิ่มนักเรียน</h1>
  </div>
  <%= render :partial => 'form' %>
</div>
