<form name="passwordForm" ng-submit="setting.submit(setting.datas)">
  <div class="container setting">
    <div class="row paragraph orange">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="name">ชื่อ</label>
              <input type="text" class="form-control" id="name" ng-model="setting.datas.name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="email">อีเมล</label>
              <input type="text" class="form-control" id="email" ng-model="setting.datas.email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="password">รหัสผ่าน</label>
              <input type="password" class="form-control white-bg" id="password" ng-model="setting.datas.password" ng-disabled="true">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <button type="button" class="btn btn-lg btn-block btn-submit" ng-click="setting.changePassword()">เปลี่ยนรหัสผ่าน</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-menu row">
      <div class="col-md-offset-8 col-md-2 text-right">
        <button type="submit" class="btn btn-lg btn-block btn-submit">บันทึก</button>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-lg btn-block btn-cancel" ng-click="openEmployees()">ยกเลิก</button>
      </div>
    </div>

    <!-- <div class="row paragraph cyan">
      <div class="col-md-12"``>
      </div>
    </div> -->
  </div>
</form>
