
<div id="payroll-slip">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row unused_for_print" >
        <div class="col-sm-6">
          <h2>
            <a href="/somsri_payroll#/employees/{{slip.employeeId}}">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              {{slip.employee.name}}
            </a>
          </h2>
        </div>
        <div class="col col-sm-6 text-right">
          <a class="text-white" ng-click="slip.repeat()">
            <button class="btn btn-print">
              <i class="fa fa-print" aria-hidden="true"></i>
              พิมใบจ่ายเงินเดือน
            </button>
          </a>
        </div>
      </div>

      <slip-content info=slip title="" />
    </div>
  </div>
</div>
