<div class="container dashboard">
  <div class="row mt-5">
    <div class="col-md-12 heading">
      {{ 'dashboard' | translate }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5ths">
      <div class="dashboard-item orange">
        <div class="row m-0">
          <div class="col-md-12 p-0">
            <h5 class="title">วันหยุดคงเหลือ:</h5>
            <div class="count orange">
              0
              <span class="limit-count m-0">/ 15</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5ths">
      <div class="dashboard-item purple">
        <div class="row m-0">
          <div class="col-md-9 p-0">
            <h5 class="title">ลาป่วย:</h5>
            <div class="count purple">0</div>
          </div>
          <div class="col-md-3 pl-0 icon justify-content-center">
            <i class='fa fa-hospital-o fa-2x color-purple' aria-hidden='true'></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5ths">
      <div class="dashboard-item blue">
        <div class="row m-0">
          <div class="col-md-9 p-0">
            <h5 class="title">ลากิจ:</h5>
            <div class="count blue">0</div>
          </div>
          <div class="col-md-3 pl-0 icon justify-content-center">
            <i class='fa fa-suitcase fa-2x color-blue' aria-hidden='true'></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5ths">
      <div class="dashboard-item green">
        <div class="row m-0">
          <div class="col-md-9 p-0">
            <h5 class="title">สลับวันทำงาน:</h5>
            <div class="count green">0</div>
          </div>
          <div class="col-md-3 pl-0 icon justify-content-center">
            <i class='fa fa-refresh fa-2x color-green' aria-hidden='true'></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5ths">
      <div class="dashboard-item dark-gray">
        <div class="row m-0">
          <div class="col-md-9 p-0">
            <h5 class="title">ทำงานที่บ้าน:</h5>
            <div class="count dark-gray">0</div>
          </div>
          <div class="col-md-3 pl-0 icon justify-content-center">
            <i class='fa fa-home fa-2x color-dark-gray' aria-hidden='true'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-15">
    <div class="col-md-6 p-5">
      <div class="content-wrapper min-h-350 px-50 pt-20">
        <div class="row">
          <div class="col-md-6 p-0">
            <h4 class="mb-5">รายการวันหยุดและคำขอ</h4>
          </div>
          <div class="col-md-6 pr-0 justify-content-end">
            <a class="btn btn-send" href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i> ส่งคำขอ</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 p-0">
              <hr class="mt-2" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 p-0">
            <b class="orange m-0"><span class="font-16 color-orange">23/11/2561</span> - ลาป่วย</b>
            <p class="color-gray mt-5 mb-5">เป็นไข้หวัดใหญ่สายพันธุ์ผสมระหว่างไข้หวัดนกกับไข้หวัดเป็ด</p>
          </div>
          <div class="col-md-2 pr-0">
            <div class="color-blue">Pending</div>
          </div>
          <div class="col-md-1">
            <i class='fa fa-trash-o color-gray fa-lg' aria-hidden='true'></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 p-0">
            <hr class="border-color-gray mt-0" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-5">
      <div class="content-wrapper min-h-350 px-50 pt-20">
        <div class="row">
          <div class="row">
            <div class="col-md-12 p-0">
              <h4 class="mb-5">รายการวันหยุดใน 7 วันข้างหน้า</h4>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12 p-0">
              <hr class="mt-2" />
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12 p-0">
            <b class="orange m-0">
              <span class="font-16 color-orange">23/11/2561</span>
              <span class="font-14 color-gary">กมลกวรรณ ยอดใจ</span>
              <span class="font-12 color-purple">- ลาป่วย</span>
            </b>
            <p class="color-gray mt-5 mb-5">เป็นไข้หวัดใหญ่สายพันธุ์ผสมระหว่างไข้หวัดนกกับไข้หวัดเป็ด</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 p-0">
            <hr class="border-color-gray mt-0" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
