
<div class="modal-body" id="validateForm">
  <form name="passwordForm" ng-submit="password.submit(password.datas)" autocomplete="off">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="modal-title" id="modal-title"><b>{{ 'change_password' | translate }}</b></h2>
      </div>
    </div>
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="current_password">{{ 'old_password' | translate }}</label>
          <input type="password" class="form-control" id="current_password" ng-model="password.datas.current_password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="new_password">{{ 'new_password' | translate }}</label>
          <input type="password" class="form-control" id="new_password" ng-model="password.datas.new_password">
        </div>
        <div class="form-group">
          <label for="password_confirmation">{{ 'new_password_confirmation' | translate }}</label>
          <input type="password" class="form-control" id="password_confirmation" ng-model="password.datas.password_confirmation">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" ng-hide="password.isValid">{{ 'wrong_old_password' | translate }}</div>
      <div class="col-md-12" ng-hide="password.isConfirm">{{ 'password_not_match' | translate }}</div>
    </div>
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="submit" class="btn btn-custom btn-green btn-block">{{ 'save' | translate }}</button>
      </div>
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-custom btn-gray btn-block" ng-click="password.cancel()">{{ 'cancel' | translate }}</button>
      </div>
    </div>
  </form>
</div>
