(function() {
  'use strict';
  angular.module('somsri.somsri.vacation.leave_rules', [
  ])
  .controller('vacationLeaveRulesCtrl', ['$rootScope', '$sce', 'translateFilter', function ($rootScope, $sce, translateFilter) {
    var ctrl = this;
    $rootScope.menu = translateFilter('leave_rules');
    ctrl.leaveRulesHtmlText = $sce.trustAsHtml(
      '<h3 style="color: #ffab04; text-weight: bold">การลาป่วย</h3>'
      + '<p style="margin-left: 16px;">- ลาป่วย ตามสมควร ถ้าเกิน 3 วันต้องมีหนังสือรับรองจากแพทย์ หรือ ใบเสร็จรับเงินจากคลีนิค, โรงพยาบาล</p>'
      + '<br/>'
      + '<h3 style="color: #ffab04; text-weight: bold">การลากิจ</h3>'
      + '<p style="margin-left: 16px;">- ต้องลาล่วงหน้าอย่างน้อย 3 วัน เป็นลายลักษณ์อักษร ทาง Banana Vacation (<a href="http://vacation.bananacoding.com">http://vacation.bananacoding.com</a>), email หรือ slack</p>'
      + '<p style="margin-left: 16px;">- สำหรับพนักงานทำงานไม่ถึงหนึ่งปี  จะลาได้ไม่เกิน 7 วัน</p>'
      + '<p style="margin-left: 16px;">- สำหรับพนักงานเกินหนึ่งปี จะเป็นไปตามอายุงาน และจะเพิ่มปีละ 2 วัน เช่นเข้าทำงานได้ 2 ปีจะได้วันหยุด 11 วัน</p>'
      + '<p style="margin-left: 16px;">- สำหรับพนักงานช่วงทดลองงาน 3 เดือน ลากิจ จะเป็นการลาแบบไม่ได้เงินเดือน ตามจำนวณวันที่ลา เช่นเงินเดือน 10,000 บาท พนักงานต้องทำงานวันละ 8 ชัวโมงต่อวัน 20 วันต่อเดือน คือหัก วันละ 500 บาท</p>'
      + '<br/>'
      + '<h3 style="color: #ffab04; text-weight: bold">การทำงานที่บ้าน</h3>'
      + '<p style="margin-left: 16px;">- ทำงานนอกสถานที่ หรือ ที่บ้าน สามารถทำได้ 2 วันต่อสัปดาห์ ต้องแจ้ง ทาง Banana Vacation (<a href="http://vacation.bananacoding.com">http://vacation.bananacoding.com</a>), email หรือ slack</p>'
      + '<br/>'
      + '<p>เพิ่มเติมตามกฎหมายแรงงานที่ <a href="http://www.mol.go.th/employee/rihgt_labor%20low">http://www.mol.go.th/employee/rihgt_labor%20low</a></p>'
    );
  }]);
})();
