<div class="container employee-details">
  <div class="row">
    <div class="col-md-9">
      <div class="dropdown" ng-show="employee.isEdit">
        <small>Select employee</small>
        <h1 id="employeeName" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
          <span ng-bind="employee.displayName"></span>
          <span class="caret"></span>
        </h1>
        <ul class="dropdown-menu">
          <li ng-repeat="data in employee.employee_lists">
            <a ng-click="employee.openEmployeeDetails(data.id)" href="javascript:void(0)">
              {{data.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3" style="line-height: 69px;" ng-show="employee.isEdit">
      <a ng-click="employee.openEmployeeDetails(0)" href="javascript:void(0)" class="btn btn-lg btn-block bg-yellow">
        + เพิ่มพนักงานใหม่
      </a>
    </div>
  </div>

  <form name="createProjectForm" ng-submit="employee.submit(employee.datas)">
    <div class="paragraph cyan employee">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="prefix_thai">คำนำหน้า</label>
                <input type="text" class="form-control" id="prefix_thai" ng-model="employee.datas.employee.prefix_thai" ng-change="employee.calTotal()">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="first_name_thai">ชื่อ</label>
                <input type="text" class="form-control" id="first_name_thai" ng-model="employee.datas.employee.first_name_thai">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="last_name_thai">นามสกุล</label>
                <input type="text" class="form-control" id="last_name_thai" ng-model="employee.datas.employee.last_name_thai">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="prefix">Prefix</label>
                <input type="text" class="form-control" id="prefix" ng-model="employee.datas.employee.prefix">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" ng-model="employee.datas.employee.first_name">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="middle_name">Middle Name</label>
                <input type="text" class="form-control" id="middle_name" ng-model="employee.datas.employee.middle_name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="last_name">Surname</label>
                <input type="text" class="form-control" id="last_name" ng-model="employee.datas.employee.last_name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="personal_id">เลขประจำตัวประชาชน</label>
                <input type="text" class="form-control" id="personal_id" ng-model="employee.datas.employee.personal_id">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="passport_number">Passport No.</label>
                <input type="text" class="form-control" id="passport_number" ng-model="employee.datas.employee.passport_number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="nickname">ชื่อเล่น</label>
                <input type="text" class="form-control" id="nickname" ng-model="employee.datas.employee.nickname">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="start_date">วันที่เริ่มทำงาน</label>
                <div><md-datepicker ng-model="employee.datas.employee.start_date"></md-datepicker></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-profile">
            <div ng-switch on="employee.datas.employee.img_url.length > 0">
              <div ng-switch-when="true">
                <div class="img-bg" style="background: url('{{ employee.datas.employee.img_url }}')"></div>
              </div>
              <div ng-switch-default>
                <i class="fa fa-camera center font-size-40 font-white" aria-hidden="true"></i>
                <div class="img-bg bg-light-gray"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="race">เชื้อชาติ</label>
            <input type="text" class="form-control" id="race" ng-model="employee.datas.employee.race">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="nationality">สัญชาติ</label>
            <input type="text" class="form-control" id="nationality" ng-model="employee.datas.employee.nationality">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="position">ตำแหน่ง</label>
            <input type="text" class="form-control" id="position" ng-model="employee.datas.employee.position">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="bank_name">ธนาคาร</label>
            <input type="text" class="form-control" id="bank_name" ng-model="employee.datas.employee.bank_name" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="bank_branch">สาขา</label>
            <input type="text" class="form-control" id="bank_branch" ng-model="employee.datas.employee.bank_branch" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="account_number">เลขบัญชีธนาคาร</label>
            <input type="text" class="form-control" id="account_number" ng-model="employee.datas.employee.account_number" required>
          </div>
        </div>
      </div>
    </div>
    <div class="paragraph orange payroll" ng-show="employee.isEdit">
      <div ng-switch="employee.monthsDisplay.length > 0">
        <div ng-switch-when="true">
          <div class="dropdown">
            <h3 id="month-list" data-toggle="dropdown">
              <span ng-bind="employee.currentMonthDisplay" ></span>
              <span class="caret"></span>
            </h3>
            <ul class="dropdown-menu" aria-labelledby="month-list">
              <li ng-repeat="month in employee.monthsDisplay">
                <a ng-click="employee.switchMonth(month)">
                  {{ month | get_month_name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div ng-switch-default>
          <h3 data-toggle="dropdown">
            <span ng-bind="employee.currentMonthDisplay" ></span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"><h3>รายการเงินได้</h3></div>
        <div class="col-md-4"><h3>รายการเงินหัก</h3></div>
        <div class="col-md-4"><h3>รวมทั้งสิ้น</h3></div>
      </div>
      <div class="space20"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="salary">ค่าแรง / เงินเดือนปัจจุบัน</label>
            <input type="number" class="form-control text-green" id="salary" ng-model="employee.datas.payroll.salary"  ng-change="employee.calTotal(); employee.changeSalary()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="tax">ภาษี</label>
            <input type="number" class="form-control text-red" id="tax" ng-model="employee.datas.payroll.tax"  ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="total">เงินเดือนสุทธิ</label>
            <div class="form-control text-green">{{ employee.total }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="ot">เงินสอนพิเศษ</label>
            <input type="number" class="form-control text-green" id="ot" ng-model="employee.datas.payroll.ot"  ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="social_insurance">ประกันสังคม</label>
            <input type="number" class="form-control text-red" id="social_insurance" ng-model="employee.datas.payroll.social_insurance"  ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-8">
              <button type="button" class="btn bg-gray btn-block" data-toggle="modal" data-target="#bird-eye" ng-click="employee.getAllPayroll(employee.empId)"> 
                ประวัติเงินเดือน
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="position_allowance">ค่าตำแหน่ง</label>
            <input type="number" class="form-control text-green" id="position_allowance" ng-model="employee.datas.payroll.position_allowance"  ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="pvf">เงินสะสมเข้ากองทุนสงเคราะห์</label>
            <input type="number" class="form-control text-red" id="pvf" ng-model="employee.datas.payroll.pvf"  ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="allowance">ค่ากะ / ค่าเบี้ยเลี้ยง</label>
            <input type="number" class="form-control text-green" id="allowance" ng-model="employee.datas.payroll.allowance"  ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="absence">ขาดงาน</label>
            <input type="number" class="form-control text-red" id="absence" ng-model="employee.datas.payroll.absence"  ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="attendace_bonus">เบี้ยขยัน</label>
            <input type="number" class="form-control text-green" id="attendace_bonus" ng-model="employee.datas.payroll.attendance_bonus" ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="late">สาย</label>
            <input type="number" class="form-control text-red" id="late" ng-model="employee.datas.payroll.late" ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="bonus">โบนัส</label>
            <input type="number" class="form-control text-green" id="bonus" ng-model="employee.datas.payroll.bonus" ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="advance_payment">เบิกล่วงหน้า</label>
            <input type="number" class="form-control text-red" id="advance_payment" ng-model="employee.datas.payroll.advance_payment" ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="extra_etc">รายได้อื่นๆ</label>
            <input type="number" class="form-control text-green" id="extra_etc" ng-model="employee.datas.payroll.extra_etc" ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="fee_etc">หักอื่นๆ</label>
            <input type="number" class="form-control text-red" id="fee_etc" ng-model="employee.datas.payroll.fee_etc" ng-change="employee.calTotal()" ng-disabled="!employee.isLastestPayroll">
          </div>
        </div>
      </div>
    </div>
    <div class="footer-menu row">
      <div class="col-md-4">
        <button ng-show="employee.isEdit" type="button" class="btn btn-lg btn-block btn-print" ng-click="openSlip(employee.datas.employee.id, employee.currentMonth['month'], employee.currentMonth['year'])">พิมพ์ใบจ่ายเงินเดือน</button>
      </div>

      <div class="col-md-2 {{employee.isEdit ? '': 'col-md-offset-2'}}">
        <button ng-show="false" type="button" class="btn btn-lg btn-block btn-memo">บันทึกช่วยจำ</button>
      </div>
      <div class="col-md-2 text-right">
        <button type="submit" class="btn btn-lg btn-block btn-submit" ng-disabled="employee.isSubmit">บันทึก</button>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-lg btn-block btn-cancel" ng-click="employee.cancel()">ยกเลิก</button>
      </div>
      <div ng-show="employee.isEdit" class="col-md-2 text-right">
        <button type="button" class="btn btn-lg btn-block btn-danger" ng-click="employee.deleteEmployee(employee.empId)">ลบ</button>
      </div>
    </div>
  </form>
</div>

<div class="modal fade " id="bird-eye" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content cyan">
      <div class="modal-header">
        <i class="fa fa-close fa-2x pull-right" data-dismiss="modal"></i>
        <h3 class="modal-title" id="myModalLabel">ประวัติเงินเดือน</h3>
      </div>
      <div class="modal-body">
        <table id="payroll-history-table" class="table text-right">
          <thead>
            <th width="40%">เดือน</th>
            <th class="text-center" width="20%">เงินเดือน</th>
            <th class="text-center" width="20%">รายการได้</th>
            <th class="text-center" width="20%">รายการหัก</th>
          </thead>
          <tbody>
            <tr ng-repeat="payroll in employee.employeePayrolls">
              <td width="40%" class="text-left">{{payroll.date}}</td>
              <td width="20%">{{payroll.salary | currency: ""}}</td>
              <td width="20%" class="text-green">{{payroll.extra_pay | currency: ""}}</td>
              <td width="20%" class="text-red">{{payroll.extra_fee | currency: ""}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-lg btn-block btn-cancel" data-dismiss="modal">ปิด</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
