<div class="container main-menu">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-5">
            <div id="report" class="menu-btn" ng-click="openReport()">
                <div class="wraptocenter">
                    <%= image_tag 'report-rollcount-icon.png', class: "" %>
                </div>
            </div>
            <p>{{ 'report' | translate }}</p>
        </div>
    </div>
</div>
