<div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="modal-title" id="modal-title">{{success.message}}</h4>
      </div>
    </div>
    <div class="space20"></div>
    <div class="space20"></div>
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-3 pull-right">
        <button class="btn btn-custom btn-light-green" ng-click="success.close()">{{ 'close' | translate }}</button>
      </div>
    </div>
  </div>
</div>