<div class="container" >
  <form ng-submit="inventory.save()">
  <div class="row mt-20">
    <div id="inventory">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-6 mb-20 pl-0">
            <h1>{{ inventory.list_request | translate }}</h1>
          </div>
        </div>
        <div class="row report-content container-fluid panel-board" >
          <div class="tab-content">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="item_name">{{ "item_name" | translate }}</label>

                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="inventory_name" ng-model="inventory.name" required="true">
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <label class="control-label" for="description">{{ "description" | translate }}</label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="inventory_description" ng-model="inventory.description">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="request_date">{{ "request_date" | translate }}</label>
                  <p class="input-group">
                    <input id="request_date" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.datas.request_date" is-open="inventory.requestDatePopup.opened" close-text="Close" required="true"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="inventory.openRequestDatePopup()" ><i class="fa fa-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="price">{{ "price" | translate }}</label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="number" id="inventory_price" ng-model="inventory.price" ng-validate="number" required="true" step=".01" parseFloat>
                  </div>
                </div>
							</div>
              <div class="col-md-4">
                <div class="dropdown">
                  <label class="control-label" for="employee">{{ "user_request" | translate }}</label>
                  <div class="form-group">
                   <input type="text" class="form-control" id="employee_name" placeholder="{{ 'employee_name' | translate }}" ng-model="inventory.employee_name"  typeahead-on-select="inventory.onSelectEmployeeFullName($item)" ng-change="inventory.onChangeName()" uib-typeahead="inventory.name as inventory.name for inventory in inventory.employee_lists | filter:{name:$viewValue} | limitTo:8" , autocomplete="off" required="true">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-20" ng-show="inventory.check_status" >
             <div class="col-md-3">
               <div class="form-group">
                 <label class="control-label color-red" for="status">{{ "status" | translate }}</label>
                 <div class="col-md-12">
                   <input class="form-control color-red" autocomplete="off" type="text" id="status" ng-model="inventory.status" disabled>
                 </div>
               </div>
             </div>
             <div class="col-md-9">
               <div class="form-group">
                 <label class="control-label color-red" for="reason">{{ "reason" | translate }}</label>
                 <div class="col-md-12">
                   <input class="form-control color-red" autocomplete="off" type="text" id="comment" ng-model="inventory.comment" disabled="inventory.check_status">
                 </div>
               </div>
             </div>
           </div>
          </div>
        </div>
        <div class="footer-menu row mt-20">
          <div class="pull-right text-right padding-left10">
            <button type="button" class="btn btn-custom btn-gray ng-binding" ng-click="inventory.cancel()">{{ "cancel" | translate }}</button>
          </div>
          <div class="pull-right text-right padding-left10">
            <button type="submit" class="btn btn-custom btn-green ng-binding" ng-show="inventory.show_add_button">{{ inventory.add_button | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>


        