<flash-message-content message="update.message" type-success="update.typeSuccess"></flash-message-content>
<div id="create-member-modal" class="container">
  <form name="createExpensesForm" ng-submit="update.save()" enctype="multipart/form-data">
    <div>
      <div ng-hide="update.real_id">
        <h1>{{ 'create_new_expenses' | translate }}</h1>
      </div>
      <div ng-show="update.real_id">
        <h1>{{ 'edit_expenses' | translate }}</h1>
      </div>
    </div>
    <div class="panel-board" id="validateForm">
      <div class="row">
        <div class="col-xs-5">
          <div class="form-group">
            <label for="purchase_order" class="control-label m-bottom-15 d-inline-block">{{ 'buy_slip' | translate }}</label>
            <input id="expenses_id" class="form-control d-inline-block w-70p" ng-model="update.expenses_id" placeholder="{{ 'buy_slip' | translate }}">
          </div>
        </div>

        <div class="col-xs-7">
          <div class="form-group">
              <label for="expenses" class="control-label d-inline-block">{{ 'detail' | translate }}</label>
              <input id="detail" class="form-control d-inline-block w-80p" ng-model="update.detail" placeholder="{{ 'detail' | translate }}" required>
          </div>
        </div>
      </div>
      <div class="row mb-20">
        <div class="col-xs-5">
          <div class="form-group">
            <div class="col-xs-2 px-0 mt-10">
              <label for="date-select" class="control-label m-bottom-15">{{ 'date1' | translate }}</label>
            </div>
            <span class="input-group col-xs-9">
              <input id="new_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="{showWeeks:false}"
                ng-model="update.effective_date" is-open="update.newDatePopup.opened" close-text="Close" ng-change="update.optionsChange()"
                required />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="update.openNewDatePopup()"><i class="fa fa-calendar"></i></button>
              </span>
            </span>
          </div>
        </div>
        <div class="col-xs-5">
          <label for="total_cost" class="control-label m-bottom-15 d-inline-block">{{ 'total_cost' | translate }}</label>
          <input id="total_cost" class="form-control d-inline-block w-40p text-right numberic" value="0.00" min="0.00" step="1000" ng-model="update.total_cost"
            placeholder="0.00" ui-number-mask="2" ui-negative-number>
          {{ 'baht' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <uib-tabset>
            <uib-tab id="upload_photo" index="0" heading="{{ 'upload_photo' | translate }}">
              <div class="col-xs-12 text-center border-choose-file mt-20 mb-20">
                <div class="show-upload text-center min-h-200 mt-10">
                  <img class="max-h-200" id="img-display" ng-src="{{ update.imgDisplay }}" />
                </div>
                <div class="form-group">
                  <label for="file-upload" class="custom-file-upload mt-15">
                    <i class="fa fa-upload"></i> {{ 'choose_file' | translate }}
                  </label>
                  <input id="file-upload" type="file" ngf-select="update.readUrl($event)" ng-model="update.imgUploadData" accept="image/*" size="60"/>
                </div>
              </div>
            </uib-tab>
            <uib-tab id="item" index="1" heading="{{ 'item' | translate }}">
              <div class="items-table font-16">
                <div class="row header pb-10">
                  <div class="col-xs-4">{{ 'item' | translate }}</div>
                  <div class="col-xs-3 pl-0">Tag</div>
                  <div class="col-xs-1 text-right pl-0">{{ 'amount2' | translate }}</div>
                  <div class="col-xs-2 text-right pl-0">{{ 'unit_price' | translate }}</div>
                  <div class="col-xs-1 text-right pl-0">{{ 'total_cost' | translate }}</div>
                  <div class="col-xs-1 text-right pl-0"></div>
                </div>
                <div>
                  <div class="row border-bottom-1 p-5 border-color-gray" data-ng-repeat="item in update.items" ng-animate="'slide-down'">
                    <div class="col-xs-4 pl-0">
                      <div class="form-group form-list mb-0">
                        <input type="text" id="item_detail" placeholder="{{ 'item_name' | translate }}" class="form-control grop-table border-b-0 border-b-1-hover" ng-model="item.detail">
                      </div>
                    </div>
                    <div class="col-xs-3 text-right pl-0">
                      <tags-input id="tag" ng-model="item.tags">
                        <auto-complete source="update.loadTags($query)"></auto-complete>
                      </tags-input>
                    </div>
                    <div class="col-xs-1 text-right pl-0">
                      <div class="form-group form-price mb-0">
                        <input type="text" id="item_amount" value="0" ng-required min="0" step="1000" ng-validate="number" placeholder="0" class="form-control table-price border-b-0 border-b-1-hover text-right" ng-model="item.amount" ng-change="update.expensesTotal()" ui-number-mask="0" ui-negative-number>
                      </div>
                    </div>
                    <div class="col-xs-2 text-right pl-0">
                      <div class="form-group form-price mb-0">
                        <input type="text" id="item_cost" value="0.00" ng-required min="0.00" step="1000" ng-validate="number" placeholder="0.00" class="form-control table-price border-b-0 border-b-1-hover text-right" ng-model="item.cost" ng-change="update.expensesTotal()" ui-number-mask="2" ui-negative-number>
                      </div>
                    </div>
                    <div class="col-xs-1 text-right pl-0">
                      <div class="form-group form-price">
                        <span class="pull-right pt-10 font-14">{{ item.total_price.toFixed(2) | number:2 }}</span>
                      </div>
                    </div>
                    <div class="col-xs-1 remove-item-container text-right pl-0">
                      <a href ng-hide="printMode" ng-click="update.removeNewItem($index)" class="btn pl-10"><span class="fa fa-times-circle color-red text-center font-21"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row expenses-item add-expenses-item mt-10">
                <div class="col-xs-5 add-item-container pl-0">
                  <a class="btn btn-custom sm btn-green" ng-click="update.addNewItem()">+ {{ 'add_item' | translate }}</a>
                </div>
                <div class="col-xs-5 pr-0">
                  <label for="amount" class="control-label m-bottom-15 pull-right font-18">{{ 'total_price' | translate }} : <span class="numberic">{{ update.total.toFixed(2) | number:2 }}</span>  {{ 'baht' | translate }}</label>
                </div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
      <div class="space30"></div>
      <div class="row">
        <div class="col-md-2 pull-right pl-0">
          <button type="button" ng-click="update.cancel()" class="btn btn-custom btn-red pull-right btn-block">{{ 'cancel' |
            translate }}</button>
        </div>
        <div class="col-md-2 pull-right pl-0">
          <button type="submit" class="btn btn-custom btn-blue pull-right btn-block">{{ 'save' | translate }}</button>
        </div>
      </div>
    </div>
  </form>

</div>
