<div class="user-section theme_red">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <h1>Change log</h1>
          <hr/>
          <h2 class="wow fadeInDown">11 Aug 2017</h2>
          <p>Release version 1.1.2</p>
          <ul>
            <li><b>Update</b>: พิมพ์ใบตารางทำเงินเดือน</li>
            <li><b>Update</b>: พิมพ์สลิปเงินเดือน 1 คน / แผ่น</li>
            <li><b>Update</b>: ไม่คิดภาษี</li>
            <li><b>Update</b>: กำหนดจำนวนหลักของเลขประจำตัวนักเรียน</li>
            <li><b>Update</b>: default landing page V.1</li>
            <li><b>Fix</b>: ชื่อ login บน navbar</li>
            <li><b>Fix</b>: รายงานแยกประเภท</li>
            <li><b>Fix</b>: ซ่อนปุ่ม export ในหน้า รายงานการชำระเงิน</li>
          </ul>
          <h2 class="wow fadeInDown">4 Aug 2017</h2>
          <p>Release version 1.1.1</p>
          <ul>
            <li><b>Fix</b>: Cannot create parent</li>
            <li><b>Fix</b>: Cannot list parent with no relationships</li>
            <li><b>Fix</b>: Student link in Parent page</li>
            <li><b>Fix</b>: Layout navigation bar menu</li>
          </ul>
          <h2 class="wow fadeInDown">28 July 2017</h2>
          <p>Release version 1.1.0</p>
          <ul>
            <li><b>Update</b>: Show placeholder parent's phone</li>
            <li><b>Update</b>: Payroll print button</li>
            <li><b>Update</b>: Cms</li>
            <li><b>Fix</b>: Invoice report (pagination, sort)</li>
            <li><b>Fix</b>: Export employee</li>
            <li><b>Fix</b>: Display note</li>
            <li><b>Fix</b>: Sort parent page</li>
            <li><b>Fix</b>: Lost some commit</li>
          </ul>
          <h2 class="wow fadeInDown">21 July 2017</h2>
          <p>Release version 1.0.0</p>
          <ul>
            <li><b>Update</b>: New payroll</li>
            <li><b>Update</b>: Show note on payroll page</li>
            <li><b>Update</b>: Release configulation in DB</li>
            <li><b>Update</b>: Landing page</li>
            <li><b>Update</b>: Employees to bootstrap table</li>
            <li><b>Update</b>: Boostraptable: export in excel format</li>
            <li><b>Fix</b>: รายงานรายรับแยกประเภท</li>
            <li><b>Fix</b>: Password confirmation</li>
            <li><b>Fix</b>: เพิ่มแสดง หมายเหตุ ในหน้าค่าเทอม</li>
          </ul>
          <h2 class="wow fadeInDown">11 July 2017</h2>
          <p>Release version 0.17.0</p>
          <ul>
            <li><b>Update</b>: รายงานรายรับแยกประเภท</li>
            <li><b>Update</b>: Print รายงานรายรับแยกประเภท</li>
            <li><b>Update</b>: Print รายงานสรุป รายเดือน</li>
            <li><b>Update</b>: Invoice ให้ระบุเทอม และปีการศึกษาได้</li>
            <li><b>Update</b>: แสดงเบอร์โทรศัพท์ของผู้ปกครองในหน้า นร.</li>
            <li><b>Update</b>: Display Logo School on Login page</li>
            <li><b>Update</b>: เพิ่ม filter ชั้น หน้า invoice</li>
            <li><b>Fix</b>: Invoice list: add date range</li>
            <li><b>Fix</b>: พิมพ์ใบรายชื่อนักเรียนพร้อมกับ filter</li>
            <li><b>Fix</b>: Students, Parents, Invoices with bootstrap table</li>
            <li><b>Fix</b>: ลูกศรบนปฏิทินไม่แสดง</li>
            <li><b>Fix</b>: รร.ซันชาย มีชื่อ นร.​ซ้ำซ้อนและมีการออก invoice ด้วย</li>
            <li><b>Fix</b>: แก้คำในหน้า Menu ของค่าเทอมกับเงินเดือน</li>
            <li><b>Fix</b>: Filter ห้องเรียน</li>
          </ul>
          <h2 class="wow fadeInDown">9 June 2017</h2>
          <p>Release version 0.16.0</p>
          <ul>
            <li><b>Update</b>: Remove hard delete</li>
            <li><b>Update</b>: Remove reduction from tax calculation</li>
            <li><b>Update</b>: Employee list view</li>
            <li><b>Update</b>: Student list/detail layout</li>
            <li><b>Update</b>: Parent list/detail layout</li>
            <li><b>Update</b>: Payroll layout</li>
            <li><b>Update</b>: Invoice report</li>
            <li><b>Update</b>: Google analytic [demo site]</li>
            <li><b>Update</b>: Export invoice report</li>
            <li><b>Update</b>: เก็บ current เทอมไว้ใน school_setting</li>
            <li><b>Update</b>: สร้าง pin code สำหรับทุก employee</li>
            <li><b>Fix</b>: Rails admin can access by unauthorized user</li>
            <li><b>Fix</b>: Default gender</li>
            <li><b>Fix</b>: Rake task clear ด.ช., ด.ญ., etc.</li>
            <li><b>Fix</b>: Invoice report menu</li>
            <li><b>Fix</b>: Invoice report pagination</li>
            <li><b>Fix</b>: CSS main menu for User finance</li>
          </ul>
          <h2 class="wow fadeInDown">28 May 2017</h2>
          <p>Release version 0.15.0</p>
          <ul>
            <li><b>Update</b>: ใบรายชื่อ</li>
            <li><b>Fix</b>: Logo on payroll slip</li>
            <li><b>Fix</b>: Improve ui button</li>
            <li><b>Fix</b>: Flash color</li>
            <li><b>Fix</b>: ตรวจสอบ นร.​ ผปค. กรณีเพิ่มจากหน้า invoice</li>
          </ul>
          <h2 class="wow fadeInDown">19 May 2017</h2>
          <p>Release version 0.14.0</p>
          <ul>
            <li><b>Update</b>: Rollcall APK download</li>
            <li><b>Update</b>: Change the order of employee on report</li>
            <li><b>Update</b>: Upload photo</li>
            <li><b>Update</b>: Filter ผู้ปกครองตามชั้นเรียน</li>
            <li><b>Update</b>: Info in daily report must come from database</li>
            <li><b>Update</b>: Info in invoice slip must come from database</li>
            <li><b>Update</b>: Filter parent/student</li>
            <li><b>Update</b>: การเงินต้องเข้าไปแก้ไขข้อมูล นร. ผปค. ได้</li>
            <li><b>Fix</b>: Navbar</li>
            <li><b>Fix</b>: Font on production</li>
            <li><b>Fix</b>: Rollcall report</li>
            <li><b>Fix</b>: Payroll report</li>
            <li><b>Fix</b>: Print payroll report</li>
            <li><b>Fix</b>: Print all payroll slip</li>
            <li><b>Fix</b>: Remove gravatar</li>
            <li><b>Fix</b>: Search นักเรียน</li>
            <li><b>Fix</b>: Archive employee</li>
            <li><b>Fix</b>: Add email to setting school</li>
            <li><b>Fix</b>: UI employees on firefox</li>
            <li><b>Fix</b>: กดปุ่ม "บันทึก" ในหน้า setting แล้วไปที่หน้าพนักงาน</li>
            <li><b>Fix</b>: Student list page</li>
            <li><b>Fix</b>: Parent list page</li>
            <li><b>Fix</b>: When no employee and click "ประกันสังคม"</li>
            <li><b>Fix</b>: หน้า เพิ่ม แก้ไข นักเรียนมีเส้นกรอบ</li>
            <li><b>Fix</b>: หน้าเพิ่ม นร กับ แก้ไข นร ไม่สามารถเพิ่มผู้ปกครอง และ ความสัมพัน ได้</li>
            <li><b>Fix</b>: หน้า employee details ไม่ใส่ข้อมูลในช่องคำนำหน้าชื่อ จะไม่แสดงชื่อในส่วนของ Select employee</li>
            <li><b>Fix</b>: Slow loading logo on print preview</li>
            <li><b>Fix</b>: Invoice พิมพ์รายการเงินโอน วันที่กับหมายเลขสลับกัน</li>
            <li><b>Fix</b>: Table display low resolution on employees report</li>
            <li><b>Fix</b>: เมื่อส่งเช็คชื่อตอนเช้าแต่ยังไม่ได้ส่งของตอนเย็น ไม่ควรแสดงค่าตอนเย็นว่าขาด</li>
            <li><b>Fix</b>: Users missing school</li>
            <li><b>Fix</b>: Error on roll call report when missing list</li>
            <li><b>Fix</b>: Non-admin user can't access setting page</li>
            <li><b>Fix</b>: Print pdf ประกันสังคม คำนวณผิด</li>
            <li><b>Fix</b>: เมื่อกดเริ่มออกเงินเดือน ยังนำพนักงานที่นำออกไปแล้วกลับมาออกเงินเดือนด้วย</li>
          </ul>
          <h2 class="wow fadeInDown">21 April 2017</h2>
          <p>Release version 0.13.0</p>
          <ul>
            <li><b>Update</b>: สถานะพนักงาน, นักเรียน, ผู้ปกครอง archive/delete</li>
            <li><b>Update</b>: As an Admin I cannot delete employee that belongs to payroll</li>
            <li><b>Update</b>: As an Admin I cannot delete parent/student that belongs to any invoice</li>
            <li><b>Update</b>: ค้นหาพนักงาน ตามชื่อ/รหัส</li>
            <li><b>Update</b>: Profile photo</li>
            <li><b>Update</b>: Merge user to employee</li>
            <li><b>Update</b>: Pagination: invoice, student, parent</li>
            <li><b>Update</b>: Filter นักเรียนตามห้อง</li>
            <li><b>Update</b>: Auto generate rollcall list</li>
            <li><b>Update</b>: Employee: PIN number</li>
            <li><b>Update</b>: Assign room to teacher</li>
            <li><b>Update</b>: Rollcall report</li>
            <li><b>Update</b>: Rollcall .apk download link</li>
            <li><b>Update</b>: ใส่ชื่อผู้รับเงินท้าย invoice</li>
            <li><b>Fix</b>: เงื่อนไขการคืนเงิน</li>
            <li><b>Fix</b>: Employee details: ไม่แสดง bootstrap icon</li>
            <li><b>Fix</b>: Archive นร ที่มี invoice แล้ว erros</li>
            <li><b>Fix</b>: รายงาย rollcall ไม่ขึ้น</li>
            <li><b>Fix</b>: Remove invoice status from student and parent screens</li>
            <li><b>Fix</b>: เข้าหน้า show student หรือ parent แล้วกดไปที่เมนู settingแล้ว error</li>
            <li><b>Fix</b>: ในการโหลดบางครั้งไม่แสดง tab เงินเดือน และทุกครั้งมีการกระพริบที่ tab เงินเดือน</li>
            <li><b>Fix</b>: Employee details layout</li>
            <li><b>Fix</b>: Payroll page layout</li>
            <li><b>Fix</b>: Save employee details</li>
            <li><b>Fix</b>: Tax and social insurance formular</li>
            <li><b>Fix</b>: Unique on student number</li>
          </ul>
          <h2 class="wow fadeInDown">27 March 2017</h2>
          <p>Release version 0.12.0</p>
          <ul>
            <li><b>Update</b>: Rename project to Somsri</li>
            <li><b>Update</b>: Integration</li>
            <li><b>Update</b>: Print payroll list report</li>
            <li><b>Update</b>: User Role</li>
            <li><b>Update</b>: สามารถดู Invoice ย้อนหลังได้</li>
            <li><b>Update</b>: ข้ามวันห้ามยกเลิก invoice</li>
            <li><b>Update</b>: พิมพ์ slip เงินเดือนทุกคน</li>
            <li><b>Update</b>: ย้ายส่วนกรอกเงินเดือนมาเป็น tab</li>
            <li><b>Update</b>: Main menu page</li>
            <li><b>Update</b>: Hide ปุ่มที่ ไม่มีสิทธิเข้าใช้</li>
            <li><b>Fix</b>: ย้าย setting menu to dropdown</li>
            <li><b>Fix</b>: ย้ายปุ่มออกเงินเดือน จากหน้า employee ไปที่ salary</li>
            <li><b>Fix</b>: Create new employee</li>
            <li><b>Fix</b>: คำนำหน้า ในหน้า invoice</li>
            <li><b>Fix</b>: ปรับ column หน้ารายงาน</li>
            <li><b>Fix</b>: ออกเงินเดือนเดือนใหม่ ให้ยกรายได้คงที่แต่ละเดือนมาด้วย (เงินเดือน เงินประจำตำแหน่ง ค่าเบี้ยเลี้ยง)</li>
            <li><b>Fix</b>: ย้าย เมนู เงินเดือน | ข้อมูลทั่วไป | ข้อมูลส่วนตัว มา fix ไว้ด้านบน</li>
            <li><b>Fix</b>: Remove dropdown suggestion</li>
            <li><b>Fix</b>: Hide help button</li>
            <li><b>Fix</b>: Invoice page hard to click button</li>
            <li><b>Fix</b>: หน้า student report ของ invoice เลือกดูตามชั้นไม่ได้</li>
            <li><b>Fix</b>: User shouldn't go inside when not sign in</li>
            <li><b>Fix</b>: Save should close modal</li>
          </ul>
          <h2 class="wow fadeInDown">17 February 2017 [week.10th]</h2>
          <p>Release version 0.10.0 (Payroll)</p>
          <ul>
            <li><b>Fix</b>: หน้าจัดเก็บค่าลดหย่อนภาษี</li>
            <li><b>Fix</b>: คำนวณค่าลดหย่อนภาษี</li>
          </ul>
          <p>Release version 0.1.0 (Invoice)</p>
          <ul>
            <li><b>Update</b>: ชำระค่าเทอม</li>
            <li><b>Update</b>: นำส่งเงิน</li>
            <li><b>Update</b>: สามารถพิมพ์ใบชำระค่าเทอม</li>
            <li><b>Update</b>: สามารถพิมพ์ใบนำส่งเงิน</li>
            <li><b>Update</b>: เพื่มข้อมูลผู้ปกครอง</li>
            <li><b>Update</b>: เพิ่มข้อมูลนักเรียน</li>
            <li><b>Update</b>: Menu invoices</li>
            <li><b>Fix</b>: ชื่อนักเรียนใหม่ นำหน้าด้วย เด็กชาย เสมอ</li>
          </ul>
          <h2 class="wow fadeInDown">10 February 2017 [week.9th]</h2>
          <p>Release version 0.9.0</p>
          <ul>
            <li><b>Update</b>: Employee detail: ข้อมูลติดต่อและข้อมูลพื้นฐาน > บุคคลติดต่อ</li>
            <li><b>Fix</b>: Employee detail: scroll รายชื่อไม่ได้</li>
            <li><b>Fix</b>: Employee detail: float calculate</li>
            <li><b>Fix</b>: Employee detail: unrequire banking data</li>
            <li><b>Fix</b>: ไม่สามารถเพิ่มพนักงานใหม่ได้</li>
            <li><b>Fix</b>: Calculate social insurance</li>
            <li><b>Fix</b>: Report page: print 2 ส่วน ไม่เหมือนกับหน้า employee detail</li>
          </ul>
          <h2 class="wow fadeInDown">3 February 2017 [week.8th]</h2>
          <p>Release version 0.8.0</p>
          <ul>
            <li><b>Update</b>: Database tax_reduction ค่าลดหย่อนภาษี</li>
            <li><b>Update</b>: จัดเก็บค่าลดหย่อนภาษี</li>
            <li><b>Update</b>: คำนวณค่าลดหย่อนภาษี</li>
            <li><b>Fix</b>: Default ประเภทการจ้างงาน = ลูกจ้างประจำ</li>
            <li><b>Fix</b>: Redirect to payroll screen after creating payroll</li>
          </ul>
          <h2 class="wow fadeInDown">27 Janruary 2017 [week.7th]</h2>
          <p>Release version 0.7.0</p>
          <ul>
            <li><b>Update</b>: Able to create new payroll</li>
            <li><b>Update</b>: Employee detail: ข้อมูลติดต่อและข้อมูลพื้นฐาน</li>
            <li><b>Update</b>: สถานะจ่ายภาษี ประกันสังคม กองทุน</li>
            <li><b>Update</b>: Add Employee type</li>
            <li><b>Update</b>: Add school telephone number, fax</li>
            <li><b>Fix</b>: Cannot edit first row of payroll</li>
            <li><b>Fix</b>: Calculate: ภาษีหัก ณ ที่จ่าย 3%</li>
            <li><b>Fix</b>: Calculate: ภ.ง.ด.1</li>
            <li><b>Fix</b>: PDF localization</li>
            <li><b>Fix</b>: แก้ประกันสังคม pdf</li>
          </ul>
          <h2 class="wow fadeInDown">20 Janruary 2017 [week.6th]</h2>
          <p>Release version 0.6.0</p>
          <ul>
            <li><b>Update</b>: Add new page into PDF template</li>
            <li><b>Update</b>: Calculate: กองทุนสงเคราะห์ครูเอกชน</li>
            <li><b>Update</b>: Able to enter school detail</li>
            <li><b>Update</b>: Calculate: ประกันสังคม</li>
            <li><b>Fix</b>: Employee detail: Always display employee name on the screen even the user scrolling down</li>
            <li><b>Fix</b>: Rename report controller to payroll controller</li>
            <li><b>Fix</b>: Add effective_date to payrolls</li>
            <li><b>Fix</b>: Payroll page: Always display table header on the screen even the user scrolling down</li>
          </ul>
          <h2 class="wow fadeInDown">13 Janruary 2017 [week.5th]</h2>
          <p>Release version 0.5.0</p>
          <ul>
            <li><b>Update</b>: Able to enter employee birthdate on employee detail screen</li>
            <li><b>Update</b>: Report: ประกันสังคม</li>
            <li><b>Fix</b>: Payroll screen: editing popup should highlight the whole value to make it easier to edit</li>
            <li><b>Fix</b>: แก้ไข Employee แล้วควร อยู่หน้า edit เหมือนเดิม</li>
            <li><b>Fix</b>:Payroll screen should not display employee of other school</li>
          </ul>
          <h2 class="wow fadeInDown">6 Janruary 2017 [week.4th]</h2>
          <p>Release version 0.4.0</p>
          <ul>
            <li><b>Fix</b>: Editable Employee detail on Payroll screen (history)</li>
            <li><b>Fix</b>: Link to employee detail from payroll/report ไม่แสดงข้อมูลตามเดือนที่เลือก แต่แสดงข้อมูลเดือนล่าสุด</li>
          </ul>
          <h2 class="wow fadeInDown">29 December 2016 [week.3rd]</h2>
          <p>Release version 0.3.0</p>
          <ul>
            <li><b>Update</b>: Able to change password</li>
            <li><b>Update</b>: Able to print slip on history screen</li>
            <li><b>Update</b>: Able to print slip on report screen</li>
            <li><b>Update</b>: Able to see employee history</li>
            <li><b>Update</b>: Able to edit Employee detail on Payroll screen</li>
            <li><b>Update</b>: Able to see bird-eye view report of an Employee</li>
            <li><b>Update</b>: Able to see payroll report of the current month</li>
            <li><b>Update</b>: Able to create Employee</li>
            <li><b>Update</b>: Able to delete Employee</li>
            <li><b>Update</b>: Able to sign in</li>
            <li><b>Update</b>: Able to sign out</li>
            <li><b>Fix</b>: Print slip: change background of header cells to white color</li>
            <li><b>Fix</b>: Employee list screen: remove inner join between employees and payrolls</li>
            <li><b>Fix</b>: Improve switching employee</li>
            <li><b>Fix</b>: Save and cancel button are not display like in mockup</li>
            <li><b>Fix</b>: Date picker format should be dd/mm/yyyy</li>
            <li><b>Fix</b>: Employee has no image on employee s list screen</li>
            <li><b>Fix</b>: Employee detail validate and save data</li>
            <li><b>Fix</b>: Hide ปุ่มบันทึกช่วยจำ</li>
            <li><b>Fix</b>: Print layout</li>
            <li><b>Fix</b>: เปลี่ยนคำว่า OT เป็นเงินสอนพิเศษ</li>
            <li><b>Fix</b>: Employee page display</li>
            <li><b>Fix</b>: Order report list by start date (ASC), created_at (ASC)</li>
          </ul>
          <h2 class="wow fadeInDown">23 December 2016 [week.2nd]</h2>
          <p>Release version 0.2.0</p>
          <ul>
            <li><b>Update</b>: All Employee on Home screen</li>
            <li><b>Update</b>: Employee detail</li>
            <li><b>Update</b>: Able to swtich to another employee detail</li>
            <li><b>Update</b>: Able to go to employee detail from report screen</li>
            <li><b>Update</b>: Able to print an Employee slip</li>
            <li><b>Update</b>: Able to switch between report and employee screens</li>
            <li><b>Update</b>: Able to see an Employee slip</li>
            <li><b>Update</b>: Create new payroll for each employee for new month
            <li><b>Fix</b>: Add 2 more fields into employee detail</li>
            <li><b>Fix</b>: เปลียน "เงินสะสมเข้ากองทุน PVF" เป็น "เงินสะสมเข้ากองทุนสงเคราะห์"</li>
            <li><b>Fix</b>: Favicon</li>
            <li><b>Fix</b>: Order employee list by employment date (ASC), created_at (ASC)</li>
            <li><b>Fix</b>: English wording</li>
          </ul>
          <h2 class="wow fadeInDown">16 December 2016 [week.1st]</h2>
          <p>Release version 0.1.0</p>
          <ul>
            <li><b>Update</b>: Setup project</li>
            <li><b>Update</b>: Schema</li>
            <li><b>Update</b>: Payroll Report</li>
            <li><b>Update</b>: Payroll menu</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
