<div class="container main-menu">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-3">
            <div class="menu-btn" ng-click="openPayment()">
                <div class="wraptocenter">
                    <%= image_tag 'payment.png', class: "" %>
                </div>
            </div>
            <p>ชำระเงิน</p>
        </div>
        <div class="col-xs-2">
            <div class="menu-btn" ng-click="openReportMenu()">
                <div class="wraptocenter">
                    <%= image_tag 'report-invoice.png', class: "" %>
                </div>
            </div>
            <p>รายงาน</p>
        </div>
        <div class="col-xs-2">
            <div class="menu-btn" ng-click="openInvoiceReport()">
                <div class="wraptocenter">
                    <%= image_tag 'invoice-icon.png', class: "" %>
                </div>
            </div>
            <p>ใบเสร็จ</p>
        </div>
    </div>
</div>
