<div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 justify-content-center">
        <i class="fa fa-check-circle fa-9x color-light-green" aria-hidden="true"></i>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h4 class="font-36 font-weight-bold text-center" id="modal-title">{{success.message}}</h4>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="space20"></div>
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 justify-content-center">
        <button class="btn btn-custom lg btn-light-green" ng-click="success.close()">{{ 'close' | translate }}</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>