<div class="container">
  <div class="row main-menu">
    <!-- Employee -->
    <div class="col-md-2 col-md-offset-4 main-menu-box">
      <div class="main-menu-item" ng-click="openEmployees()">
        <table class="main-menu-grid">
          <tr>
            <td>
              <div class="main-menu-button">
                <%= image_tag 'employees.png', class: "main-menu-image employees" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="main-menu-title">
                <p>Employees</p>
                <br>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Payroll -->
    <div class="col-md-2">
      <div class="main-menu-item" ng-click="openPayroll()">
        <table>
          <tr>
            <td>
              <div class="main-menu-button">
                <%= image_tag 'payroll.png', class: "main-menu-image payroll" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="main-menu-title">
                <p>Payroll</p>
                <br>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Report -->
    <div class="col-md-2 col-md-offset-4 main-menu-box">
      <div class="main-menu-item" ng-click="openReport()">
        <table>
          <tr>
            <td>
              <div class="main-menu-button">
                <%= image_tag 'report.png', class: "main-menu-image report" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="main-menu-title">Report</div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Setting -->
    <div class="col-md-2 main-menu-box">
      <div class="main-menu-item" ng-click="openSetting()">
        <table>
          <tr>
            <td>
              <div class="main-menu-button">
                <%= image_tag 'setting.png', class: "main-menu-image setting" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="main-menu-title">Setting</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <div>
<div>
