<div id="payroll" class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-10">
        <div class="dropdown">
          <h2 id="month-list" data-toggle="dropdown">
            ประจำเดือน<span ng-bind="payroll.currentMonth" ></span>
            <span class="caret"></span>
          </h2>
          <ul class="dropdown-menu" aria-labelledby="month-list">
            <li ng-repeat="month in payroll.months">
              <a ng-click="payroll.switchMonth(month)">
                <button>{{month | get_month_name}}</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-lg bg-yellow btn-block">
          <i class="glyphicon glyphicon-open"></i>
          Export for bank</button>
      </div>
    </div>
    <div class="row payroll-content container-fluid">
      <p class="text-right" ng-show="false">
        แก้ไขล่าสุด 25 ธ.ค. 59 10:50 โดย Somkid
      </p>
      <table class="table text-right">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="7" class="income text-center">รายการได้</th>
            <th colspan="7" class="outcome text-center">รายการหัก</th>
            <th></th>
         </tr>
         <tr>
            <!-- Employee Data -->
            <th>รหัส</th>
            <th>ชื่อ</th>
            <th class="text-center">เลขบัญชีธนาคาร</th>
            <!-- Income -->
            <th class="text-center bordered">เงินเดือน</th>
            <th class="text-center bordered">เงินสอนพิเศษ</th>
            <th class="text-center bordered">ค่าตำแหน่ง</th>
            <th class="text-center bordered">เบี้ยเลี้ยง</th>
            <th class="text-center bordered">เบี้ยขยัน</th>
            <th class="text-center bordered">โบนัส</th>
            <th class="text-center bordered">อื่นๆ</th>
            <!-- Outcome -->
            <th class="text-center bordered">ภาษี</th>
            <th class="text-center bordered">ประกันสังคม</th>
            <th class="text-center bordered">เงินสะสม</th>
            <th class="text-center bordered">ขาดงาน</th>
            <th class="text-center bordered">สาย</th>
            <th class="text-center bordered">เบิกล่วงหน้า</th>
            <th class="text-center bordered">อืนๆ</th>
            <!-- Result -->
            <th class="text-center">เงินเดือนสุทธิ</th>
         </tr>
        </thead>  
        <tbody>
          <tr ng-repeat="(index, employee) in payroll.employees"> 
            <!-- Employee Data -->
            <td class="text-left">{{employee.code}}</td>
            <td class="text-left">
              <a href="/#/employees/{{employee.code}}">
                <strong>{{employee.name}}</strong>
              </a>
            </td>
            <td class="text-center">{{employee.account_number}}</td>
            <!-- Income -->
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-salary" href="#" editable-number="employee.salary" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'salary')">
                  {{employee.salary || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-ot" href="#" editable-number="employee.ot" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'ot')">
                  {{employee.ot || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-position_allowance" href="#" editable-number="employee.position_allowance" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'position_allowance')">
                  {{employee.position_allowance || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-allowance" href="#" editable-number="employee.allowance" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'allowance')">
                  {{employee.allowance || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-attendance_bonus" href="#" editable-number="employee.attendance_bonus" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'attendance_bonus')">
                  {{employee.attendance_bonus || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-bonus" href="#" editable-number="employee.bonus" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'bonus')">
                  {{employee.bonus || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-extra_etc" href="#" editable-number="employee.extra_etc" class="text-green" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'extra_etc')">
                  {{employee.extra_etc || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <!-- Outcome -->
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-tax" href="#" editable-number="employee.tax" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'tax')">
                  {{employee.tax || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-social_insurance" href="#" editable-number="employee.social_insurance" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'social_insurance')">
                  {{employee.social_insurance || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-pvf" href="#" editable-number="employee.pvf" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'pvf')">
                  {{employee.pvf || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-absence" href="#" editable-number="employee.absence" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'absence')">
                  {{employee.absence || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-late" href="#" editable-number="employee.late" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'late')">
                  {{employee.late || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-advance_payment" href="#" editable-number="employee.advance_payment" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'advance_payment')">
                  {{employee.advance_payment || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <td class="bordered">
              <div class="popover-wrapper">
                <a id="{{index}}-fee_etc" href="#" editable-number="employee.fee_etc" class="text-red" onbeforesave="payroll.updatePayroll(index, employee.payroll_id, $data, 'fee_etc')">
                  {{employee.fee_etc || 0 | currency: ""}}
                </a>
              </div>
            </td>
            <!-- Result -->
            <td id="{{index}}-net_salary" class="text-green">{{employee.net_salary || 0 | currency: ""}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td class="text-center"><strong>รวมทั้งหมด</strong></td>
            <!-- Income -->
            <td class="text-green bordered"><strong>{{payroll.total.salary | currency: "" }}</strong></td>
            <td class="text-green bordered"><strong>{{payroll.total.ot | currency: "" }}</strong></td>
            <td class="text-green bordered"><strong>{{payroll.total.position_allowance | currency: "" }}</strong></td>
            <td class="text-green bordered"><strong>{{payroll.total.allowance | currency: "" }}</strong></td>
            <td class="text-green bordered"><strong>{{payroll.total.attendance_bonus | currency: "" }}</strong></td>
            <td class="text-green bordered"><strong>{{payroll.total.bonus | currency: "" }}</strong></td>
            <td class="text-green bordered"><strong>{{payroll.total.extra_etc | currency: "" }}</strong></td>
            <!-- Outcome -->
            <td class="text-red bordered"><strong>{{payroll.total.tax | currency: "" }}</strong></td>
            <td class="text-red bordered"><strong>{{payroll.total.social_insurance | currency: "" }}</strong></td>
            <td class="text-red bordered"><strong>{{payroll.total.pvf | currency: "" }}</strong></td>
            <td class="text-red bordered"><strong>{{payroll.total.absence | currency: "" }}</strong></td>
            <td class="text-red bordered"><strong>{{payroll.total.late | currency: "" }}</strong></td>
            <td class="text-red bordered"><strong>{{payroll.total.advance_payment | currency: "" }}</strong></td>
            <td class="text-red bordered"><strong>{{payroll.total.fee_etc | currency: "" }}</strong></td>
            <!-- Result -->
            <td class="text-green"><strong>{{payroll.total.net_salary | currency: "" }}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
