<div id="payroll" class="row">
  <div class="col-lg-12">
    <div class="dropdown">
      <h2 id="month-list" data-toggle="dropdown">
        ประจำเดือน<span ng-bind="report.currentMonth" ></span>
        <span class="caret"></span>
      </h2>
      <ul class="dropdown-menu" aria-labelledby="month-list">
        <li ng-repeat="month in report.months">
          <a ng-click="report.switchMonth(month)">
            <button>{{report.getMonthName(month)}}</button>
          </a>
        </li>
      </ul>
    </div>
    <div class="row payroll-content container-fluid">
      <table class="table text-right">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="7" class="text-center">รายการได้</th>
            <th colspan="7" class="text-center">รายการหัก</th>
            <th></th>
         </tr>
         <tr>
            <!-- Employee Data -->
            <th>รหัส</th>
            <th>ชื่อ</th>
            <th class="text-center">เลขบัญชีธนาคาร</th>
            <!-- Income -->
            <th class="text-center">เงินเดือน</th>
            <th class="text-center">เงินสอนพิเศษ</th>
            <th class="text-center">ค่าตำแหน่ง</th>
            <th class="text-center">เบี้ยเลี้ยง</th>
            <th class="text-center">เบี้ยขยัน</th>
            <th class="text-center">โบนัส</th>
            <th class="text-center">อื่น</th>
            <!-- Outcome -->
            <th class="text-center">ภาษี</th>
            <th class="text-center">ประกันสังคม</th>
            <th class="text-center">เงินสะสม</th>
            <th class="text-center">ขาดงาน</th>
            <th class="text-center">สาย</th>
            <th class="text-center">เบิกล่วงหน้า</th>
            <th class="text-center">อืนๆ</th>
            <th class="text-center">เงินเดือนสุทธิ</th>
         </tr>
        </thead>  
        <tbody>
          <tr ng-repeat="employee in payroll.employees"> 
            <!-- Employee Data -->
            <td class="text-left">{{employee.code}}</td>
            <td class="text-left">
              <a href="/#/employees/{{employee.code}}">
                <strong>{{employee.name}}</strong>
              </a>
            </td>
            <td class="text-center">{{employee.account_number}}</td>
            <!-- Income -->
            <td class="text-green">{{employee.salary | currency: ""}}</td>
            <td class="text-green">{{employee.ot | currency: ""}}</td>
            <td class="text-green">{{employee.position_allowance | currency: ""}}</td>
            <td class="text-green">{{employee.allowance | currency: ""}}</td>
            <td class="text-green">{{employee.attendance_bonus | currency: ""}}</td>
            <td class="text-green">{{employee.bonus | currency: ""}}</td>
            <td class="text-green">{{employee.extra_etc | currency: ""}}</td>
            <!-- Outcome -->
            <td class="text-red">{{employee.tax | currency: ""}}</td>
            <td class="text-red">{{employee.social_insurance | currency: ""}}</td>
            <td class="text-red">{{employee.pvf | currency: ""}}</td>
            <td class="text-red">{{employee.absence | currency: ""}}</td>
            <td class="text-red">{{employee.late | currency: ""}}</td>
            <td class="text-red">{{employee.advance_payment | currency: ""}}</td>
            <td class="text-red">{{employee.fee_etc | currency: ""}}</td>
            <!-- Result -->
            <td class="text-green">{{payroll.getNetSalary(employee) | currency: ""}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td class="text-center"><strong>รวมทั้งหมด</strong></td>
            <!-- Income -->
            <td class="text-green"><strong>{{payroll.total.salary | currency: "" }}</strong></td>
            <td class="text-green"><strong>{{payroll.total.ot | currency: "" }}</strong></td>
            <td class="text-green"><strong>{{payroll.total.position_allowance | currency: "" }}</strong></td>
            <td class="text-green"><strong>{{payroll.total.allowance | currency: "" }}</strong></td>
            <td class="text-green"><strong>{{payroll.total.attendance_bonus | currency: "" }}</strong></td>
            <td class="text-green"><strong>{{payroll.total.bonus | currency: "" }}</strong></td>
            <td class="text-green"><strong>{{payroll.total.extra_etc | currency: "" }}</strong></td>
            <!-- Outcome -->
            <td class="text-red"><strong>{{payroll.total.tax | currency: "" }}</strong></td>
            <td class="text-red"><strong>{{payroll.total.social_insurance | currency: "" }}</strong></td>
            <td class="text-red"><strong>{{payroll.total.pvf | currency: "" }}</strong></td>
            <td class="text-red"><strong>{{payroll.total.absence | currency: "" }}</strong></td>
            <td class="text-red"><strong>{{payroll.total.late | currency: "" }}</strong></td>
            <td class="text-red"><strong>{{payroll.total.advance_payment | currency: "" }}</strong></td>
            <td class="text-red"><strong>{{payroll.total.fee_etc | currency: "" }}</strong></td>
            <!-- Result -->
            <td class="text-green"><strong>{{payroll.total.netSalary | currency: "" }}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
