default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  host: <%= ENV['DB_HOST'] %>
  port: <%= ENV['DB_PORT'] %>
  username: <%= ENV['DB_USER'] %>
  password: <%= ENV['DB_PASS'] %>

development:
  <<: *default
  database: somsri_payroll_dev

test:
  <<: *default
  database: somsri_payroll_test

production:
  <<: *default
  database: somsri_payroll
