common: &common
  :s3_host_name: s3-ap-southeast-1.amazonaws.com
  :styles:
    :thumb: "100x100>"
    :medium: "300x300>"
  :default_url:


development:
  <<: *common
  :storage: :s3
  :s3_permissions: :private
  s3_credentials:
    bucket: <%= ENV['S3_BUCKET_NAME'] %>
    access_key_id: <%= ENV['AWS_ACCESS_KEY_ID'] %>
    secret_access_key: <%= ENV['AWS_SECRET_ACCESS_KEY'] %>
    s3_region: <%= ENV['AWS_REGION'] %>

production:
  <<: *common
  :storage: :s3
  :s3_permissions: :private
  s3_credentials:
    bucket: <%= ENV['S3_BUCKET_NAME'] %>
    access_key_id: <%= ENV['AWS_ACCESS_KEY_ID'] %>
    secret_access_key: <%= ENV['AWS_SECRET_ACCESS_KEY'] %>
    s3_region: <%= ENV['AWS_REGION'] %>

test:
  <<: *common
