
<div class="container" id="invoice" style="width: 960px;">
  <form name="createQuotationForm" ng-submit="quotationNew.save()">
    <div class="row">
      <div class="col-md-6 heading">
        {{ 'quotation_receipt' | translate }}
      </div>
      <div class="col-md-6 branding">
        <div class="invoice-number-container">
          <label>{{ 'date1' | translate }}&nbsp;{{ quotationNew.date_display }}&nbsp;&nbsp;</label>
        </div>
      </div>
    </div>
    <div class="form_1">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" id="student_code" placeholder="{{ 'student_id1' | translate }}" ng-model="quotationNew.datas.student.student_number"  typeahead-on-select="quotationNew.onSelectStudentNumber($item)" uib-typeahead="student.student_number as student.student_number_display for student in quotationNew.student_info | filter:{student_number:$viewValue} | limitTo:8"  autocomplete="off">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="student_name" placeholder="{{ 'student_name' | translate }}" ng-model="quotationNew.datas.student.full_name"  typeahead-on-select="quotationNew.onSelectStudentFullName($item)" uib-typeahead="student.full_name as student.full_name_display for student in quotationNew.student_info | filter:{full_name_display:$viewValue} | limitTo:8" required , autocomplete="off">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" id="parent_name" placeholder="{{ 'parent_name' | translate }}" ng-model="quotationNew.datas.parent.full_name"  typeahead-on-select="quotationNew.onSelectParent($item)" uib-typeahead="parent.full_name as parent.full_name_display for parent in quotationNew.parent_info | filter:{full_name_display:$viewValue} | limitTo:8" required , autocomplete="off">
          </div>
        </div>
      </div>

      <div class="row form-1_2">
        <div class="col-md-3">
          <div class="form-group">
            <select id="grade" class="btn btn-grades" ng-model="quotationNew.datas.quotations.grade_name" ng-options=" obj.value for obj in quotationNew.grades"  required="required">
              <option value>{{ 'choose_level' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group inline-block">
            {{ 'term' | translate }} <input type="text" class="form-control" id="semester" placeholder="{{ 'term' | translate }}" ng-model="quotationNew.datas.quotations.semester">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group inline-block">
            {{ 'school_year' | translate }} <input type="text" class="form-control" id="school_year" placeholder="{{ 'school_year' | translate }}" ng-model="quotationNew.datas.quotations.school_year">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 date-for-print">
          <div class="form-group">
            <span class="input-group">
              <div class="col-md-7">
                <label for="start_date" class="text-status-date">{{ 'can_payment' | translate }}</label>
              </div>
              <div class="col-md-5">
                <input id="start_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="{showWeeks:false}" ng-model="quotationNew.datas.quotations.payment_date_start" is-open="quotationNew.startDatePopup.opened" close-text="Close" ng-change="quotationNew.optionsChange()"/>
                <span class="input-group-btn" style="display: inherit;">
                  <button type="button" class="btn btn-default" ng-click="quotationNew.openStartDatePopup()"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </span>
          </div>
        </div>
        <div class="col-md-5 date-for-print">
          <div class="form-group">
            <span class="input-group">
              <div class="col-md-2">
                <label for="end_date" class="text-status-date">{{ 'ถึง' | translate }}</label>
              </div>
              <div class="col-md-7">
                <input id="end_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="{showWeeks:false}" ng-model="quotationNew.datas.quotations.payment_date_end" is-open="quotationNew.endDatePopup.opened" close-text="Close" ng-change="quotationNew.optionsChange()"/>
                <span class="input-group-btn" style="display: inherit;">
                  <button type="button" class="btn btn-default" ng-click="quotationNew.openEndDatePopup()"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form_2">
      <div class="row">
        <div class="col-md-6">
          <div class="title-htable">{{ 'invoice_list' | translate }}</div>
        </div>
      </div>

      <div class="items-table">
        <div class="row header">
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-1 text-center">#</div>
          <div class="col-md-8">{{ 'item' | translate }}</div>
          <div class="col-md-2 text-right-htable">{{ 'price' | translate }}</div>
        </div>

        <div class="row invoice-item" ng-repeat="item in quotationNew.datas.quotations.items" ng-animate="'slide-down'">
          <div class="col-md-1 remove-item-container">
            <a href ng-hide="printMode" ng-click="quotationNew.removeItem(item)" class="btn pl-10"><span class="fa fa-times-circle"></span></a>
          </div>
          <div class="col-md-1">
            {{ $index + 1 }}
          </div>
          <div class="col-md-8">
            <div class="form-group form-list">
              <input type="text" placeholder="{{ 'item' | translate }}" class="form-control grop-table" ng-model="item.detail" typeahead-on-select="quotationNew.onSelectLineItem($item, item)" uib-typeahead="item.detail as item.line_item_display for item in quotationNew.line_items_info | filter:{detail:$viewValue} | limitTo:8">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group form-price">
              <input type="text" value="0.00" ng-required min="-100000" step="1000" ng-validate="number" placeholder="{{ 'price' | translate }}" class="form-control table-price" ng-model="item.amount" ng-change="quotationNew.calculateTotal()" ui-number-mask="2" ui-negative-number>
            </div>
          </div>
        </div>

        <div class="row invoice-item add-invoice-item">
          <div class="col-md-12 add-item-container">
            <a class="btn btn-custom sm btn-green" href ng-click="quotationNew.addItem()">+ {{ 'add_item' | translate }}</a>
          </div>
        </div>
        <div class="row col-total-1">
          <div class="col-md-8 text-note">
            <div class="col-md-2"> {{ 'note' | translate }}</div>
            <div class="col-md-6"><textarea type="textarea" rows="3" class="form-control textarea-note" ng-model="quotationNew.datas.quotations.remark"></textarea></div>
          </div>
          <div class="col-md-2 text-right-total-invoice">{{ 'net' | translate }}: </div>
          <div class="col-md-2 text-right-total-invoice">{{ quotationNew.total.toFixed(2) | number:2 }}</div>
        </div>
      </div>

      <div class="row col-total-2">
        <div class="col-md-12">
        <p class="text-hradio">{{ 'payment_channel' | translate }}</p>
          <div class="row">
            <div class="col-md-4" style="margin-right:20px;">
              <label><i class="fa fa-square-o"></i>  {{ 'cash' | translate }} ({{ 'can_payment_school' | translate }})</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" style="margin-right:20px;">
              <label><i class="fa fa-square-o"></i>  {{ 'credit_card' | translate }} ({{ 'can_payment_school' | translate }})</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" style="margin-right:20px;">
              <label><i class="fa fa-square-o"></i>  {{ 'bank_check' | translate }}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label><i class="fa fa-square-o"></i>  {{ 'bank_transfer' | translate }}</label>
            </div>
          </div>
          <div class="row p-10" ng-repeat="bank in quotationNew.banks" >
            <div class="col-md-2 col-md-offset-1 text-right">
              <i class="fa fa-square-o"></i>
              <img src="{{ bank.image }}" width="40px">
            </div>
            <div class="col-md-3 mt-5"><label>{{ bank.bank_name }}</label></div>
            <div class="col-md-3 mt-5"><label>{{ 'bank_account_number' | translate }} {{ bank.bank_account }}</label></div>
            <div class="col-md-3 mt-5"><label>{{ 'account_name' | translate }} {{ bank.account_name }}</label></div>
          </div>
          <div class="row mt-20">
            <div class="col-md-offset-1 col-md-2">
              <button type="button" class="btn btn-custom sm btn-green" ng-click="quotationNew.addBankModal();">+ {{ 'add_bank' | translate }}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-right-htable">
          <button id="submit" type="submit" class="btn btn-custom btn-blue mr-5">{{ 'add_quotation' | translate }}</button>
          <a href="/somsri_invoice#/quotation" class="btn btn-custom btn-gray" ng-click="quotationNew.cancel()">{{ 'cancel' | translate }}</a>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Modal Add Bank-->
<div class="modal" id="add-bank-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-0">
      <div class="modal-header bg-green">
        <i class="fa fa-close pull-right" data-dismiss="modal"></i>
        <h3 class="modal-title pull-left text-white">{{ "add_bank" | translate }}</h3>
      </div>
      <div class="modal-body">
        <div class="row mt-10">
          <div class="col-md-3 mt-10">
            <label for="bank_name">{{ 'bank_name' | translate }}:</label>
          </div>
          <div class="col-md-9">
            <select id="bank_name" class="btn btn-grades" ng-model="quotationNew.bank_name" ng-options="obj.id as obj.name for obj in quotationNew.lt_banks">
            </select>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-md-3 mt-10">
            <label for="bank_account">{{ 'bank_account_number' | translate }}:</label>
          </div>
          <div class="col-md-9">
            <input type="text" id="bank_account" ng-model="quotationNew.bank_account" class="form-control" required>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-md-3 mt-10">
            <label for="account_name">{{ 'account_name' | translate }}:</label>
          </div>
          <div class="col-md-9">
            <input type="text" id="account_name" ng-model="quotationNew.account_name" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-custom btn-green" ng-click="quotationNew.createBank()">{{ 'add' | translate }}</button>
        <button type="button" class="btn btn-cancel" data-dismiss="modal">{{ 'cancel' | translate }}</button>
      </div>
  </div>
</div>

