<%= javascript_include_tag 'custom_bootstrap_table' %>
<flash-message-content message="expenses.message" type-success="expenses.typeSuccess"></flash-message-content>
<div class="container-fluid">
  <div id="expenses-report">
    <div class="unused_for_print col-lg-12">
      <div class="row for-display mt-20">
        <div class="col-xs-6 pl-0">
          <h1>รายการค่าใช้จ่าย</h1>
        </div>
        <div class="col-xs-6 pr-0 text-right">
          <button class="btn btn-custom btn-black mr-5" ng-click="expenses.print_report()"><i class="fa fa-print"></i></button>
          <button class="btn btn-custom btn-blue" ng-click="expenses.createExpenses()" id="exportTable">+ {{ 'add_item' | translate}}</button>
        </div>
      </div>
      <div class="row report-content container-fluid panel-board">
        <div class="col-xs-12 form-group fix-head-table for-display pl-0 pr-0">
          <div class="col-xs-8 pl-0">
            <input id="searchField" type="text" ng-model="expenses.searchKeyword" ng-change="expenses.search()" placeholder="{{ 'search' | translate}}" class="search-sp" />
          </div>
          <div class="col-xs-4 pr-0">
            <div id="date-filter" class="row for-display">
              <div class="col-xs-6 px-0">
                <div class="form-group">
                  <span class="input-group">
                    <div class="col-xs-2 pr-0">
                      <label for="start_date" class="text-status-date">{{ 'from' | translate}}</label>
                    </div>
                    <div class="col-xs-8">
                      <input id="start_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="{showWeeks:false}" ng-model="expenses.start_date" is-open="expenses.startDatePopup.opened" close-text="Close" ng-change="expenses.optionsChange()"/>
                      <span class="input-group-btn" style="display: inherit;">
                        <button type="button" class="btn btn-default" ng-click="expenses.openStartDatePopup()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>
                  </span>
                </div>
              </div>
              <div class="col-xs-6 px-0">
                <div class="form-group">
                  <span class="input-group">
                    <div class="col-xs-2 pr-0">
                      <label for="end_date" class="text-status-date">{{ 'to' | translate}}</label>
                    </div>
                    <div class="col-xs-8">
                      <input id="end_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="{showWeeks:false}" ng-model="expenses.end_date" is-open="expenses.endDatePopup.opened" close-text="Close" ng-change="expenses.optionsChange()"/>
                      <span class="input-group-btn" style="display: inherit;">
                        <button type="button" class="btn btn-default" ng-click="expenses.openEndDatePopup()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table id="expenses-table" class="font-16">
          <tfoot class="font-18">
            <tr>
              <td colspan="3" class="text-currency font-weight-bold">{{ 'total_price' | translate }} : </td>
              <td class="numberic text-right font-weight-bold">{{ expenses.total_all_price.toFixed(2) }}</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
        <div class="row row-centered">
          <div class="col-centered">
            <ul uib-pagination ng-change="expenses.pageChanged()" total-items="expenses.totalItems" ng-model="expenses.currentPage" max-size="expenses.paginateButtonMaxSize" class="pagination-md" num-pages="numPages" previous-text="‹" next-text="›" boundary-link-numbers='true' rotate='false'></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
