
  <div ng-repeat="employees in report.employees | filterEmployeesReport: class">
    <table id="tableHeader" class="table text-right scrollable-header">
      <thead>
       <tr>
          <th class="report_for_print_hide" style="width:60px;">
            <a href="" ng-click="sortType = 'code'; sortReverse = !sortReverse" class="sort-report">
              รหัส
              <span ng-hide="sortType == 'code'" class="fa fa-sort"></span>
              <span ng-show="sortType == 'code' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'code' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="forprint-h_table print_name" style="width:461px;">
            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse" class="sort-report">
              ชื่อ
              <span ng-hide="sortType == 'name'" class="fa fa-sort"></span>
              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-center forprint-h_table" style="width:184px;">
            <a href="" ng-click="sortType = 'account_number'; sortReverse = !sortReverse" class="sort-report">
              เลขบัญชี
              <span ng-hide="sortType == 'account_number'" class="fa fa-sort"></span>
              <span ng-show="sortType == 'account_number' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'account_number' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-center report_for_print_hide" style="width:130px;">
            <a href="" ng-click="sortType = 'salary'; sortReverse = !sortReverse" class="sort-report">
              เงินเดือน
              <span ng-hide="sortType == 'salary'" class="fa fa-sort"></span>
              <span ng-show="sortType == 'salary' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'salary' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-center report_for_print_hide" style="width:117px;">
            <a href="" ng-click="sortType = 'extra_pay'; sortReverse = !sortReverse" class="sort-report">
              เงินเพิ่ม
              <span ng-hide="sortType == 'extra_pay'" class="fa fa-sort"></span>
              <span ng-show="sortType == 'extra_pay' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'extra_pay' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-center report_for_print_hide" style="width:92px;">
            <a href="" ng-click="sortType = 'extra_fee'; sortReverse = !sortReverse" class="sort-report">
              เงินหัก
              <span ng-hide="sortType == 'extra_fee'" class="fa fa-sort"></span>
              <span ng-show="sortType == 'extra_fee' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'extra_fee' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-center forprint-h_table" style="width:122px;">
            <a href="" ng-click="sortType = report.getNetSalary; sortReverse = !sortReverse" class="sort-report">
              เงินเดือนสุทธิ
              <span ng-hide="sortType == report.getNetSalary" class="fa fa-sort"></span>
              <span ng-show="sortType == report.getNetSalary && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == report.getNetSalary && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th class="text-right">
            <a ng-click="report.printSlips()" href="javascript:void(0)">
              <i class="fa fa-print"></i>
            </a>
          </th>
       </tr>
      </thead>
    </table>
    <div class="scrollable-content" style="max-height: calc(100vh - 270px);">
      <table id="tableData" class="table text-right">
        <tbody>
          <tr ng-repeat="employee in employees | orderBy:sortType:sortReverse">
            <td class="text-left report_for_print_hide">{{employee.code}}</td>
            <td class="text-left forprint_table this_name">
              <a href="/somsri_payroll#/employees/{{employee.code}}?payroll_id={{employee.payroll_id}}">
                <strong>{{employee.name}}</strong>
              </a>
            </td>
            <td class="text-center forprint_table this_account">{{employee.account_number}}</td>
            <td class="report_for_print_hide">{{employee.salary | currency: ""}}</td>
            <td class="text-green report_for_print_hide">{{employee.extra_pay | currency: ""}}</td>
            <td class="text-red report_for_print_hide">{{employee.extra_fee | currency: ""}}</td>
            <td class="text-green forprint_table this_netsalary">{{report.getNetSalary(employee) | currency: ""}}</td>
            <td class="report_for_print_hide">
              <a ng-click="report.printSlip(employee.code, report.payroll_id)" href="javascript:void(0)">
                <i class="fa fa-print"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot ng-show="$last">
          <tr>
            <td></td>
            <td class="report_for_print_hide"></td>
            <td class="text-center forprint-h_table">รวมทั้งหมด</td>
            <td class="report_for_print_hide">{{report.total.salary | currency: ""}}</td>
            <td class="text-green report_for_print_hide">{{report.total.extraPay | currency: ""}}</td>
            <td class="text-red report_for_print_hide">{{report.total.extraFee | currency: ""}}</td>
            <td class="text-green">{{report.total.netSalary | currency: ""}}</td>
            <td class="report_for_print_hide"></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="pagebreak"></div>
  </div>
