<div class="container-fluid nav-for-print">
  <div class="row row-print">
    <div class="col-xs-3">
      <button type="button" class="btn btn-back_to_print" ng-click="slip.goBack()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;ย้อนกลับ</button>
    </div>
    <div class="col-xs-3 col-xs-offset-6" style="text-align:right;">
      <button type="button" class="btn btn-to-print" onclick="window.print()"><i class="fa fa-print"></i>&nbsp;&nbsp;พิมพ์ใบเสร็จ</button>
    </div>
  </div>
</div>
<div class="container form-slip">
  <div class="row slip-sec1">
    <div class="col-xs-2 img-logo_school">
      <img src="{{ slip.datas.logo }}" class="img-responsive">
    </div>
    <div class="col-xs-8 text-slip1-school" ng-bind-html="slip.header">
    </div>
    <div class="col-xs-2 text-slip1-school">
      <div class="row">
        เลขที่ใบเสร็จ &nbsp;{{ slip.datas.slip_id }}<br>
        receipt No.
      </div>
      <div class="row sup-date">
        วันที่&nbsp;&nbsp;{{ slip.datas.thai_now_date }}
      </div>
      <div class="row">
        {{ slip.datas.eng_now_date }}
      </div>
    </div>
  </div>
  <div class="row slip-sec2">
    <div class="col-xs-4 text-slip2-school">
      <div class="row"><span class="large-receipt">ใบเสร็จรับเงิน </span>&nbsp;&nbsp;/ Receipt</div>
      <div class="row">( ต้นฉบับ / Original )</div>
    </div>
    <div class="col-xs-3 col-xs-offset-5 text-slip2-school slip-school-year">
      <div class="row">ภาคเรียนที่ {{ slip.datas.semester }} ปีการศึกษา {{ slip.datas.school_year }}</div>
      <div class="row">Semester {{ slip.datas.semester }} year {{ slip.datas.school_year_thai }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 text-slip2-school">
      <div class="row"><b>ผู้ปกครอง / Parents</b></div>
      <div class="row">{{ slip.datas.parent.display_name }}</div>
    </div>
    <div class="col-xs-3 col-xs-offset-5 text-slip2-school">
      <div class="row"><b>นักเรียน / Student</b></div>
      <div class="row">{{ slip.datas.student.display_name }}</div>
      <div class="row">เลขประจำตัว {{ slip.datas.student.student_number }}</div>
      <div class="row"> <b>ชั้น </b> &nbsp;{{ slip.datas.grade_name }}</div>
    </div>
  </div>
  <div class="row text-title-table">ตามรายละเอียดดังต่อไปนี้</div>
  <div class="table-payment-slip">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="table-with1">ลำดับที่<br/> No.</th>
          <th class="table-center">รายการ <br/> Description</th>
          <th class="table-with2">จำนวนเงิน<br/> Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="line_item in slip.datas.line_items">
          <td class="num-pay">{{ $index + 1 }}</th>
          <td class="table-center">{{ line_item.detail }}</td>
          <td class="price-pay">{{ line_item.amount.toFixed(2) | number:2}}</td>
        </tr>
        <tr>
          <td></td>
          <td ng-style="{height: slip.autoHeigth}"></td>
          <td></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <td class="total-pay">จำนวนเงินรวมทั้งสิ้น (บาท)/Total (Baht)</td>
          <th style="font-size:16px;">{{ slip.datas.total_amount.toFixed(2) | number:2}}</th>
        </tr>
         <tr class="text-total text-total-display-print">
          <td></td>
          <td colspan="3"><span>จำนวนเงินรวมทั้งสิ้น <b class="total_text">{{ slip.datas.total_amount.toString() | thaiBaht }}</b></span></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="min-height-pay">
    <div class="sec-payment">
      <div class="row text-slip3-payment"><b>การชำระเงิน / Payment</b></div>
      <div class="row text-slip2-school">
        <div class="col-xs-12">
          <div class="row" ng-show="slip.datas.is_cash">
            <div class="col-xs-9">
              <div class="checkbox">
                <label>
                  <span>&nbsp;
                    เงินสด / Cash
                  </span>
                </label>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="pull-right">
               {{ slip.datas.cash_amount.toFixed(2) | number:2 }} บาท / Baht
              </span>
            </div>
          </div>
          <div class="row" ng-show="slip.datas.is_credit_card">
            <div class="col-xs-9">
              <div class="checkbox">
                <label>
                  <span>&nbsp;
                    บัตรเครดิต / Credit card
                  </span>
                </label>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="pull-right">
               {{ slip.datas.credit_card_amount.toFixed(2) | number:2 }} บาท / Baht
              </span>
            </div>
          </div>
          <div class="row" ng-show="slip.datas.is_cheque">
            <div class="col-xs-9">
              <div class="checkbox">
                <label>
                  <span>&nbsp;
                    เช็คธนาคาร / Cheque {{ slip.datas.cheque_bank_name || '.................' }} เช็คเลขที่ / No. {{ slip.datas.cheque_number || '.......' }} ลงวันที่ / Date {{ slip.datas.cheque_date || '.......' }}
                  </span>
                </label>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="pull-right">
               {{ slip.datas.cheque_amount.toFixed(2) | number:2 }} บาท / Baht
              </span>
            </div>
          </div>
          <div class="row" ng-show="slip.datas.is_transfer">
            <div class="col-xs-9">
              <div class="checkbox">
                <label>
                  <span>&nbsp;
                    เงินโอน เลขบัญชี / Transfer to {{ slip.datas.transfer_bank_name || '.................' }} ลงวันที่ / Date {{ slip.datas.transfer_date || '.......' }}
                  </span>
                </label>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="pull-right">
               {{ slip.datas.transfer_amount.toFixed(2) | number:2 }} บาท / Baht
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-bind-html="slip.footer"></div>
  </div>
  <div class="col-xs-4 right-receiver">
    <div class="row">
      <div class="col-xs-2">ลงชื่อ</div>
      <div class="col-xs-8 center-sign">....................................</div>
      <div class="col-xs-2 right-sign">Receiver</div>
    </div>
    <div class="row">
      <div class="col-xs-2">(</div>
      <div class="col-xs-8 center-sign">{{ slip.datas.receiver_name }}</div>
      <div class="col-xs-2 right-sign">)</div>
    </div>
  </div>
</div>


<div class="slip-copy-top"></div>


<!-- for slip copy-->
<div class="container form-slip-forslip-copy">
  <div class="row slip-sec1">
    <div class="col-xs-2 img-logo_school">
      <img src="{{ slip.datas.logo }}" class="img-responsive">
    </div>
    <div class="col-xs-8 text-slip1-school" ng-bind-html="slip.header">
    </div>
    <div class="col-xs-2 text-slip1-school">
      <div class="row">
        เลขที่ใบเสร็จ &nbsp;{{ slip.datas.slip_id }}<br>
        receipt No.
      </div>
      <div class="row sup-date">
        วันที่&nbsp;&nbsp;{{ slip.datas.thai_now_date }}
      </div>
      <div class="row">
        {{ slip.datas.eng_now_date }}
      </div>
    </div>
  </div>
  <div class="row slip-sec2">
    <div class="col-xs-4 text-slip2-school">
      <div class="row"><span class="large-receipt">ใบเสร็จรับเงิน </span>&nbsp;&nbsp;/ Receipt</div>
      <div class="row">( สำเนา / Copy )</div>
    </div>
    <div class="col-xs-3 col-xs-offset-5 text-slip2-school slip-school-year">
      <div class="row">ภาคเรียนที่ {{ slip.datas.semester }} ปีการศึกษา {{ slip.datas.school_year }}</div>
      <div class="row">Semester {{ slip.datas.semester }} year {{ slip.datas.school_year_thai }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 text-slip2-school">
      <div class="row"><b>ผู้ปกครอง / Parents</b></div>
      <div class="row">{{ slip.datas.parent.display_name }}</div>
    </div>
    <div class="col-xs-3 col-xs-offset-5 text-slip2-school">
      <div class="row"><b>นักเรียน / Student</b></div>
      <div class="row">{{ slip.datas.student.display_name }}</div>
      <div class="row">เลขประจำตัว {{ slip.datas.student.student_number }}</div>
      <div class="row"> <b>ชั้น / Grade</b> &nbsp;{{ slip.datas.grade_name }}</div>
    </div>
  </div>
  <div class="row text-title-table">ตามรายละเอียดดังต่อไปนี้</div>
  <div class="table-payment-slip">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="table-with1">ลำดับที่<br/> No.</th>
          <th class="table-center">รายการ <br/> Description</th>
          <th class="table-with2">จำนวนเงิน<br/> Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="line_item in slip.datas.line_items">
          <td class="num-pay">{{ $index + 1 }}</th>
          <td class="table-center">{{ line_item.detail }}</td>
          <td class="price-pay">{{ line_item.amount.toFixed(2) | number:2}}</td>
        </tr>
        <tr>
          <td></td>
          <td ng-style="{height: slip.autoHeigth}"></td>
          <td></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <td class="total-pay">จำนวนเงินรวมทั้งสิ้น (บาท)/Total (Baht)</td>
          <th style="font-size:16px;">{{ slip.datas.total_amount.toFixed(2) | number:2}}</th>
        </tr>
         <tr class="text-total text-total-display-print">
          <td></td>
          <td colspan="3"><span>จำนวนเงินรวมทั้งสิ้น <b class="total_text">{{ slip.datas.total_amount.toString() | thaiBaht }}</b></span></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="min-height-pay">
    <div class="sec-payment">
      <div class="row text-slip3-payment"><b>การชำระเงิน / Payment</b></div>
      <div class="row text-slip2-school">
        <div class="col-xs-12">
          <div class="row" ng-show="slip.datas.is_cash">
            <div class="col-xs-9">
              <div class="checkbox">
                <label>
                  <span>&nbsp;
                    เงินสด / Cash
                  </span>
                </label>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="pull-right">
               {{ slip.datas.cash_amount.toFixed(2) | number:2 }} บาท / Baht
              </span>
            </div>
          </div>
          <div class="row" ng-show="slip.datas.is_credit_card">
            <div class="col-xs-9">
              <div class="checkbox">
                <label>
                  <span>&nbsp;
                    บัตรเครดิต / Credit card
                  </span>
                </label>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="pull-right">
               {{ slip.datas.credit_card_amount.toFixed(2) | number:2 }} บาท / Baht
              </span>
            </div>
          </div>
          <div class="row" ng-show="slip.datas.is_cheque">
            <div class="col-xs-9">
              <div class="checkbox">
                <label>
                  <span>&nbsp;
                    เช็คธนาคาร / Cheque {{ slip.datas.cheque_bank_name || '.................' }} เช็คเลขที่ / No. {{ slip.datas.cheque_number || '.......' }} ลงวันที่ / Date {{ slip.datas.cheque_date || '.......' }}
                  </span>
                </label>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="pull-right">
               {{ slip.datas.cheque_amount.toFixed(2) | number:2 }} บาท / Baht
              </span>
            </div>
          </div>
          <div class="row" ng-show="slip.datas.is_transfer">
            <div class="col-xs-9">
              <div class="checkbox">
                <label>
                  <span>&nbsp;
                    เงินโอน เลขบัญชี / Transfer to {{ slip.datas.transfer_bank_name || '.................' }} ลงวันที่ / Date {{ slip.datas.transfer_date || '.......' }}
                  </span>
                </label>
              </div>
            </div>
            <div class="col-xs-3">
              <span class="pull-right">
               {{ slip.datas.transfer_amount.toFixed(2) | number:2 }} บาท / Baht
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-bind-html="slip.footer"></div>
  </div>
  <div class="col-xs-4 right-receiver">
    <div class="row">
      <div class="col-xs-2">ลงชื่อ</div>
      <div class="col-xs-8 center-sign">....................................</div>
      <div class="col-xs-2 right-sign">Receiver</div>
    </div>
    <div class="row">
      <div class="col-xs-2">(</div>
      <div class="col-xs-8 center-sign">{{ slip.datas.receiver_name }}</div>
      <div class="col-xs-2 right-sign">)</div>
    </div>
  </div>
</div>
