<form name="candidateForm" ng-submit="candidate.submit(candidate.data)">
    <div class="form-group">
        <label for="full_name">ชื่อ-สกุล</label>    
        <input type="text" class="form-control" id="full_name" ng-model="candidate.data.full_name">
    </div>
    <div class="form-group">
        <label for="nick_name">ชื่อเล่น</label>    
        <input type="text" class="form-control" id="nick_name" ng-model="candidate.data.nick_name">
    </div>
    <div class="form-group">
        <label for="nick_name">อีเมล</label>    
        <input type="text" class="form-control" id="email" ng-model="candidate.data.email">
    </div>
    <button type="submit" class="btn btn-custom btn-green btn-block">update</button>
</form>