  <div class="col-md-4">
    <div class="img-profile cursor-pointer" ngf-select="candidate.showImage($event)">
      <div class="img-bg bg-light-gray circle"></div>
      <img src="" id="imgs">
    </div>
  </div>
  <button type="submit" ng-click="candidate.uploadPhoto($file)" class="btn btn-custom btn-green btn-block">Upload</button>