
<form name="candidateForm" ng-submit="candidate.submit(candidate.data)">
    <div class="form-group">
      <div class="img-profile cursor-pointer" id="image" ngf-select="candidate.showImage($event, 'pic')">
        <img src="{{candidate.data.pic}}" id="pic" class="img-lg">
      </div>
    </div>
    <div class="form-group">
        <label for="full_name">{{ 'full_name' | translate }}</label>    
        <input type="text" class="form-control" id="full_name" ng-model="candidate.data.candidate.full_name">
    </div>
    <div class="form-group">
        <label for="nick_name">{{ 'nick_name' | translate }}</label>    
        <input type="text" class="form-control" id="nick_name" ng-model="candidate.data.candidate.nick_name">
    </div>
    <div class="form-group">
        <label for="email">{{ 'email' | translate }}</label>    
        <input type="text" class="form-control" id="email" ng-model="candidate.data.candidate.email">
    </div>
    <strong>programming_skill</strong><br>
    <div class="form-group">
			<label for="skillname">skillname</label>    
			<input type="text" class="form-control" id="skillname" ng-model="candidate.data.programming_skill.skill_name">				
			<select ng-model="candidate.data.programming_skill.skill_point">
				<option value="{{candidate.data.programming_skill.skill_point}}" selected>{{candidate.data.programming_skill.skill_point}}</option>
				<option ng-repeat="value in point" value="{{value.id}}">{{value.value}}</option>
			</select>
    </div>

		<strong>soft_skill</strong><br>
    <div class="form-group">
			<label for="skillname">skillname</label>    
			<input type="text" class="form-control" id="skillname" ng-model="candidate.data.soft_skill.skill_name">				
			<select ng-model="candidate.data.soft_skill.skill_point">
				<option value="{{candidate.data.soft_skill.skill_point}}" selected>{{candidate.data.soft_skill.skill_point}}</option>
				<option ng-repeat="value in point" value="{{value.id}}">{{value.value}}</option>
			</select>
    </div>

		<strong>design_skill</strong><br>
    <div class="form-group">
			<label for="skillname">skillname</label>    
			<input type="text" class="form-control" id="skillname" ng-model="candidate.data.design_skill.skill_name">				
			<select ng-model="candidate.data.design_skill.skill_point">
				<option value="{{candidate.data.design_skill.skill_point}}" selected>{{candidate.data.design_skill.skill_point}}</option>
				<option ng-repeat="value in point" value="{{value.id}}">{{value.value}}</option>
			</select>
    </div>

    <button type="submit" ng-click="candidate.uploadPhoto()" class="btn btn-custom btn-green btn-block">Update</button>
</form>






<div class="container1">
    <div ng-repeat="item in candidate.files">
      <div class="img-profile cursor-pointer" ng-model="item.file" id="add-files" ngf-select>
        ADD FILE
      </div>  
    </div>
    <button ng-click="candidate.addFile()">add</button></div>
</div>
