<div class="container-fluid p-50">
  <div class="row head-sp" style="margin-bottom: 20px;">
    <h1><i class="fas fa-arrow-left" style="padding-right: 10px;"></i>Candidate Information</h1>
  </div>
  <div class="row paper-white container-fluid padding-30">
    <div class="row">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-2" >
            <img src="https://www.menshairstyleguide.com/wp-content/uploads/2014/07/mens-undercut-26.jpg" class="picture"> 
          </div>
          <div class="col-sm-10">
            <div class="row">
              <h1 class="color-blue-light">{{candidateDetail.datas.candidate.full_name_and_nick_name}} 
              <i ng-click="candidateDetail.changIcon(candidateDetail.icon)" ng-class="candidateDetail.buttonIcon"></i>
              </h1>
            </div>
            <div class="row">
              <div class="col-sm-2 text-right">
                <span class="font-roboto font-21">Email:</span>
              </div>
              <div class="col-sm-3">
                <span class="font-roboto font-21 color-blue">{{candidateDetail.datas.candidate.email}}</span>
              </div>
              <div class="col-sm-2 text-right">
                <span class="font-roboto font-21">Interview date :</span>
              </div>
              <div class="col-sm-3">
                <span class="font-roboto font-21 color-blue">15/3/2020 9:00</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 text-right">
                <span class="font-roboto font-21">Phone Number:</span>
              </div>
              <div class="col-sm-4">
                <span class="font-roboto font-21 color-blue">{{candidateDetail.datas.candidate.phone_number}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 text-right">
                <span class="font-roboto font-21">Form:</span>
              </div>
              <div class="col-sm-6">
                <span class="font-roboto font-21 color-blue">{{candidateDetail.datas.candidate.from}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 text-right">
                <span class="font-roboto font-21">Year:</span>
              </div>
              <div class="col-sm-6">
                 <span class="font-roboto font-21 color-blue">{{candidateDetail.datas.candidate.school_year}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 text-right">
                 <span class="font-roboto font-21">Interest:</span>
              </div>
              <div class="col-sm-6">
                <span class="font-roboto font-21 color-blue">app</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="margin20" style="margin-left: 100px">
          <button type="button" class="btn btn-custom btn-black" ng-disabled="candidateDetail.datas.candidate.deleted">Interviwe</button>
        </div>
        <div class="margin20">
          <button type="button" class="btn btn-custom btn-black" ng-disabled="candidateDetail.datas.candidate.deleted">Edit</button>
        </div>
        <div class="margin20">
          <button type="button" ng-disabled="candidateDetail.datas.candidate.deleted" class="btn btn-custom btn-black" ng-click="candidateDetail.removeCandidate(candidateDetail.datas.candidate.id)">Delete</button> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1" style="margin-right: 95px;">
        <h3>Resume/Transcript</h3>
          <p><a href="#" class="font-roboto font-21">Resume</a></p>
          <p><a href="#" class="font-roboto font-21">Transcript</a></p>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3">
            <h3>Current Ability</h3>
          </div>
          <div class="col-sm-9">
            <div class="progress progress-bar-skill" style="margin-top: 30px;">
              <div class="progress-bar bar-skill" role="progressbar" style="width: {{candidateDetail.datas.candidate.current_ability * 5}}%;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h3>Learn Ability</h3>
          </div>
          <div class="col-sm-9">
            <div class="progress progress-bar-skill" style="margin-top: 30px;">
              <div class="progress-bar bar-skill" role="progressbar" style="width: {{candidateDetail.datas.candidate.learn_ability * 5}}%;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h3>Attention</h3>
          </div>
          <div class="col-sm-9">
            <div class="progress progress-bar-skill" style="margin-top: 30px;">
              <div class="progress-bar bar-skill" role="progressbar" style="width: {{candidateDetail.datas.candidate.attention_ability * 5}}%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="hr-2">Programming skill</h3>
            <div class="row" ng-repeat="item in candidateDetail.datas.candidate.programming_skills">
              <div class="col-sm-3">
                <h3>{{item.skill_name}}</h3>
              </div>
              <div class="col-sm-9">
                <div class="progress progress-bar-skill" style="margin-top: 30px;">
                  <div class="progress-bar bar-skill" role="progressbar" style="width: {{item.skill_point * 5}}%;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h3 class="hr-2">Soft skill</h3>
            <div class="row" ng-repeat="item in candidateDetail.datas.candidate.soft_skills">
              <div class="col-sm-3">
                <h3>{{item.skill_name}}</h3>
              </div>
              <div class="col-sm-9">
                <div class="progress progress-bar-skill" style="margin-top: 30px;">
                  <div class="progress-bar bar-skill" role="progressbar" style="width: {{item.skill_point * 5}}%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <h3 class="hr-2">Note</h3>
        <div style="border: 1px solid #ddd; height: 350px; margin-top: 30px;">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3 class="hr-2">Desing skill</h3>
        <h4>C# (18/20)</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3 class="hr-2">History Log</h3>
        <h4 data-ng-repeat="(index, data) in candidateDetail.datas.candidate.versions">
        {{candidateDetail.datas.candidate.versions[index].event}}  {{candidateDetail.datas.candidate.versions[index].object.full_name}}
         by {{candidateDetail.datas.candidate.versions[index].user.first_name}} 
         at {{candidateDetail.datas.candidate.versions[index].created_at | date:'dd/MM/yyyy HH:mm '}}
         </h4>
      </div>
    </div>
  </div>
</div>


