<div>
  <div class="modal-body" id="inventory-modal-body" tabindex="-1" role="dialog" aria-labelledby="inventory-modal-body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="modal-title text-center mt-50" id="modal-title">{{confirm.message}}</h4>
      </div>
    </div>
    <div class="row text-center">
      <form class="mt-20">
        <div class=“form-group”>
          <textarea class=“form-control” id=“exampleFormControlTextarea1" rows=“3” ng-change="confirm.comments()" ng-model="confirm.comment" style="width: 536px;"></textarea>
        </div>
      </form>
    </div>
    <div class="row mt-20">
      <div class="pull-right text-right padding-left10">
        <button class="btn btn-custom btn-gray" ng-click="confirm.close()">{{ 'cancel' | translate }}</button>
      </div>
      <div class="pull-right text-right padding-left10">
        <button class="btn btn-custom btn-red" ng-click="confirm.ok()">{{ 'ok' | translate }}</button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
