<div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="modal-title text-center mt-50" id="modal-title">{{confirm.message}}</h4>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h4 class="font-16 text-center" id="modal-title">{{confirm.detail}}</h4>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row mt-50">
      <div class="col-md-3 pull-right">
        <button class="btn btn-custom btn-gray" ng-click="confirm.close()">{{ 'cancel' | translate }}</button>
      </div>
      <div class="col-md-3 pull-right">
        <button class="btn btn-custom btn-red" ng-click="confirm.ok()">{{ 'ok' | translate }}</button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

