<div class="container main-menu main">

    <div class="col-xs-4">
        <div class="menu-btn" ng-click="openVacationDashboard()">
            <div class="wraptocenter">
                <%= image_tag 'vacation-dashboard-icon.png', class: "" %>
            </div>
        </div>
        <p>{{ 'dashboard' | translate }}</p>
    </div>

    <div class="col-xs-4">
        <div class="menu-btn slip" ng-click="openVacationCalendar()">
            <div class="wraptocenter">
                <%= image_tag 'vacation-calendar-icon.png', class: "" %>
            </div>
        </div>
        <p>{{ 'calendar' | translate }}</p>
    </div>

    <div class="col-xs-4">
        <div class="menu-btn" ng-click="openVacationLeaveRules()">
            <div class="wraptocenter">
                <%= image_tag 'vacation-rule-icon.png', class: "" %>
            </div>
        </div>
        <p>{{ 'leave_rules' | translate }}</p>
    </div>

    <div class="col-xs-12 mt-50"></div>

    <div class="col-xs-4" ng-show="menu.isAdmin">
        <div class="menu-btn" ng-click="openVacationSetting()">
            <div class="wraptocenter">
                <%= image_tag 'vacation-setting-icon.png', class: "" %>
            </div>
        </div>
        <p>{{ 'setting' | translate }}</p>
    </div>
</div>
