<%= javascript_include_tag 'classroom_bootstrap_table' %>
<div class="container" style="width: 960px;">
  <div class="space20"></div>
  <div class="row">
    <div class="col-xs-12">
      <button ng-show="classroom.isStudentPromoteReady" class="btn pull-right" ng-class="classroom.isStudentPromoteEnable ? 'btn-blue' : 'btn-disable'" ng-click="classroom.studentPromote()" ng-disabled="!classroom.isStudentPromoteEnable">เลื่อนชั้นเรียน</button>
    </div>
  </div>
  <div class="space20"></div>
  <div class="content-box">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <span>เลือกระดับชั้น</span>
          <select id="grade-select" class="btn-grades" ng-model="classroom.grade_select" ng-options="obj.name for obj in classroom.grades track by obj.id" ng-change="classroom.gradeFilter()">
            <option value="">ทั้งหมด</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <table id="classroom-list"></table>
        </div>
      </div>
    </div>
  </div>
</div>
