<div class="container main-menu main">
      <div class="col-xs-12">
          <div class="menu-btn create-payment" ng-click="openClassroomList()">
              <div class="wraptocenter">
                  <%= image_tag 'add_class_setting.png', class: "" %>
              </div>
          </div>
          <p>จัดการชั้นเรียน</p>
      </div>
</div>
