<div class="container main-menu">
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="menu-btn" ng-click="openStudentReport()">
                <div class="wraptocenter">
                    <%= image_tag 'report.png', class: "" %>
                </div>
            </div>
            <p>รายงานค่าเทอม</p>
        </div>
        <div class="col-2">
            <div class="menu-btn" ng-click="openDailyReport()">
                <div class="wraptocenter">
                    <%= image_tag 'report.png', class: "" %>
                </div>
            </div>
            <p>รายงานประจำวัน</p>
        </div>
    </div>
</div>
