<div class="container-fluid">
  <div id="student-report" class="row ng-scope">
    <div class="row head-menu">
      <div class="col-md-6">
        <div class="col-xs-2">
          <h3>{{ 'level' | translate }}</h3>
        </div>
        <div class="col-xs-9">
          <div class="dropdown">
            <h4 id="grade-list" class="dropdown-label" data-toggle="dropdown">
              <span ng-bind="studentReport.currentGradeString"></span>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </h4>
            <ul class="dropdown-menu" aria-labelledby="grade-list">
              <li ng-repeat="grade in studentReport.grades">
                <a class="blue-highlight" ng-click="studentReport.switchGrade(grade.name)">
                  {{ grade.name | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <button ng-hide="true" class="btn btn-export pull-right" type="button" ng-csv="studentReport.getExportData()" csv-header="studentReport.exportHeader" filename="{{studentReport.exportFileName}}">
          <i class="fa fa-external-link" aria-hidden="true"></i> Export
        </button>
      </div>
    </div>
    <div class="unused_for_print col-md-12">
      <div class="row report-content container-fluid">
        <div class="row">
          <div class="col-md-12 dropdown-filter">
            <div class="dropdown pull-right">
              <h4 id="year-list" class="dropdown-label" data-toggle="dropdown">
                <strong>{{ 'school_year' | translate }}</strong> <span ng-bind="studentReport.currentYearString" ></span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </h4>
              <ul class="dropdown-menu" aria-labelledby="year-list">
                <li ng-repeat="year in studentReport.years">
                  <a class="blue-highlight" ng-click="studentReport.switchYear(year)">{{ year }}</a>
                </li>
              </ul>
            </div>
            <div class="dropdown pull-right mr-20">
              <h4 id="semester-list" class="dropdown-label" data-toggle="dropdown">
              <strong>{{ 'semester' | translate }}</strong> <span ng-bind="studentReport.currentSemesterString"></span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </h4>
              <ul class="dropdown-menu" aria-labelledby="semester-list">
                <li ng-repeat="semester in studentReport.semesters">
                  <a class="blue-highlight" ng-click="studentReport.switchSemester(semester)">
                    {{ semester }}
                  </a>
                </li>
                <li>
                  <a class="blue-highlight" ng-click="studentReport.switchSemester('all_semesters' | translate)">
                    {{ 'semester_nofix' | translate }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="dropdown pull-right mr-20" >
              <h4 id="semester-list" class="dropdown-label" data-toggle="dropdown">
                <strong>{{ 'payment_status' | translate }}</strong> <span ng-bind="studentReport.invoiceFilterString" ></span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </h4>
              <ul class="dropdown-menu" aria-labelledby="semester-list">
                <li ng-repeat="status in studentReport.invoiceFilter">
                  <a class="blue-highlight" ng-click="studentReport.invoiceStatusFilter(status)">
                    {{ status.text }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <table id="tableHeader" class="table scrollable-header">
          <thead>
           <tr>
              <th>{{ 'code' | translate }}</th>
              <th>{{ 'name' | translate }}</th>
              <th>{{ 'level' | translate }}</th>
              <th>{{ 'room' | translate }}</th>
              <th>{{ 'number1' | translate }}</th>
              <th>{{ 'parent' | translate }}</th>
              <th>{{ 'status' | translate }}</th>
              <th>{{ 'paid_by' | translate }}</th>
              <th class='text-currency'>{{ 'tuition_fee' | translate }}</th>
              <th class='text-currency'>{{ 'other_cost' | translate }}</th>
              <th class='text-currency bold'>{{ 'paid_amount' | translate }}</th>
              <th class='text-currency bold'>{{ 'year_paid_amount' | translate }}</th>
              <th>{{ 'paid_date' | translate }}</th>
           </tr>
          </thead>
            <tbody>
              <tr ng-repeat="student in studentReport.students ">
                <td class="text-left numberic">{{student.student_number}}</td>
                <td class="text-left">
                  <div ng-if="student.deleted_at && student.deleted_at != ''">
                    {{student.full_name_with_title}}
                  </div>
                  <div ng-if="!student.deleted_at">
                    <a href="/students/{{ student.id }}/edit">
                      <strong>{{student.full_name_with_title}}</strong>
                    </a>
                  </div>
                </td>
                <td>{{student.grade_name | translate}}</td>
                <td>{{student.classroom}}</td>
                <td class="numberic">{{student.classroom_number}}</td>
                <td>{{student.parent_names}}</td>
                <td>{{student.active_invoice_status | translate}}</td>
                <td>{{student.active_invoice_payment_method | translate}}</td>
                <td class="text-currency numberic">{{student.active_invoice_tuition_fee.toFixed(2) | number:2}}</td>
                <td class="text-currency numberic">{{student.active_invoice_other_fee.toFixed(2) | number:2}}</td>
                <td class="text-currency bold numberic">{{student.active_invoice_total_amount.toFixed(2) | number:2}}</td>
                <td class="text-currency bold numberic">{{student.active_invoice_year_fee.toFixed(2) | number:2}}</td>
                <td class="numberic">{{student.active_invoice_created_at | date:'d/MM/yyyy hh:mm'}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5"></td>
                <td colspan="3">{{ 'total_paid' | translate }} :</td>
                <td class="text-currency numberic">{{studentReport.total.tuition_fee.toFixed(2) | number:2}}</td>
                <td class="text-currency numberic">{{studentReport.total.other_fee.toFixed(2) | number:2}}</td>
                <td class="text-currency numberic">{{studentReport.total.amount.toFixed(2) | number:2}}</td>
                <td class="text-currency numberic">{{studentReport.total.total_year.toFixed(2) | number:2}}</td>
                <td class=""></td>
              </tr>
            </tfoot>
          </table>
          <div class="row row-centered">
            <div class="col-centered">
              <ul uib-pagination ng-change="studentReport.pageChanged()" total-items="studentReport.totalItems" ng-model="studentReport.currentPage" max-size="studentReport.maxSize" class="pagination-md icon-pagination"
              boundary-link-numbers="true"
              num-pages="numPages"
              rotate="false"
              previous-text="&#xf104;"
              next-text="&#xf105;"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
