<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <link href="https://fonts.googleapis.com/css?family=Akronim" rel="stylesheet">
        <%= render 'layouts/mailer_stylesheet' %>
  </head>
  <body>
   <div class="tab-content content-wall">
   <img src = "/somsri_logo.png"><br>
    สวัสดีค่ะ
    เนื่องจากนัดหมาย  ของ 
    <%=@interview.candidate.full_name%> ได้ถูกแก้ไขเป็น <%=@interview.date.strftime("%d/%m/%Y เวลา %H:%M")%> สถานที่ <%=@interview.location%> 
    จึงขอให้เตรียมพร้อมสำหรับเวลานัดหมายดังกล่าวด้วย
    ขอบคุณค่ะ
    HR @BananaCoding

    </div>
  </body>
</html>
