body {
 font-family: 'Maitree', serif !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.min-w-50 {
  min-width: 50px !important;
}

.min-w-20 {
  min-width: 20px !important;
}

.min-w-80 {
  min-width: 80px !important;
}

.min-w-100 {
  min-width: 80px !important;
}

.min-w-150 {
  min-width: 150px !important;
}

.min-w-200 {
  min-width: 200px !important;
}

.min-w-250 {
  min-width: 250px !important;
}

.min-w-300 {
  min-width: 300px !important;
}

.max-w-md {
  max-width: 960px !important;
}

.min-w-50 {
  min-width: 50px !important;
}

.min-w-100 {
  min-width: 100px !important;
}

.min-h-45 {
  min-height: 45px !important;
}
.min-h-200 {
  min-height: 200px !important;
}
.min-h-250 {
  min-height: 250px !important;
}
.min-h-350 {
  min-height: 350px !important;
}
.w-20 {
  width: 20px !important;
}

.w-30p {
  width: 30% !important;
}

.w-50 {
  width: 50px !important;
}

.w-80 {
  width: 80px !important;
}

.w-100 {
  width: 100px !important;
}

.w-150 {
  width: 150px !important;
}

.w-10p {
  width: 10% !important;
}

.w-15p {
  width: 15% !important;
}

.w-20p {
  width: 20% !important;
}
.w-40p {
  width: 40% !important;
}
.w-70p {
  width: 70% !important;
}
.w-80p {
  width: 80% !important;
}
.w-90p {
  width: 90% !important;
}
.w-100p {
  width: 100% !important;
}

.w-md {
  width: 960px !important;
}

.h-20 {
  height: 20px !important;
}

.h-45 {
  height: 45px !important;
}

.h-150 {
  height: 150px !important;
}

.h-170 {
  height: 170px !important;
}

.h-250 {
  height: 250px !important;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-0 {
  padding: 0px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-50 {
  padding: 50px !important;
}

.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.py-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.py-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.pl-10{
  padding-left: 10px !important;
}

.pl-20{
  padding-left: 20px !important;
}

.pl-30{
  padding-left: 30px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.pr-2 {
  padding-right: 2px !important;
}
.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-50 {
  padding-top: 50px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.m-0 {
  margin: 0px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-20 {
  margin: 20px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-60p {
  margin-left: 60% !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-20 {
  margin-right: 20px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-30 {
  margin-top: 30px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mx-0 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.top-45p {
  top: 45% !important;
}

.border-0 {
  border-top: solid 0px !important;
}

.border-1 {
  border: solid 1px !important;
}

.border-top-1 {
  border-top: solid 1px !important;
}

.border-bottom-1 {
  border-bottom: solid 1px !important;
}

.border-left-1 {
  border-left: solid 1px !important;
}

.border-right-1 {
  border-right: solid 1px !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.align-middle {
  vertical-align: middle !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-light-gray {
  background-color: #ddd !important;
}

.bg-green{
  background-color: #5bab67 !important;
}

.bg-red{
  background-color: #DC5B2B !important;
}

.font-9 {
  font-size: 9px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}

.letter-spacing-3 {
  letter-spacing: 3px !important;
}

.page-break {
  page-break-after: always !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.text-indent-0 {
  text-indent: 0px !important;
}

.text-indent-10 {
  text-indent: 10px !important;
}

.text-indent-20 {
  text-indent: 20px !important;
}

.text-indent-25 {
  text-indent: 25px !important;
}

.text-indent-30 {
  text-indent: 30px !important;
}

.text-indent-40 {
  text-indent: 40px !important;
}

.text-indent-50 {
  text-indent: 50px !important;
}

.text-indent-75 {
  text-indent: 75px !important;
}

.text-indent-100 {
  text-indent: 100px !important;
}

.text-indent-125 {
  text-indent: 125px !important;
}

.text-indent-150 {
  text-indent: 100px !important;
}

.text-indent-175 {
  text-indent: 175px !important;
}

.text-indent-200 {
  text-indent: 200px !important;
}

.btn-custom {
  font-family: 'Maitree', serif;
  font-size: 16px;
  padding: 12px 32px;
  letter-spacing: 1px;
  border-radius: 0px;
  transition: all 0.25s ease;
  &:hover{
    background-color: transparent;
  }
}

.btn-custom.sm {
  padding: 5px 32px;
  font-size: 14px;
}
.btn-custom.lg {
  padding: 10px 48px;
  font-size: 24px;
}
.color-transparent {
  color: transparent !important;
}
.color-light-green {
  color: #7ED322 !important;
}

.color-green {
  color: #5bab67 !important;
}
.color-dark-green {
  color: #3FA1B6 !important;
}
.color-red {
  color: #DD5A2B !important;
}

.color-light-blue {
  color: #6FA7E8 !important;
}
.color-blue {
  color: #5792C4 !important;
}
.color-purple {
  color: #9014FE !important;
}
.color-red.hover:hover{
  color: #a50115 !important;
}

.color-orange {
  color: #FFAB04 !important;
}

.color-list-stap{
  color: #00D2D7;
}

.color-light-gray {
  color: #F0F0F0 !important;
}

.color-gray {
  color: #9D9D9D !important;
}

.btn-light-green {
  background-color: #7ED322;
  color: #fff !important;
  border: 2px solid #7ED322;
  &:hover{
    border:2px solid #7ED322;
    color: #7ED322 !important;
  }
  &:focus{
    color: #fff;
  }
}

.btn-green {
  background-color: #5bab67;
  color: #fff !important;
  border: 2px solid #5bab67;
  &:hover{
    border:2px solid #5bab67;
    color: #5bab67 !important;
  }
  &:focus{
    color: #fff;
  }
}

.btn-gray {
  background-color: #9D9D9D;
  color: #fff !important;
  border: 2px solid #9D9D9D;
  &:hover{
    border:2px solid #9D9D9D;
    color: #9D9D9D !important;
  }
  &:focus{
    color: #fff;
  }
}

.btn-blue {
  background-color: #3fa1e6;
  color: #fff !important;
  border: 2px solid #3fa1e6;
  &:hover{
    border:2px solid #3fa1e6;
    color: #3fa1e6 !important;
  }
  &:focus{
    color: #fff;
  }
}

.btn-blue {
  background-color: #3fa1e6;
  color: #fff !important;
  border: 2px solid #3fa1e6;
  &:hover{
    border:2px solid #3fa1e6;
    color: #3fa1e6 !important;
  }
  &:focus{
    color: #fff;
  }
}

.btn-continue {
  background-color: #00D2D7;
  color: #fff !important;
  border: 2px solid #00D2D7;
  &:hover{
    border:2px solid #00D2D7;
    color: #00D2D7 !important;
  }
  &:focus{
    color: #fff;
  }
}

.btn-blue-sky {
  background-color: #00D2D7;
  color: #fff !important;
  border: 2px solid #00D2D7;
  &:hover{
    border:2px solid #00D2D7;
    color: #00D2D7 !important;
  }
  &:focus{
    color: #fff;
  }
}

.btn-orange {
  background-color: #FFAB04;
  color: #fff !important;
  border: 2px solid #FFAB04;
  &:hover{
    border:2px solid #FFAB04;
    color: #FFAB04 !important;
  }
  &:focus{
    color: #fff;
  }
}

.btn-black {
  background-color: #5B5B5B;
  color: #fff !important;
  border: 2px solid #5B5B5B;
  &:hover{
    border:2px solid #5B5B5B;
    color: #5B5B5B !important;
  }
  &:focus{
    color: #fff;
  }
}

.btn-red {
  background-color: #DD5A2B;
  color: #fff !important;
  border: 2px solid #DD5A2B;
  &:hover{
    border:2px solid #DD5A2B;
    color: #DD5A2B !important;
  }
  &:focus{
    color: #fff;
  }
}

.background-blue-hover:focus,
.background-blue-hover:hover{
  color: #fff !important;
  background-color: #3fa1e6 !important;
}

.ui-select-bootstrap .ui-select-choices-row:not(.disabled)>span:hover,
.ui-select-bootstrap .ui-select-choices-row:not(.disabled)>span:focus,
.ui-select-bootstrap .ui-select-choices-row.active>span {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #3fa1e6;
}

.text-color {
  color: #5b5b5b !important;
}

.custom-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

hr {
  border-bottom: 1px solid #aaa;
}

#next-classroom .fixed-table-body {
  overflow: inherit !important;
}

.overflow-table .fixed-table-body {
  overflow: inherit !important;
}

ul.dropdown-menu.display-top{
  transform: translateY(-100%);
  margin-top: -25px;
}

.color-blue-link {
  color: #337ab7 !important;
}

.icon-pagination {
  font-family: Helvetica, FontAwesome;
}
.fixed-table-pagination{
  a{font-family: Helvetica, FontAwesome;}
}

.max-h-200 {
  max-height: 200px !important;
}
.max-h-300 {
  max-height: 300px !important;
}

.overflow-y {
  overflow-y: scroll;
  overflow-x: hidden;
}

.max-height-inherit {
  max-height: inherit !important;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  background-color: #FdFdFd;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #fdFdFd;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #5b5b5b;
}

.d-inline-block {
  display: inline-block;
}

.panel-board{
  background-color: #fff;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.font-weight-bold{
  font-weight: 600;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #5D5D5D;
  background-color: #5D5D5D;
  display: inline-block;
  padding: 8px 36px;
  cursor: pointer;
  color: #FFFFFF;
}
.border-choose-file{
  border: 2px dotted #AAAAAA;
}
.header.row {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
tags-input .tags{
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.border-b-0{
  border-bottom: none !important;
}
.border-b-1-hover:hover{
  border-bottom: 1px solid #ddd !important;
}
.border-color-gray{
  border-color: #DDD !important;
}
tags-input .tags .tag-item{
  color: #357ebd;
  background: #E1ECF4;
  border: 1px solid #E1ECF4;
}
tags-input .tags .tag-item .remove-button{
  color: #357ebd;
}
.justify-content-center{
  justify-content: center !important;
  display: flex;
}
.angular-ui-tree-placeholder {
  border: dashed 1px #dae2ea !important;
  background: #f8faff !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.border-color-gray {
  border-color: #d0d0d0 !important;
}

.nav-tabs.inventory > li > a {
  padding: 20px 40px 20px 40px;
}

.nav-tabs.inventory > li > a {
  font-size: 22px;
}

.nav-tabs.inventory {
  margin-left: 0px;
  margin-right: 15px;
  cursor: pointer;
}

.tabs-menu {
  border-bottom: 0px; 
}

.somsri-somsri .logo.text-center {
    background: #ffab04;
}

.nav-tabs.inventory > li.cyan > a {
  color: #62C4CC;
}

.nav-tabs.inventory > li.orange > a {
  color: #F59C0B;
}

.nav-tabs.inventory > li.active.cyan > a,
.nav-tabs.inventory > li.active.orange > a {
  color: #333;
}

.nav-tabs.inventory > li.active > a,
.nav-tabs.inventory > li.active > a:hover,
.nav-tabs.inventory > li.active > a:focus {
  margin-top: 2px;
  background-color: white;
}

.nav-tabs.inventory > li > a {
  margin-top: 2px;
  transition: all 0.25s ease;

  &:hover{
    background-color: #f1f1f1;
  }
}
.mn-inventory {
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  height: 200px;
}

#custom-search-input{
  border: solid 1px #E4E4E4;
  border-radius: 3px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
  font-size: 16px;
  padding-left: 0px;
}
#custom-search-input .glyphicon-search{
  font-size: 16px;
  padding-left: 8px;
  padding-top: 16px;
}

.bs-wizard {margin-top: 40px;}

.step {
  list-style: none;
  margin: .2rem 0;
  width: 100%;
}

.step .step-item {
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  margin-top: 0;
  min-height: 1rem;
  position: relative; 
  text-align: center;
}

.step .step-item:not(:first-child)::before {
  background: #5BAB68;
  content: "";
  height: 2px;
  left: -50%;
  position: absolute;
  top: 20px;
  width: 100%;
}

.step .step-item a  {
  color: #B6B6B6;
  display: inline-block;
  padding: 50px 10px 0;
  text-decoration: none;
}

.step .step-item a::before {
  background: #5BAB68;
  border: .1rem solid #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4rem;
  left: 50%;
  position: absolute;
  top: .2rem;
  transform: translateX(-50%);
  width: 4rem;
  z-index: 1;
}

.step .step-item.active a::before {
  background: #00D2D7;
  border: .1rem solid #00D2D7;
}

.step .step-item.active ~ .step-item::before {
  background: #e7e9ed;
}

.step .step-item.active ~ .step-item a::before {
  background: #e7e9ed;
}
.d-flex{
  display: flex;
}
.flex-nowrap {
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important;
}
.icon-in-step{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  

  &.en{
    transform: translate(135%, 30%);
  }

  &.th{
    transform: translate(70%,30%);
  }
}
.icon-in-step2{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  &.en{
    transform: translate(175%, 30%);
  }

  &.th{
    transform: translate(60%,30%);
  }
}
.icon-in-step3{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  &.en{
    transform: translate(105%, 30%);
  }

  &.th{
    transform: translate(30%,30%);
  }
}
.icon-in-step4{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  &.en{
    transform: translate(210%, 30%);
  }

  &.th{
    transform: translate(125%,30%);
  }
}

.text-in-step{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 30px;

  &.en{
    transform: translate(125%, 40%);
  }

  &.th{
    transform: translate(60%, 40%);
  }
}

.text-in-step2{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 27px;
  &.en{
    transform: translate(180%, 40%);
  }

  &.th{
    transform: translate(60%, 40%);
  }
}
.text-in-step3{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 20px;
  &.en{
    transform: translate(170%, 40%);
  }

  &.th{
    transform: translate(60%, 40%);
  }
}
.text-in-step4{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 44px;
  &.en{
    transform: translate(115%, 40%);
  }

  &.th{
    transform: translate(60%, 40%);
  }
}
.text-in-step-repair1{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 30px;
  &.en{
    transform: translate(110%, 40%);
  }

  &.th{
    transform: translate(20%, 40%);
  }
}
.text-in-step-repair2{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 27px;
  &.en{
    transform: translate(90%, 40%);
  }

  &.th{
    transform: translate(25%, 40%);
  }
}
.text-in-step-repair3{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 20px;
  &.en{
    transform: translate(240%, 40%);
  }

  &.th{
    transform: translate(85%, 40%);
  }
}
.icon-in-step-repair1{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  &.en{
    transform: translate(125%, 30%);
  }

  &.th{
    transform: translate(25%, 30%);
  }
}
.icon-in-step-repair2{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  &.en{
    transform: translate(90%, 30%);
  }

  &.th{
    transform: translate(25%, 30%);
  }
}
.icon-in-step-repair3{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  &.en{
    transform: translate(155%, 30%);
  }

  &.th{
    transform: translate(45%, 30%);
  }
}
.icon-in-step-repair4{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 999;
  &.en{
    transform: translate(215%, 30%);
  }

  &.th{
    transform: translate(125%, 30%);
  }
}
.step-item.active .text-in-step,
.step-item.active .icon-in-step{
  color: #FFFFFF !important;
} 

#inventory{
  .tabs-menu.nav-tabs{
    li>a.nav-link{
      padding: 20px 40px;
      font-size: 22px;
      color: #00D2D7; 
    }
    li.active>a.nav-link{
      color: #59596E;
    }
  }

  .tab-content{
    margin-top: 0 !important;
  }
  .panel-board{
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
  }
}

.fa-9x {
  font-size: 9em;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icon-check {
  text-align: center;
}
