/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require angular-xeditable/dist/css/xeditable
 *= require font-awesome
 *= require_self
 */
@import "navigation_menu";
body {
  background-color: #F3F9FC;
  font-family: 'Maitree', serif;
  color: #595959;
  -webkit-print-color-adjust: exact !important;
  margin-bottom: 60px;
}

.employee-filter {
  width: calc(100% - 40px);
  margin: 3px 20px 3px 20px;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding-top: 0;
  padding-bottom: 0;
  height: 90px;

  .logo {
      width: 180px;
      height: 91px;
      margin-left: -15px;
      background-color: #ffab04;

      a {
          margin-top: 15px;
          margin-left: 50px !important;
      }
  }
}
.avatar {
   .img-avatar {
     margin-top: -11px;
     margin-bottom: -10px;
     padding-left: 3px;
   }

   .img-avatar {
     border: 1px solid #fff;
     border-radius: 30px;
     padding: 10px;
   }
}
a.nav-user,a.nav-user:focus{
    color: #7d7d7d;
    padding: 10px;
    // border-right: 2px solid #3fa1e6;
    letter-spacing: 2px;
    text-decoration: none;
}
a.nav-user:hover{
   text-decoration: none;
   color: #3e3e3e;
 }
ul.nav.navbar-nav.navbar-right.dropdown{
  margin-top: 35px;
}
.help-invoice,.help-invoice:focus{
  color: #7d7d7d;
  font-size: 21px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 20px;
  margin-right: 20px;
}
.help-invoice:hover{
  color: #3e3e3e;
}
.navbar-brand {
  height: 100%;
  padding: 0px;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.navbar-brand>img {
    display: block;
}

.navbar .dropdown-toggle {
  height: 60px;
  line-height: 50px;
}

#payroll-report .report-content {
  padding: 15px;
  background-color: #fff;
  border-left: 4px solid #00D2D7;
  margin-top: 10px;
}

#payroll-report tfoot {
  border-bottom: 2px solid #FFAA00;
}

#payroll-report #month-list {
  cursor: pointer;
}
h2#month-list{
  margin-top: 10px;
}
#payroll-report .dropdown-menu button {
  background-color: transparent;
  border: 0px;
}

.text-green {
  color: #66E341;
}

.text-red {
  color: #E70A0E !important;
}

.text-yellow {
  color: #FFAA00;
}

.text-white {
  color: #fff;
}

.text-cyan{
  color: #62C4CC;
}

.main-menu {
  margin-top: calc(50vh - 200px);
}

.main-menu .main-menu-box {
  text-align: center;
}

.main-menu-item:focus {
  outline: none;
}

.main-menu {
    margin-top: calc(50vh - 100px);

    .menu-btn {
        width: 119px;
        height: 119px;
        border-radius: 6px;
        background-color: #f2f2f2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        margin: 0 auto;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
        }

        .wraptocenter {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 119px;
            height: 119px;
        }

        .wraptocenter * {
            vertical-align: middle;
        }
    }

    p {
        font-family: 'Maitree', serif;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #5b5b5b;
        margin-top: 10px;
    }
}
.bg-light-gray {
  background-color: #DDD;
}

.bg-gray {
  background-color: #4A4A4A;
  color: #fff;
}

.bg-yellow {
  background-color: #FFAA00;
  color: #fff;
  border-radius: 0px
}

.bg-blue {
  background-color: #00AAFF;
  color: #fff;
  border-radius: 0px
}
.btn-payroll{
  background-color: #00D2D7;
  border: none;
  border-radius: inherit;
  color: #fff;
  transition: all 0.25s ease;
}
.btn-payroll:hover{
  color: #fff;
  background-color: #0b999c;
}
.btn-submit {
  background-color: #69C406;
  color: #FFFFFF;
  border-radius: 0px
}

.btn-cancel {
  background-color: transparent;
  color: #D7283E;
  border: 1px solid #D7283E;
  border-radius: 0px
}

.btn-print {
  background-color: #FFAA00;
  color: #ffffff;
  border-radius: 0px
}


.btn-danger {
  border-radius: 0px
}

.btn-memo {
  background-color: #fff;
  border: 2px solid #4893DC;
  color: #4893DC;
  border-radius: 0px
}

.btn-print {
  background-color: #FFAA00;
  color: #ffffff;
  border-radius: 0px;
}

.btn-prefix {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 0px
}
input.btn-prefix {
  border-top: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
  border-left: 0px !important;
  outline: none !important;
}
input.btn-prefix::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
input.btn-prefix::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
input.btn-prefix:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
input.btn-prefix:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

input.btn-prefix.active::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
input.btn-prefix.active::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
input.btn-prefix.active:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
input.btn-prefix.active:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.btn-prefix.active, .btn-prefix:active{
  background-color: #1cc5db;
  color: #fff !important;
  border: 1px solid #1cc5db !important;
}

.btn-prefix:hover {
  color: #1cc5db;
}

.img-bg {
  width: 100%;
  padding-bottom: 100%;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
}

.circle {
  border-radius: 50%;
}

.line-space5{
  padding-top: 5px;
  padding-bottom: 5px;
}

.employees-list{
  margin-top: 50px;
}

.employees-list .card {
  background-color: #FFF;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease;

  &:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
      border-bottom-color: #1cc5db;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.employees-list .img-profile {
  position: relative;
}

.font-size-40 {
  font-size: 40px;
}

.font-white {
  color: #FFF;
}

.font-light-gray {
  color: #AAA;
}

.padding0{
  padding: 0px !important;
}

.row.same-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row.same-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#payroll-slip .btn-print {
  background-color: #FFAA00;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 0px
}

#payroll-slip .btn-print:hover,
#payroll-slip .btn-print:hover a {
  color: #000;
  text-decoration: none;
}

#payroll-slip .btn-print a {
  color: #ffffff;
}


#payroll-slip .slip-content {
  background-color: #fff;
  padding: 60px 0px 20px 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#payroll-slip thead {
  background-color: #4A4A4A !important;
  color: #fff;
}

#payroll-slip td,
#payroll-slip th {
  vertical-align: middle;
  border-color: #4A4A4A;
}

#payroll-slip td.big {
  height: 50px
}

#payroll-slip #order tbody td {
  border-bottom: 0px;
  border-top: 0px;
  height: 250px;
  vertical-align: top !important;
}

#payroll-slip #order thead th {
  padding: 15px 20px;
}

#payroll-slip #date_table {
  margin-bottom: 163px;
}

#payroll-report .signature,
#payroll-slip .signature {
  margin-top: 100px;
  border-top: 1px solid;
  text-align: center;
}

#payroll-report .for_print,
#payroll-slip .for_print {
  display: none;
}

#payroll-report .separate,
#payroll-slip .separate {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px dashed #000 !important;
}

.slip-content .school-name {
  font-size: 24px;
}

#payroll-report #slipLogo,
#payroll-slip #slipLogo {
  height: 100px;
}

.slip-content .school-name{
  padding-top: 36px;
}

@print {
  size: A4;
}

@media print {

  body {
    margin: 0px;
  }

  a[href]:after {
    content: none !important;
  }
  .no_display_print{
    display: none;
  }
  #payroll-report .report-content{
    border: none;
    padding-top: 0px;
  }
  .scrollable-content{
    overflow-y: inherit !important;
    overflow-x: inherit !important;
  }
  .report_for_print_hide{
    display: none;
  }
  th.text-right{
    display: none;
  }
  th.forprint-h_table{
    background: none !important;
  }
  td.text-left.forprint_table.this_name{
    min-width: 30px;
  }
  td.text-center.forprint_table.this_account{
    min-width: 200px;
  }
  td.text-green.forprint_table.this_netsalary{
    min-width: 200px;
  }
  td.text-center.forprint_table.this_account{
    text-align: right;
  }
  td.text-center.forprint-h_table,th.text-center.forprint-h_table {
    text-align: right;
  }
  th.forprint-h_table.print_name{
    width: 60px !important;
  }
  .top-bar-space{
    height: 0px !important;
  }
  #payroll-report.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  #payroll-report tfoot {
   border-bottom: unset
  }

  #payroll-report .for_print{
    display: block;
  }
  #payroll-report .unused_for_print,
  #payroll-slip .unused_for_print {
    display: none;
  }
  #payroll-slip p,
  #payroll-slip th,
  #payroll-slip td,
  #payroll-report th,
  #payroll-report td,
  #payroll-report p{
    font-size: 10px;
  }

  #payroll-report #date_table,
  #payroll-slip #date_table {
    margin-bottom: 70px;
  }

  #payroll-report td,
  #payroll-report th,
  #payroll-slip td,
  #payroll-slip th {
    vertical-align: middle;
    border-color: #000;
  }

  #payroll-report thead th,
  #payroll-slip thead th {
    padding: 5px 10px;
    background-color: #dadada !important;
  }

  #payroll-report #order tbody td,
  #payroll-slip #order tbody td {
    border-bottom: 0px;
    border-top: 0px;
    height: 170px;
    vertical-align: top !important;
  }

  #payroll-report .slip-content,
  #payroll-slip .slip-content {
    padding: 0px;
  }

  #payroll-report .for_print,
  #payroll-slip .for_print {
    display: block !important;
  }

  #payroll-report #slipLogo,
  #payroll-slip #slipLogo {
    height: 50px;
  }

  .slip-content .school-name {
    font-size: 16px;
  }

  .slip-content .school-name{
    padding-top: 10px;
  }

  #payroll-report td.big,
  #payroll-slip td.big {
    height: 45px
  }

  #payroll-report .signature,
  #payroll-slip .signature {
    margin-top: 85px;
  }

  #payroll-report p,
  #payroll-slip p {
    margin: 0px 0 6px;
  }

  /* For Safari */
  #payroll-slip .safari td.big {
    height: auto
  }

  #payroll-slip .safari p,
  #payroll-slip .safari th,
  #payroll-slip .safari td {
    font-size: 9px;
  }

  #payroll-slip .safari #date_table {
    margin-bottom: 100px;
  }

  #payroll-slip .safari #order tbody td {
    border-bottom: 0px;
    border-top: 0px;
    height: 170px;
    vertical-align: top !important;
  }

  #payroll-slip .safari .signature {
    margin-top: 75px;
  }

  #payroll-slip .safari #order thead th {
    padding: 5px 10px;
  }
  .pagebreak { page-break-before: always; }

  // for invoice
  .form-slip-forslip-copy{
    display: block;;
  }
  .form-slip-forslip{
      display: block;
  }
  .form-slip-forslip-copy{
    margin-top: -130px !important;
  }
  .container.form-slip-forslip.ng-scope, main.form-slip-forslip.ng-scope{
    margin-top: 150px !important;
  }
  .form-slip{
    display: none;
  }
  .slip-copy-top{
    margin-top: 150px;
  }
  .form-slip{
      display: none;
  }
  .form-slip{
    margin-top: -100px !important;
  }
  body > .container-fluid{
      padding: 20px 15px 0;
  }
  .navbar-brand{
      display: none;
  }
  nav.navbar.navbar-toggleable-md.fixed-top.navbar-light.bg-faded.navbar-custom{
      display: none;
  }
  .top-bar-space{
      height: 0px !important;
  }
  .container.form-slip.ng-scope{
      padding: 0px;
  }
  .form-slip{
      padding: 50px 100px;
      background: #fff;
      min-height: 1000px;
      box-shadow: 2px 7px 20px #b7b7b7;
  }
  .title-refund{
      font-size: 12px !important;
  }
  .slip-sec1{
      margin-bottom: 5px !important;
  }
  .slip-sec2{
      margin-bottom: 20px;
  }
  .large-receipt{
      font-size: 24px;
      margin-top: -10px;
  }
  .text-slip2-school{
      margin-left: 0px !important;
      margin-right: 0px !important;
      font-size: 12px !important;
  }
  .text-slip3-payment{
      font-size: 15px !important;
      margin-left: 0px !important;
  }
  .text-slip4-refund1{
      font-size: 8px !important;
      line-height: 15px !important;
  }
  .text-slip4-refund2{
      font-size: 8px !important;
      line-height: 15px !important;
  }
  .table-payment-slip{
      padding-bottom: 0px !important;
      margin-right: -30px;
  }
  .sup-date{
      margin-top: 15px;
  }
  .sec-payent{
      padding-bottom: 5px !important;
      padding-top: 5px !important;
  }
  .right-receiver-for-print{
      margin-top: 30px !important;
  }
  .table-with1{
  min-width: 80px;
      text-align: center;
  }
  .table-with2{
      width: 15%;
      text-align: right;
  }
  th.table-center{
      border-right: 1px solid !important;
      border-left: 1px solid !important;
  }
  td.table-center.ng-binding,td.table-center{
      border-right: 1px solid !important;
      border-left: 1px solid !important;
  }
  td.total-pay{
      border-right: 1px solid !important;
  }
  tr.text-total-display-print{
      background-color: #f1f1f1 !important;
      border-bottom: 1px solid !important;
  }
  b.total_text{
      margin-left: 100px;
      margin-right: 15px;
      letter-spacing: 1px;
  }
  .text-title-table{
      margin-top: 0px !important;
  }
  .table-bordered{
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-left: inherit;
      border-right: inherit;
  }
  .price-pay{
      text-align: right;
  }
  table.table.table-sm>tbody{
      border-bottom: 1px solid !important;
      font-size: 14px;
  }
  thead{
    font-size: 15px !important;
  }
  tfoot{
      text-align: right;
  }
  tfoot>tr>th{
      text-align: right;
  }
  .slip-payment-right{
      margin-left: 5%;
  }
  .container.form-slip-forslip.ng-scope{
      margin-top: -130px;
  }
  .text-total {
      background-color: #f1f1f1 !important;
      border: 1px solid !important;
  }
  .table td, .table th{
      background-color: inherit;
  }
  .table th{
      border-top: 1px solid;
  }
  .sec-payment{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  div#min-height-pay{
    min-height: 259px !important;
  }
  // for daily-report
  .text-report-school{
    font-size: 13px;
  }
  div#dailyReportPreview {
    margin-top: -80px !important;
    padding: 0px !important;
  }
  .col-num{
    width: 77px;
    text-align: center;
    border-top: 1px solid;
  }
  .col-report-table-right{
    width: 145px;
    text-align: right;
  }
  .for-print-report{
    font-size: 16px;
  }
  .text-date-report{
    font-size: 14px;
    padding-left: 113px;
    padding-top: 30px;
  }
  .text-date-report2{
    font-size: 14px;
  }
  table.table.table-sm {
      margin-left: -15px;
      margin-right: -15px;
  }
  tfoot.dialyreport-view-tfoot{
      font-size: 15px;
  }
  table.table.table-sm>tbody>tr>td{
    font-size: 12px !important;
  }
  table.table.table-sm>thead>tr>th.table-center{
  }
  table.table.table-sm > tfoot > tr > td.table-foot-center{
    border-right: 1px solid !important;
  }
  .report-receiver{
    font-size: 14px;
    text-align: center;
  }
  .row.justify-content-between{
    border-top: 2px solid;
    padding-top: 150px;
  }
  tfoot.dialyreport-view-tfoot>tr>td{
    font-weight: bold;
  }
  td.table-foot-center,th.table-foot-center{
    border-right: 1px solid;
  }
  th.table-foot-top,td.table-foot-top{
    border-top: 1px solid;
    border-bottom: 1px solid !important;
  }
  .text-head-report{
    margin-top: 10px;
  }
  .large-receipt-report{
    margin-top: -17px;
    font-size: 30px;
  }
  .nav-for-print{
    display: none !important;
  }
  .nav-for-print-report{
    display: none !important;
  }
}

.form-group input, .form-group div{
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  box-shadow: none !important;
  border-radius: 0px;
}

.paragraph {
  background-color: white;
  padding: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.paragraph.tab-content {
  margin-top: 0px;
}

.paragraph.cyan,
#bird-eye .modal-content.cyan {
  border-left: 5px solid;
  border-left-color: #1cc5db;
}

.paragraph.orange{
  border-left: 5px solid;
  border-left-color: #F59C0B;
}

.paragraph.grey{
  border-left: 5px solid;
  border-left-color: #EDF3F7;
}

.employee-details .img-profile{
  position: relative;
  width: 245px;
  float: right;
}

.employee-details .img-bg {
  margin-top: 10px;
}

.tab-content{
  margin-top: 35px;
}
.employee-details h1#employeeName {
  margin-top: 0px !important;
}

.employee-details .dropdown small,.employee-pin>small {
  color: #A6A6A7;
}

.space20{
  height: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

#payroll {
  margin: 20px 10px 0px 10px;
}

#payroll .payroll-content {
  padding-top: 10px;
  background-color: #fff;
  border-left: 4px solid #00D2D7;
}

#payroll th,
#payroll td {
  vertical-align: middle;
}

#payroll tfoot td.text-green,
#payroll tfoot td.text-center,
#payroll tfoot td.bordered {
  border-bottom: 2px solid #FFAA00;
}

#payroll .dropdown-menu button {
  background-color: transparent;
  border: 0px;
}

#payroll th.income {
  border-top: 1px solid #C8C8C8;
  border-right: 1px solid #C8C8C8;
}
#payroll th.outcome {
  border-top: 1px solid #C8C8C8;
  border-left: 1px solid #C8C8C8;
}

#payroll th.bordered,
#payroll td.bordered {
  border: 1px solid #C8C8C8;
}

.popover-wrapper .editable-buttons .btn-primary {
  background-color: #A3F185 !important;
  border-color: #A3F185 !important;
}

.popover-wrapper .editable-buttons .btn-default {
  background-color: #fff !important;
  border-color: #E50000 !important;
  color: #E50000 !important;
}


/* Fixed TAble Header */
table#payroll-history-table {
  display: flex;
  flex-direction: column;
}
#payroll-history-table tr {
  display: flex;
}
#payroll-history-table thead, tbody {
  overflow-y: scroll;
}
#payroll-history-table tbody {
  height: 445px;
}

.white-bg {
  background-color: white !important;
}

.modal-content {
  background-color: white;
  padding: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0px solid;
  border-left: 5px solid;
  border-left-color: #F59C0B;
  border-radius: 0px;
}

.employee-details.employee-menu {
  padding-top: 120px;
  background-color: #F3F9FC;
}

.employee-details.employee-menu-space {
  padding-top: 100px;
}
.z-index-lv-1{
  z-index: 999;
}

.z-index-lv-2{
  z-index: 998;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.top-bar-space{
  height: 94px;
}

table.scrollable-header {
  /*table-layout:fixed;*/
  margin-bottom: -1px !important;
}

.scrollable-content {
  overflow-y:auto;
  overflow-x:hidden;
}

.nav-tabs.main > li > a {
  padding: 20px 40px 20px 40px;
}

.nav-tabs.main > li > a {
  font-size: 22px;
}

.nav-tabs.main {
  padding-left: 15px;
  border: none !important;
}

.nav-tabs.main > li.cyan > a {
  color: #62C4CC;
}

.nav-tabs.main > li.orange > a {
  color: #F59C0B;
}

.nav-tabs.main > li.active.cyan > a,
.nav-tabs.main > li.active.orange > a {
  color: #333;
}

.nav-tabs.main > li.active > a,
.nav-tabs.main > li.active > a:hover,
.nav-tabs.main > li.active > a:focus {
  border: none;
  background-color: white;
  border-bottom: 1px solid white;
}

.nav-tabs.main > li > a,
.nav-tabs.main > li > a:hover {
  background-color: transparent;
  border: none;
}

.employee-details .paragraph.private {
  padding-left: 30px;
  padding-top: 35px;
}

.employee-details .paragraph .sub-menu {
  padding-right: 0px;
}

.employee-details .paragraph ul {
  list-style-type: none;
  padding-left: 0px;
  border-bottom: none;
}

.employee-details .paragraph ul li {
  padding-top: 2px;
  font-size: 16px;
  width: 100%;
}

.employee-details .paragraph ul li.active {
  border-right: 3px solid #F59C0B;
}

.employee-details .paragraph ul li a {
  color: #333;
  border: none;
}

.employee-details .paragraph ul li.active a {
  color: #F59C0B;
  border: none;
}

.employee-details .paragraph ul li a:hover {
  background-color: transparent;
  border: none;
}

.employee-details .private .tab-content {
  height: 100%;
  border-left: 1px solid #F59C0B;
}

.employee-details .panel-default a {
  color: #333;
  border: none;
  text-decoration: none !important;
}

.employee-details .accordion-selected {
  color: #F59C0B !important;
}

.somsri-select {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.checkbox-group td:nth-child(1) {
  width: 30px;
}

.child {
  width: 50px !important;
}

.checkbox-group label {
  padding-top: 9px;
}

.popover-wrapper.bottom-popup form {
  margin-top: 90px !important;
}

.popover-wrapper.bottom-popup form:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #AAA;
  border-top: 0px !important;
  position: absolute;
  top: -10px !important;
}

.popover-wrapper.bottom-popup form:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #FFF;
  position: absolute;
  top: -9px !important;
  border-top: 0px !important;
}

.popover-wrapper.right-popup form {
  margin-left: -40px;
}

.popover-wrapper.right-popup form:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #AAA;
  position: absolute;
  bottom: -10px;
  margin-left: -70px;
}

.popover-wrapper.right-popup form:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFF;
  position: absolute;
  bottom: -9px;
  margin-left: -70px;
}

.popover {
  background: AntiqueWhite;
}

.btn.employee-type {
  background-color: #AAAAAA;
  border-color: #F3F9FC;
  box-shadow: none;
  color: #fff;
  transition: all 0.25s ease;
}
.btn.employee-type.active:hover{
  border-color: #F3F9FC;
  background-color: #f59c0b;
}
.btn.employee-print,.btn.employee-print:focus {
  background-color: #333;
  border-color: white;
  box-shadow: none;
  transition: all 0.25s ease;
}
.btn.employee-print:hover{
  background-color: #555;
}
.btn.employee-type.active {
  background-color: #FFAA00;
}

#payroll .dropdown-menu, #payroll-report .dropdown-menu {
  max-height: calc(100vh - 170px);
  overflow-y: scroll;
}

.employee-details .dropdown-menu {
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
}
.card-employees{
  width: 20% !important;
}

@-moz-document url-prefix(){
  .card-employees{
    margin-bottom: 25px;
  }
}
.dropdown-menu.on-nav-bar {
    padding: 10px 10px;
    width: 62%;
}
a.dropdown-item{
  color: #555;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.slip-content .page-space{
  height: 20px;
}

.slip-content .new-page{
  page-break-after: always;
}

.disabled {
  cursor: not-allowed !important;
}
.hide {
  display: none;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#tableData tr:hover{
  background-color: AntiqueWhite !important;
}

/** Test CSS **/
.fix-column {
    float: left;
}
.thead {
    height: 40px;
    white-space: nowrap;
}
.thead > span {
    display: inline-block;
    width: 120px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #cccccc;
}

.theadtop {
    height: 40px;
    white-space: nowrap;
}
.theadtop > span {
    display: inline-block;
    width: 120px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #cccccc;
    font-weight: 600;
}

.theadtop > span.income {
    width: 833px;
    border-right: 1px solid #cccccc;
}

.theadtop > span.expenses {
    width: 990px;
}

.theadtop > span.total {
    width: 120px;
    border-top: 1px solid #fff;
}

.thead > span.code {
    width: 50px;
}

.thead > span.name {
    width: 320px;
}
.trow.tfoot> span{
  border-bottom: 2px solid #FFAA00;
}

.thead > span.gap {
    width: 150px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.trow {
    white-space: nowrap;
}
.hilight{
    background-color: AntiqueWhite !important;
}
.trow > span {
    display: inline-block;
    width: 120px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    line-height: 40px;
    height: 40px;
    text-align: center;
    margin-right: -5px;
}

.trow > span.code {
    width: 50px;
}

.trow > span.name {
    width: 320px;
}

.trow > span.salary {
  margin-left: -1px;
}

.tbody {
    height: 450px;
    overflow: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fix-column{
  .top{
    border-bottom: 1px solid #ccc;
  }

  .top > span{
    border-right: 1px solid #ccc;
    font-weight: 600;
    margin-right: -5px;
  }
}
.fix-column > .thead {
  width: 370px;
}

.fix-column > .tbody {
    overflow: hidden;
    width: 370px;
    /*padding-bottom: 50px;*/
}
/*.fix-column > .tbody > .trow:last-child {margin-bottom: 50px;}*/

.fix-column > .tbody > .trow {
    // margin-top: -50px;
    // margin-bottom: 50px;
}
.fix-column > .tbody > .trow:first-child {
    margin-top: 0px;
}

.rest-columns {
    /*width: 350px;*/
    max-width: calc(100vw);

    .top{
      border-bottom: 1px solid #ccc;
    }

    .top > span{
      border-right: 1px solid #ccc;
      font-weight: 600;
      margin-right: -5px;
    }
}
.rest-columns > .thead {
    /*padding-right: 50px;*/
    overflow: hidden;
}
/*.rest-columns > .thead > :last-child {margin-right: 50px;}*/
.rest-columns > .thead > span {
    margin-right: 50px;
    margin-left: -55px;
}
.rest-columns > .thead > :first-child {margin-left: -1px;}

.rest-columns > .theadtop {
    /*padding-right: 50px;*/
    overflow: hidden;
}

.filter-btn {
  margin-right: 20px;
}
.pin-char {
  background-color: #00D2D7;
  border-radius: 4px;
  padding: 0px 10px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 2px;
  margin-bottom: 3px;
  color: #fff;
}
.employee-archive{
  color: #000000 ;
  opacity: 0.3;
  filter: grayscale(100%);
}
.btn-restore{
  background-color: #5bc0de ;
  border-radius: 0px ;
  color: #FFFFFF;
}
.btn-archive{
  border-radius: 0px ;
  background-color: #e9b633 ;
  color: #ffffff ;
}
.sort-report, .sort-report:hover, .sort-report:focus{
  color: #333 ;
  text-decoration: none ;
}
