/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require angular-xeditable/dist/css/xeditable
 *= require font-awesome
 *= require_self
 *= require bootstrap-table
 *= require bootstrap-select/sass/bootstrap-select
 */

 @import "application_invoice";
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 body{
  margin-bottom: 50px;
  // margin-top: 100px;
  background: linear-gradient(90deg, #72cef5, #55b4ed);
}
.form-sign-in{
  background: #fff;
  padding: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 45%;
}
.form-type{
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  left: 25px;
  margin-top: 20px;
  color: #5d5d5d;
}
.logo-login{
  padding-bottom: 40px;
  height: 200px;
  width: auto;
}
.input-login{
  font-family: 'Maitree', serif;
  border: inherit;
  border-radius: inherit;
  border-bottom: 1px solid #ddd;
  background: none;
  font-size: 18px;
  box-shadow: none;
}
.status_type_login{
  background-color: #3fa1e6;
  border-radius: 50px;
  color: #fff;
  border: inherit;
  padding: 8px 16px;
}
.form-control .input-login:focus{
  background: none;
}
.text-remember{
  font-weight: normal;
  font-size: 16px;
  color: #888;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
.btn-signin, .btn-signin:focus{
  background-color: #3fa1e6;
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding: 12px 32px;
  margin-right: 20px;
  letter-spacing: 1px;
  border: 2px solid #3fa1e6;
  border-radius: 0px;
  transition: all 0.25s ease;

  &:hover{
    background-color: transparent;
    border:2px solid #3fa1e6 !important;
    color: #3fa1e6;
  }
}
ul.nav.navbar-nav.navbar-right.dropdown{
  margin-top: 35px;
}
.sign-in.actions{
  margin-top: 10px;
}
.main-menu .main{
  margin-left: -15px;
}
.container.main-menu.main {
    // margin-top: calc(50vh - 150px);
    margin-top: 250px;
    -webkit-align-items: center;
    display: grid;;
    align-items: center;
    max-width: 62%;
    height: 450px;

  }

  .disabled {
    cursor: not-allowed !important;
  }

  .hide {
    display: none;
  }

  .row-centered {
    text-align:center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
  }
  .download_android{
    text-align: center;
    margin-top: 30px;
    letter-spacing: 1px;
    text-decoration: underline;
    a{
      font-size: 16px;
    }
    .fa-android{
      font-size: 24px;
      margin-right: 10px;
    }
  }
  .space10 {
    height: 10px;
  }

  .only-print{
    display: none;
  }

  @print {
    size: A4;
  }

  @media print {

    .only-view{
      display: none !important;
    }

    .only-print{
      display: block;
    }

    table, th, td {
      border: 1px solid black;
    }

    .pagebreak {
      page-break-before: always;
    }
    body{
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }
    body > .container-fluid {
      padding: 0px !important;
    }

    #student-list-for-print .list-page {
      padding: 50px;
    }

    #student-list-for-print th {
      padding: 10px;
    }

    #student-list-for-print td {
      padding: 3px;
    }

    .list-page {
      font-size: 18px;
    }

    #student-list-header {
      font-size: 18px;
      font-weight: bold;
    }

    .alert {
      display: none;
    }

    .student-list-with-img .body-list {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 10px;
      padding-left: 10px;
    }

    .student-list-with-img .item-list {
      padding: 10px;
    }
  }
  .btn-to-print-student,
  .btn-to-print-student:focus{
    margin-bottom: 20px;
    padding: 16px 32px;
    font-weight: lighter;
    background-color: #5b5b5b;
    border: 2px solid #5b5b5b;
    color: #fff;
    font-size: 16px;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover{
      color: #5b5b5b;
      background-color: transparent;
      border: 2px solid #5b5b5b;
    }
  }

  .btn-export,
  .btn-export:focus{
    margin-bottom: 20px;
    padding: 16px 32px;
    font-weight: lighter;
    background-color: #00D2D7;
    border: 2px solid #00D2D7;
    color: #fff;
    font-size: 16px;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover{
      color: #00D2D7;
      background-color: transparent;
      border: 2px solid #00D2D7;
    }
  }


// dropdown-submenu
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 10px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>.dropdown-menu>li>a>img{
  width: 20%;
  margin-left: -10px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
#footer {
  height: 60px;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
  color: white;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 160px !important;
}
#student-index .btn-default,
#student-index .btn-default:hover,
#student-index .btn-default:focus{
  border: inherit !important;
  background-color: transparent;
}
.bootstrap-select.btn-group .dropdown-menu li a{
  &:hover{
    color: #fff;
    background-color: #3fa1e6;
  }
  &:focus{
    color: #fff;
    background-color: #3fa1e6;
  }
}
#student-index .pull-left.pagination-detail {
  display: none;
}
#student-index .pull-right.pagination{
  float: inherit !important;
}
#student-index  .fixed-table-pagination{
  text-align: center;
}
#student-index .fixed-table-body {
  margin-top: 30px;
  font-size: 1.2em;
}
#student-index .fixed-table-toolbar {
  font-size: 1.2em;
}
#student-index .bootstrap-select.btn-group .dropdown-toggle .filter-option{
  font-size: 1.2em;
}
.fixed-table-container tbody td {
  border-left: 0px solid #dddddd !important;
}
.bootstrap-table .table > thead > tr > th {
  border-bottom: 2px solid #ddd !important;
  border-left: 0px;
}
.fixed-table-container {
  border: 0px solid #dddddd !important;
}
.search{
  display: inline-flex;

  .fa.fa-search{
    padding-top: 7px;
    font-size: 16px;
  }
}
.select-filter{
  text-align: right;

  span.text-label{
    font-size: 1.2em;
    padding: 8px 12px;
  }
}
.toolbar-student-parent{
  margin-bottom:30px;
}

.numberic{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
#table > tbody > tr > td:nth-child(2){
  width: 50px;
}
.img-bg {
  width: 100%;
  padding-bottom: 100%;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
}
.bg-light-gray {
  background-color: #DDD;
}
.circle{
  border-radius: 50%;
}
.icon-default-img{
   position: absolute;
   margin: auto;
   transform: translate(90%, 50%);
   color: #fff;
}
.between-height{
  margin-top: 50px;
}