/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require angular-xeditable/dist/css/xeditable
 *= require font-awesome
 *= require_self
 */

@import "application_invoice";
@import "navigation_menu";
body{
  margin-bottom: 50px;
  margin-top: 100px;
}
.form-sign-in{
  background: #fff;
  padding: 80px 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  left: 25px;
}
.logo-login{
  padding-bottom: 40px;
}
.input-login{
  font-family: 'Maitree', serif;
  border: inherit;
  border-radius: inherit;
  border-bottom: 1px solid #ddd;
  background: none;
  font-size: 18px;
  box-shadow: none;
}
.form-control .input-login:focus{
  background: none;
}
.text-remember{
  font-weight: normal;
  font-size: 16px;
  color: #888;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
.btn-signin{
  background-color: #3fa1e6;
  color: #fff !important;
  padding: 8px 46px;
  box-shadow: 2px 7px 20px #b7b7b7;
  letter-spacing: 1px;
  border: inherit;
  width: 100%;
  font-size: 16px;
  font-weight: lighter;
}
ul.nav.navbar-nav.navbar-right.dropdown{
  margin-top: 25px;
}
.sign-in.actions{
  margin-top: 10px;
}
.main-menu .main{
  margin-left: -15px;
}
.container.main-menu.main {
    margin-top: calc(50vh - 250px);
}
.somsri-rollcall .logo.text-center {
    background: #5bab67;
}

.disabled {
  cursor: not-allowed !important;
}
.hide {
  display: none;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row.form_1{
  margin-top: 50px;
}
.head_title_rollcall{
  color: #5a5a5a;
  font-size: 24px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ddd;
}
.time_half{
  color: #337ab7;
  font-weight: bold;
}
.fa.fa-heartbeat,.fa.fa-briefcase{
  color:#FFAA00;
}
.fa.fa-times{
  color:#E70A0E;
}
.fa.fa-trophy,.fa.fa-clock-o{
  color: #0b999c;
}
.fa.fa-check{
  color: #5bab67;
}
.fa.fa-minus{
  color: #ddd;
}
th.name_student.ng-binding{
  vertical-align: inherit;
  border-top: 2px solid #c5c2c2;
  border-bottom: 2px solid #c5c2c2;
}
#rollcall-report .table>tbody>tr>td{
  padding: 0px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 2px solid #c5c2c2;
  border-bottom: 2px solid #c5c2c2;
}
#rollcall-report table.status_rollcall>tbody>tr>td{
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #ddd;
}
#rollcall-report table.time_rollcall>tbody>tr>td{
  border-bottom: 1px solid #ddd;
  padding: 5px 10px 5px 10px;
}
td.time_half {
  border-right: none !important;
  border-left: none !important;
}
#rollcall-report td.status_rollcall_data>table>tbody>tr>td{
  border-bottom: 1px solid #ddd;
  padding: 5px 10px 5px 10px;
}
td.status_rollcall_data{
  border-right: none !important;
  border-left: none !important;
}
.container-rollcall-report{
  margin: 150px 100px 150px 100px;
}
.row.head-sp{
  font-size: 16px;
}
