img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 68px;
}

body {
  font-family: 'Maitree', serif;
  margin-bottom: 60px;
  background-color: #F4F9FC;

  p {
    font-family: 'Maitree', serif;
    font-weight: 500;
    color: #5b5b5b;
  }
}

$orange: #F5A623;
$purple: #9014FE;
$blue: #4A90E2;
$green: #417505;
$dark-gray: #4A4A4A;
$gray: #606060;
$light-gray: #F0F0F0;
$border: #E4E4E4;

hr.dark {
    border: none;
    height: 1px;
    color: $gray;
    background-color: #DBDADB;
}

hr.light {
    border: none;
    height: 1px;
    color: $gray;
    background-color: $light-gray;
}

select.dropdown {
  border: 1px solid $border;
}

input.datepicker {
  border: 1px solid $border !important;
  padding-left: 30px;
  border-width: 1px !important;
  border-radius: 4px ;
}

span.datepicker {
  float: left;
  margin-left: 8px;
  margin-top: -24px;
  position: relative;
  z-index: 2;
}

textarea {
  height: 100px !important;

  &.border {
    border: 1px solid $border;
  }
  &.no-resize {
    resize: none;
  }
}

.heading {
  float: left;
  font-size: 30px;
  font-weight: bold;
  color: #5b5b5b;
  padding: 0px;
  line-height: 2em;
  margin-top: 30px;
  margin-left: 10px;
}

.content-wrapper {
  padding: 30px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding-top: 0;
  padding-bottom: 0;
  height: 90px;

  .logo {
    width: 180px;
    height: 91px;
    margin-left: -15px;
    background-color: #ffab04;

    a {
      margin-top: 15px;
      margin-left: 50px !important;
    }
  }
}

.main-menu {
  margin-top: calc(50vh - 100px);

  .menu-btn {
    width: 119px;
    height: 119px;
    border-radius: 6px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    }

    .wraptocenter {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 119px;
      height: 119px;
    }

    .wraptocenter * {
      vertical-align: middle;
    }
  }

  p {
    font-family: 'Maitree', serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #5b5b5b;
    margin-top: 10px;
  }
}

.main-menu .main-menu-box {
  text-align: center;
}

.main-menu-item:focus {
  outline: none;
}

.container.main-menu.main {
  margin-top: 200px;
  -webkit-align-items: center;
  align-items: center;
  max-width: 62%;
  height: 450px;
}

.container.dashboard {
  max-width: 85%;
}

.dashboard-item {
  height: 110px;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;

  &.orange {
    box-shadow: inset 4px 0 0 0 $orange;
  }
  &.purple {
    box-shadow: inset 4px 0 0 0 $purple;
  }
  &.blue {
    box-shadow: inset 4px 0 0 0 $blue;
  }
  &.green {
    box-shadow: inset 4px 0 0 0 $green;
  }
  &.dark-gray {
    box-shadow: inset 4px 0 0 0 $dark-gray;
  }

  .title {
    margin-top: 22px;
    margin-left: 22px;
    font-size: 15px;
  }

  .count {
    margin-top: 22px;
    margin-left: 22px;
    font-size: 25px;
    font-weight: bold;

    &.orange {
      font-size: 35px;
      margin-top: 0px;
      color: $orange;
    }
    &.gray {
      color: $gray;
    }
    &.purple {
      color: $purple;
    }
    &.blue {
      color: $blue;
    }
    &.green {
      color: $green;
    }
    &.dark-gray {
      color: $dark-gray;
    }
  }

  .quota {
    margin-top: 22px;
    margin-left: 22px;
    font-size: 20px;
    color: $gray;
  }

  .icon {
    height: 110px;
    align-items: center;
  }
}

.dashboard-item:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 1px;
    z-index: -1;
    transform: scale(.9);
    box-shadow: -4px 0px 8px 1.5px $gray;
}

.btn-send {
  float: right;
  padding-top: 4px;
  padding-left: 32px;
  padding-right: 32px;
  height: 30px;
  margin-bottom: 4px;
  background-color: #63B20D;
  color: #fff !important;
  border: 2px solid #63B20D;
  border-radius: 4px;
}

.modal-content flash-message-content .alert {
  width: 95%;
}
