/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require font-awesome
 *= require angular-material
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F3F9FC;
  font-family: 'Maitree', serif;
  color: #595959;
  -webkit-print-color-adjust: exact !important;
}

.navbar-default {
  background-color: #ffffff;
  border: 0px;
}

.navbar-brand {
  height: 100%;
  padding: 0px;
}

.navbar .dropdown-toggle {
  height: 80px;
  line-height: 50px;
}

#payroll-report .report-content {
  padding-top: 30px;
  background-color: #fff;
  border-left: 4px solid #00D2D7;
}

#payroll-report tfoot {
  border-bottom: 2px solid #FFAA00;
}

#payroll-report #month-list {
  cursor: pointer;
}

#payroll-report .dropdown-menu button {
  background-color: transparent;
  border: 0px;
}

.text-green {
  color: #66E341;
}

.text-red {
  color: #E70A0E;
}

.text-yellow {
  color: #FFAA00;
}

.text-white {
  color: #fff;
}

.main-menu {
  margin-top: calc(50vh - 200px);
}

.main-menu .main-menu-box {
  text-align: center;
}

.main-menu-item {
  text-align: center;
  display: table;
  margin: auto;
}

.main-menu-item .main-menu-title {
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}

.main-menu-item .main-menu-button {
  background-color: #F2F2F2;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #E2E2E2;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}

.main-menu-item .main-menu-button .main-menu-image {
}


.main-menu-item .main-menu-button .main-menu-image.setting,
.main-menu-item .main-menu-button .main-menu-image.employees {
  width: 60px;
  height: 60px;
}

.main-menu-item .main-menu-button .main-menu-image.payroll {
  width: 50px;
  height: 60px;
}

.main-menu-item .main-menu-button .main-menu-image.report {
  width: 45px;
  height: 45px;
}

.bg-light-gray {
  background-color: #DDD;
}

.bg-gray {
  background-color: #4A4A4A;
  color: #fff;
}

.bg-yellow {
  background-color: #FFAA00;
  color: #fff;
}

.btn-submit {
  background-color: #69C406;
  color: #FFFFFF;
  border-radius: 0px
}

.btn-cancel {
  background-color: transparent;
  color: #D7283E;
  border: 1px solid #D7283E;
  border-radius: 0px
}

.btn-print {
  background-color: #FFAA00;
  color: #ffffff;
  border-radius: 0px  
}


.btn-danger {
  border-radius: 0px  
}

.btn-memo {
  background-color: #fff;
  border: 2px solid #4893DC;
  color: #4893DC;
  border-radius: 0px  
}

.btn-print {
  background-color: #FFAA00;
  color: #ffffff;
  border-radius: 0px;
}

.img-bg {
  width: 100%;
  padding-bottom: 100%;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.circle {
  border-radius: 50%;
}

.line-space5{
  padding-top: 5px;
  padding-bottom: 5px;
}

.employees-list .card {
  background-color: #FFF;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid;
  border-bottom-color: #42e2f4;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.employees-list .img-profile {
  position: relative;
}

.font-size-40 {
  font-size: 40px;
}

.font-white {
  color: #FFF;
}

.font-light-gray {
  color: #AAA;
}

.padding0{
  padding: 0px !important;
}

.row.same-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row.same-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#payroll-slip .btn-print {
  background-color: #FFAA00;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 0px  
}

#payroll-slip .btn-print:hover,
#payroll-slip .btn-print:hover a {
  color: #000;
  text-decoration: none;
}

#payroll-slip .btn-print a {
  color: #ffffff;
}


#payroll-slip .slip-content {
  background-color: #fff;
  padding: 60px 0px 20px 0px;
}

#payroll-slip thead {
  background-color: #4A4A4A !important;
  color: #fff;
}

#payroll-slip td,
#payroll-slip th {
  vertical-align: middle;
  border-color: #4A4A4A;
}

#payroll-slip td.big {
  height: 50px
}

#payroll-slip #order tbody td {
  border-bottom: 0px;
  border-top: 0px;
  height: 250px;
  vertical-align: top !important;
}

#payroll-slip #order thead th {
  padding: 15px 20px;
}

#payroll-slip #date_table {
  margin-bottom: 163px;
}

#payroll-slip #signature {
  margin-top: 100px;
  border-top: 1px solid;
  text-align: center;
}

#payroll-slip .for_print {
  display: none;
}

#payroll-slip .separate {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px dashed #000 !important;
}

@print {
  size: A4;
}

@media print {
  #payroll-slip .unused_for_print {
    display: none;
  }

  #payroll-slip p,
  #payroll-slip th,
  #payroll-slip td {
    font-size: 10px;
  }

  #payroll-slip #date_table {
    margin-bottom: 100px;
  }

  #payroll-slip #order thead th {
    padding: 5px 10px;
  }

  #payroll-slip #order tbody td {
    border-bottom: 0px;
    border-top: 0px;
    height: 200px;
    vertical-align: top !important;
  }

  #payroll-slip .slip-content {
    padding: 0px;
  }

  #payroll-slip th.bg-gray,
  #payroll-slip thead th {
    background-color: #4A4A4A !important;
    color: #fff !important;
  }

  #payroll-slip .for_print {
    display: block !important;
  }

  #payroll-slip #slipLogo {
    width: 200px;
  }

  #payroll-slip td.big {
    height: 45px
  }

  #payroll-slip #slipLogo {
    width: 200px;
  }

  #payroll-slip td.big {
    height: 40px
  }

  #payroll-slip #signature {
    margin-top: 85px;
  }

  #payroll-slip p {
    margin: 0px 0 6px;
  }
}

.employee-details .form-group input, .employee-details .form-group div{
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  box-shadow: none !important;
}

.employee-details .paragraph {
  background-color: white;
  padding: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.employee-details .paragraph.cyan{
  border-left: 5px solid;
  border-left-color: #42e2f4;
}

.employee-details .paragraph.orange{
  border-left: 5px solid;
  border-left-color: #F59C0B;
}

.employee-details .img-profile{
  position: relative;
}

.employee-details .img-bg {
  width: 100% !important;
  margin-top: -60px;
  padding-bottom: -20px;
}

.employee-details h1#employeeName {
  margin-top: 0px !important;
}

.employee-details .dropdown small {
  color: #A6A6A7;
}


.space20{
  height: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

#payroll .payroll-content {
  padding-top: 30px;
  background-color: #fff;
  border-left: 4px solid #00D2D7;
}

#payroll th,
#payroll td {
  border: 1px solid gray;
  vertical-align: middle;
}

#payroll {
  margin: 0px 10px;
}
