/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F3F9FC;
  font-family: 'Maitree', serif;
  color: #595959;
}

#payroll-report .report-content {
  padding-top: 30px;
  background-color: #fff;
  border-left: 4px solid #00D2D7;
}

#payroll-report tfoot {
  border-bottom: 2px solid #FFAA00;
}

#payroll-report #month-list {
  cursor: pointer;
}

#payroll-report .dropdown-menu button {
  background-color: transparent;
  border: 0px;
}

.text-green {
  color: #66E341;
}

.text-red {
  color: #E70A0E;
}

.main-menu {
  margin-top: calc(50vh - 50px);
}

.main-menu .main-menu-box {
  text-align: center;
}

.main-menu-item {
  text-align: center;
  position: relative;
  align-items: center;
  display: table;
  margin: auto;
}

.main-menu-item .main-menu-title {
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}

.main-menu-item .main-menu-button {
  margin: auto;
  background-color: #F2F2F2;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #E2E2E2;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.main-menu-item .main-menu-button .main-menu-image {
}

.main-menu-item .main-menu-button .main-menu-image.employees {
  width: 60px;
  height: 60px;
}

.main-menu-item .main-menu-button .main-menu-image.report {
  width: 45px;
  height: 45px;
}
