/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Maitree:200,300,400,500');
body{
  font-family: 'Maitree', serif;
}

.landing-page .navbar-brand{
  font-size: 24px;
  min-height: 60px;
  padding: 20px 15px;
  color: #fff;
}
.navbar-custom-landing{
  background-color: #B65BC7;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}
.navbar-inverse .navbar-nav>li>a{
  font-size: 16px;
  color: #fff;
  font-weight: 300;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;

  background-color:transparent;
  border: 1px solid #B65BC7;
  margin-top: 3px !important;

  &:hover {
    background-color: #fff;
    color: #B65BC7;
    border: 1px solid #B65BC7;
  }
}

.navbar-toggle{
  margin-top: 10px;
}
.navbar{
  margin-bottom: inherit;
}
.container-fluid.content-for-web{
  padding-left: 0px;
  padding-right: 0px;
}
section#section1{
  background-color: #f1f1f1;
  height: auto;
}
section#section2{
  padding: 80px 0;
  background-color: #FFFFFF;
  height: auto;
  z-index: 3;
}
section#section3{
  background-color: #FFD962;
  height: auto;
  padding: 80px 0;
}
section#section4{
  background-color: #FFFFFF;
  height: auto;
  padding: 80px 0;
}
section#section5{
  background-color: #FFFFFF;
  height: auto;
  padding: 80px 0;
}
section#section6{
  background-color: #F95f44;
  height: auto;
  padding: 50px 0;
}
footer#footer{
  height: auto;
  background-color: #343d46;
}

.text-title-sec2{
  text-align: center;
  font-size: 28px;
  letter-spacing: 5px;
  color: #f95f44;
}
.text-title-sec4{
  text-align: center;
  font-size: 28px;
  letter-spacing: 5px;
  color: #B65BC7;
}
.text-title-sec5{
  text-align: center;
  font-size: 28px;
  letter-spacing: 5px;
  color: #70C4DC;
}
.text-title-contactUs{
  text-align: center;
  font-size: 28px;
  letter-spacing: 5px;
  color: #FFFFFF;
}
.text-address{
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  margin: 20px auto;
  letter-spacing: 2px;
}
.text-address-icon{
  text-align: center;
    margin: 80px auto 0;
}
.text-address-icon>a{
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 300;
}
.text-address-icon .fa{
  padding: 0 40px;
}
.underline-text-title{
  margin: auto;
  padding-top: 30px;
  width: 20%;
  border-bottom: 1px solid #65737e;
}
.text-sub-title{
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  margin: 30px auto;
}
.course-sec2{
  margin-top: 60px;
}
.bg-color1{
  height: 250px;
  background-color: #FFD962;
  border-radius: 10px;
}
.bg-color2{
  height: 250px;
  background-color: #B65BC7;
  border-radius: 10px;
}
.bg-color3{
  height: 250px;
  background-color: #7BD7F2;
  border-radius: 10px;
}
.bg-color4{
  height: 250px;
  background-color: #F95F44;
  border-radius: 10px;
}
.text-course-title{
  font-size: 18px;
  padding: 15px 0 5px;
  color: #F95F44;
  letter-spacing: 2px;
}
.text-course-details {
  font-size: 14px;
  line-height: 1.8em;
  color: #65737E;
  letter-spacing: 1px;
}
.text-title-sec3{
  font-size: 28px;
  color: #343d46;
  letter-spacing: 5px;
}
.underline-text-title-white {
  margin: auto;
  padding-top: 30px;
  width: 20%;
  border-bottom: 1px solid #fff;
}
.underline-text-title3 {
  margin: 20px 0 25px;
  width: 80%;
  border-bottom: 1px solid #fff;
}
.text-sub-title3{
  color: #343d46;
  line-height: 1.8em;
  font-size: 14px;
}
.btn.btn-ourTeam,
.btn.btn-ourTeam:focus{
  margin-top: 40px;
  padding: 12px 46px;
  font-size: 16px;
  background-color: #b65bc7;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}
.frame-img{
  width: 100%;
  height: auto;
}
.frame-img>img{
  width: 100%;
  border-radius: 10px;
}
.text-footer {
    color: #FFFFFF;
    padding: 20px 0;
    font-weight: 300;
    letter-spacing: 1px;
}
.card-photoSchool{
  margin-top: 80px;
}
.lib-panel {
    margin-bottom: 20px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row{
  background-color: #FFFFFF;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 20px;
}

.lib-panel .col-md-6 {
  background-color: #FFFFFF;
  padding: 0;
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 500;
    padding: 20px;
    color: #343D46;
}

.box-shadow {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

.lib-row.lib-desc {
    font-size: 12px;
    color: #65737E;
    min-height: 14rem;
}
.lib-panel .col-md-6.content-photo{
  padding: 10px 0;
}
.lib-row.lib-footer>a{
  text-decoration: underline;
  color: #F95F44;
}
.row.details-pr{
  margin-top: 60px;
}
.frame-pr {
  border: 2px solid #7BD7F2;
  border-radius: 5px;
  padding: 30px;
}
.row.contant-title-pr {
  font-size: 24px;
  margin-left: 0px;
  margin-right: 0px;
  letter-spacing: 2px;
  color: #343D46;
}
.row.contant-details-pr{
  font-size: 16px;
  margin: 30px 0 0;
  color: #343D46;
  height: 380px;
  overflow-y: scroll;
}
.row.contant-details-pr>p{
  margin: 0 0 5px;
}
.row.school-facebook{
  margin: 20px 0 0;
}
.col-md-6.lib-item {
    padding: 0px;
}

#section1 .carousel-caption{
  bottom: 20%;
}
.carousel-control.right,
.carousel-control.left,
.carousel-control.right:hover,
.carousel-control.left:hover{
  background-color: transparent;
  background-image: inherit;
}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right{
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  right: 50%;
  position: absolute;
  z-index: 5;
  display: inline-block;
}
.carousel-inner>.item{
  height: 650px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.name-school{
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 2px;
}
.sub-name-school{
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 300;
}
.btn.btn-ask-details,
.btn.btn-ask-details:focus{
  margin-top: 80px;
  padding: 16px 36px;
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  background-color: #F95F44;
  border: #F95F44;
  letter-spacing: 3px;
}

.btn.btn-load-calendar,
.btn.btn-load-calendar:focus{
  padding: 16px 36px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: #B65BC7;
  border: #B65BC7;
  letter-spacing: 3px;
}

#section4 .carousel-indicators .active{
  background-color: #B65BC7;
  border: 1px solid #B65BC7;
}
#section4 .carousel-indicators li{
  border: 1px solid #343D46;
}
#section4 .controls.hidden-xs{
  margin-top: 50px;
}
.lib-img{
  width: auto;
  height: 270px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

/*calendar*/
.fc-calendar-container {
	position: relative;
	height: 400px;
	width: 400px;
}

.fc-calendar {
	width: 100%;
	height: 100%;
}

.fc-calendar .fc-head {
	height: 30px;
	line-height: 30px;
	background: #ccc;
	color: #fff;
}

.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: calc(100% - 30px);
	border: 1px solid #ddd;
}

.fc-calendar .fc-row {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.fc-four-rows .fc-row  {
	height: 25%;
}

.fc-five-rows .fc-row  {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: calc(100%/6);
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%; /* 100% / 7 */
	width: -moz-calc(100%/7);
	width: -webkit-calc(100%/7);
	width: calc(100%/7);
	position: relative;
}

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
	width:  14.2%;
}

.fc-calendar .fc-row > div {
	border-right: 1px solid #ddd;
	padding: 4px;
	overflow: hidden;
	position: relative;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left: 5px;
	display: none;
}

.fc-calendar .fc-row > div.fc-out {
	opacity: 0.6;
}

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
	border-right: none;
}

.fc-calendar .fc-row:last-child {
	border-bottom: none;
}


#section5 .calendar-event-school{

}
#section5 .calendar-header{
  position: relative;
  text-align: center;
  padding: 5px 10px 10px 20px;
}
#section5 .fc-calendar-container{
  width: auto;
  min-height: 400px;
  background-color: #FFFFFF;
  padding: 0;
}
#section5 .calender-inner{

}
#section5 .fc-calendar .fc-row > div{
  border: none;

}

#section5 .fc-calendar .fc-row > div.fc-today{
  border-radius: 50%;
  background-color: #f2f2f2;

}

#section5 .fc-calendar .fc-row{
  border: none;
}
#section5 .fc-calendar .fc-body{
  position: relative;
  width: 100%;
  height: 100%;
  height: -moz-calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
  border: none;
}
#section5 .fc-calendar .fc-row > div,
#section5 .fc-calendar .fc-head > div{
  float: left;
  height: 85%;
  width: 14.28%;
  width: -moz-calc(100%/7);
  width: -webkit-calc(100%/7);
  width: calc(100%/7);
  position: relative;
  text-align: center;
}
#section5 .fc-calendar .fc-head {
  height: 30px;
  line-height: 30px;
  background: transparent;
  color: #C0C5CE;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}

#section5 .fc-calendar .fc-row > div > span.fc-date{
  top: 50%;
  left: 50%;
  text-align: center;
  margin: -10px 0 0 -15px;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
}
#section5 span.fc-date.fc-emptydate {
    color: #ddd;
}
#section5 .fc-calendar .fc-row > div.fc-content:after {
  content: '\00B7';
  text-align: center;
  width: 20px;
  margin-left: -10px;
  position: absolute;
  color: #F95F44;
  font-size: 50px;
  line-height: 10px;
  left: 50%;
  bottom: 3px;
}

#section5 h2#custom-month{
  margin-top: 10px;
  color: #B65BC7;
  text-align: center;
}
#section5 .fc-calendar-events {
  display: none;
}
#section5 #custom-content-reveal {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
  max-height: 120px;
}

/*contact us*/
.contact-icon .items-contact{
  text-align: center;
}
.contact-icon .items-contact>p,
.contact-icon .items-contact>p>a{
  margin-top: 5px;
  color: #65737E;
  text-decoration: none;
}
.contact-icon .items-contact>i.fa-facebook{
  color: #4267b2;
}
.contact-icon .items-contact>i.fa-phone-square{
  color: #7bd7f2;
}
.contact-icon .items-contact>i.fa-envelope-o{
  color: #B65BC7;
}
.contact-icon{
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.contact-us-details{
  padding: 100px 0;
}

.about-us-details{
  padding: 50px 0;
  width: 50%;
}

.details-history {
    margin: 30px auto;
    font-size: 14px;
    color: #343D46;
    font-weight: 300;
    letter-spacing: 1px;
}
.about-contant_photo {
    margin: 50px auto;
    width: 100%;
    height: 300px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-course{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// our team
.bg-img-our-team{
  height: 400px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-title-our-team{
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
  top: 50%;
  color: #FFFFFF;
}
.text-sub-title-team{
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  color: #B65BC7;
  padding: 50px 0 20px;
}
.content-our-team{
  padding: 80px 0;
}
.row.level-manager,
.row.level-general{
  padding: 30px 0;
}
.text-name-staff{
  font-size: 18px;
  padding: 15px 0 5px;
  color: #343D46;
  letter-spacing: 1px;
}
.text-staff-position{
  font-size: 14px;
  color: #65737E;
  letter-spacing: 1px;
}
.text-name-staff2{
  font-size: 14px;
  padding: 15px 0 5px;
  color: #343D46;
  letter-spacing: 1px;
}
.text-staff-position2{
  font-size: 12px;
  color: #65737E;
  letter-spacing: 1px;
}
.img-staff-level1{
  width: 100%;
  height: 250px;
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-staff-level2 {
  width: 100%;
  height: 170px;
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

// for gallery
.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: -20px;
}
.thumbnail{
  border: none;
}
.photo-gallery-xl{
  width: 100%;
  height: 600px;
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo-gallery-xs{
  width: 100%;
  height: 170px;
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.caption-photo{
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 2px;
}
.hide-bullets li.col-sm-2 {
  padding: 5px;
}
.img-staff-landing{
  width: 100%;
  height: 335px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

a.btn-signIn,a.btn-signIn:focus{
  background-color: #fff !important;
  border: 1px solid #B65BC7 !important;
  color: #B65BC7 !important;
  font-weight: 500 !important;
  transition: all 0.25s ease !important;

  &:hover{
    border: 1px solid #fff !important;
    color: #FFFFFF !important;
    background-color: #B65BC7 !important;
  }
}



@media only screen and (min-device-width: 375px) and (max-device-width: 1024px) and (orientation:portrait) {

      .content-our-team .row{
        margin-left: 0px;
        margin-right: 0px;
      }

      .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        border: none;
        margin-bottom: 20px;
      }

      .navbar-inverse .navbar-toggle{
        border: none;
      }
      .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
        background: transparent;
      }
      .content-our-team  .col-md-2.col-xs-6 {
          margin-top: 10px;
      }
      .text-name-staff2{
        font-size: 12px;
      }
      .about-us-details{
        width: 85%;
      }
}
