<form name="passwordForm" ng-submit="setting.submit(setting.datas)">
  <div class="container setting" style="width: 960px;">
    <div class="row paragraph bg-setting">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="name">ชื่อ</label>
              <input type="text" class="form-control" id="username" ng-model="setting.datas.user.name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="email">อีเมล์</label>
              <input type="text" class="form-control" id="useremail" ng-model="setting.datas.user.email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="password">รหัสผ่าน</label>
              <input type="password" class="form-control white-bg" id="password" ng-model="setting.datas.password" ng-disabled="true">
            </div>
          </div>
        </div>
        <div class="space20"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <button type="button" class="btn btn-lg btn-block btn-submit" ng-click="setting.changePassword()">เปลี่ยนรหัสผ่าน</button>
            </div>
          </div>
        </div>
        <div class="space20"></div>
        <div ng-show="setting.canUpdateSchool">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="name">ชื่อโรงเรียน</label>
                <input type="text" class="form-control white-bg" id="name" ng-model="setting.datas.school.name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="schoolTaxId">เลขประจำตัวผู้เสียภาษี</label>
                <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.school.tax_id">
              </div>
            </div>
          </div>
          <div class="space20"></div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="address">ที่อยู่</label>
                <input type="text" class="form-control white-bg" id="address" ng-model="setting.datas.school.address">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="zipcode">รหัสไปรษณีย์</label>
                <input type="text" class="form-control white-bg" id="zipcode" ng-model="setting.datas.school.zip_code">
              </div>
            </div>
          </div>
          <div class="space20"></div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="email">อีเมล์โรงเรียน</label>
                <input type="text" class="form-control white-bg" id="emailSchool" ng-model="setting.datas.school.email">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="phone">โทรศัพท์</label>
                <input type="text" class="form-control white-bg" id="phone" ng-model="setting.datas.school.phone">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="fax">โทรสาร</label>
                <input type="text" class="form-control white-bg" id="fax" ng-model="setting.datas.school.fax">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-menu row" style="margin-right: -30px;">
      <div class="col-md-offset-8 col-md-2 text-right">
        <button type="submit" class="btn btn-lg btn-block btn-submit">บันทึก</button>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-lg btn-block btn-cancel" ng-click="openRoot()">ยกเลิก</button>
      </div>
    </div>

    <!-- <div class="row paragraph cyan">
      <div class="col-md-12"``>
      </div>
    </div> -->
  </div>
</form>
