<div class="container" >
  <form ng-submit="inventory.save()">
  <div class="row">
    <div id="inventory">
      <div class="col-xs-12">
        <div class="row mt-50">
          <div class="col-xs-6 mb-20 pl-0">
            <h1><h1>{{ "inventory_list" | translate }}</h1></h1>
          </div>
        </div>
        <div class="row">
          <ul class="nav nav-tabs inventory col-md-12">
            <li class="cyan active">
              <a data-toggle="tab" class="ng-binding">{{ "inventory" | translate }}</a>
            </li>
          </ul>
        </div>
        <div class="row report-content container-fluid panel-board" style="height: 400px;">
          <div class="tab-content">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="item_name">{{ "item_name" | translate }}</label>

                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text id="inventory_name" ng-model="inventory.name" required="true">
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="control-label" for="serial_number">{{ "serial_number" | translate}} </label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="inventory_serial_number" ng-model="inventory.serial_number" required="true">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="model">{{ "model" | translate }}</label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="inventory_model" ng-model="inventory.model" required="true">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label" for="description">{{ "description" | translate }}</label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="inventory_description" ng-model="inventory.description" required="true">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="price">{{ "price" | translate }}</label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="number" id="inventory_price" ng-model="inventory.price" ng-validate="number" required="true">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-4">
                <div class="form-group ">
                  <label class="control-label" for="category">{{ "category" | translate }}</label>
                  <div class="col-md-12">
                    <select class="form-control" id="inventory_category" ng-model="inventory.category" required="true">
                      <option value="{{ 'select_category' | translate }}">{{ "select_category" | translate }}</option>
                      <option ng-repeat="item in inventory.item_catogery" value="{{item.name}}">{{item.name | translate }}</option>
                  <!--     <option value="{{ 'select_category' | translate }}">{{ "select_category" | translate }}</option>
                      <option value="office_furniture">{{ "office_furniture" | translate }}</option>
                      <option value="equipment_computer">{{ "equipment_computer" | translate }}</option>
                      <option value="office_supplies">{{ "office_supplies" | translate }}</option>
                      <option value="maintenance_equipment">{{ "maintenance_equipment" | translate }}</option>
                      <option value="cleaning_products">{{ "cleaning_products" | translate }}</option>
                      <option value="electronic_office_equipment">{{ "electronic_office_equipment" | translate }}</option>
                      <option value="paper_products">{{ "paper_products" | translate }}</option>
                      <option value="meeting_presentation_equipment">{{ "meeting_presentation_equipment" | translate }}</option> -->

                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="date_purchase">{{ "date_purchase" | translate }}</label>
                  <p class="input-group">
                    <input id="date_purchase" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.datas.date_purchase" is-open="inventory.datePurchasePopup.opened" close-text="Close" required="true"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="inventory.openDatePurchasePopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="end_warranty">{{ "end_warranty" | translate }}</label>
                   <p class="input-group">
                    <input id="end_warranty" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.datas.end_warranty" is-open="inventory.endWarrantyPopup.opened" close-text="Close" required="true"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="inventory.openEndWarrantyPopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-4">
                <div class="dropdown">
                  <label class="control-label" for="employee">{{ "employee" | translate }}</label>
                  <div class="form-control" style="padding-top: 0px;" >
                    <h4 id="employeeName" onclick="window.setTimeout(function(){ $('#employeeFilter').val('').trigger('change').focus()}, 10)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                      <span ng-bind="inventory.displayName"></span>
                      <span class="fa fa-angle-down pull-right"></span>
                    </h4>
                    <ul class="dropdown-menu mn-inventory">              
                      <li ng-show="inventory.employee_lists.length > 0"><input class="employee-filter" id="employeeFilter" type="text" ng-model="inventory.filterKeyword" /></li>
                      <li ng-repeat="data in inventory.employee_lists | filter:inventory.filterKeyword">
                        <a class="py-5" ng-click="inventory.switchEmployee(data.name,data.id)" href="javascript:void(0)">
                          <span class="dropdown-employee-name" style="padding-left: 20px;" >{{data.name}}</span>
                        </a>
                      </li>
                    </ul>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-menu row mt-20">
          <div class="pull-right text-right padding-left10">
            <button type="button" class="btn btn-custom btn-gray ng-binding" ng-click="inventory.cancel()">{{ "cancel" | translate }}</button>
          </div>
          <div class="pull-right text-right padding-left10">
            <button type="submit" class="btn btn-custom btn-green ng-binding">{{inventory.add_button | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>


        