<div class="container" >
  <form ng-submit="inventory.save()">
  <div class="row mt-20">
    <div id="inventory">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-6 mb-20 pl-0">
            <h1>{{ "inventory_details" | translate }}</h1>
          </div>
        </div>
        <div class="row report-content container-fluid panel-board">
          <div class="tab-content">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="item_name">{{ "item_name" | translate }}</label>

                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="inventory_name" ng-model="inventory.name" required="true">
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="control-label" for="serial_number">{{ "serial_number" | translate}} </label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="inventory_serial_number" ng-model="inventory.serial_number">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="model">{{ "model" | translate }}</label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="inventory_model" ng-model="inventory.model">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label" for="description">{{ "description" | translate }}</label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="inventory_description" ng-model="inventory.description">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="price">{{ "price" | translate }}</label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="number" id="inventory_price" ng-model="inventory.price" ng-validate="number" required="true" step="0.01" parseFloat>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-4">
                <div class="form-group ">
                  <label class="control-label" for="category">{{ "category" | translate }}</label>
                  <div class="col-md-12">
                    <select class="form-control" id="inventory_category" ng-model="inventory.category" ng-change="inventory.switchCategory()" required="true">
                      <option value="{{ 'select_category' | translate }}">{{ "select_category" | translate }}</option>
                      <option ng-repeat="item in inventory.item_catogery" value="{{item.name}}">{{ item.name | translate }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="date_purchase">{{ "date_purchase" | translate }}</label>
                  <p class="input-group">
                    <input id="date_purchase" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.datas.date_purchase" is-open="inventory.datePurchasePopup.opened" close-text="Close" required="true" data-date-language="th"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="inventory.openDatePurchasePopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="end_warranty">{{ "end_warranty" | translate }}</label>
                   <p class="input-group">
                    <input id="end_warranty" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.datas.end_warranty" is-open="inventory.endWarrantyPopup.opened" close-text="Close"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="inventory.openEndWarrantyPopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-4">
                <div class="dropdown">
                  <label class="control-label" for="employee">{{ "employee" | translate }}</label>
                  <div class="form-group">
                   <input type="text" class="form-control" id="employee_name" placeholder="{{ 'employee_name' | translate }}" ng-model="inventory.employee_name"  typeahead-on-select="inventory.onSelectEmployeeFullName($item)" ng-change="inventory.onChangeName()" uib-typeahead="inventory.name as inventory.name for inventory in inventory.employee_lists | filter:{name:$viewValue} | limitTo:8" , autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="dropdown">
                  <label class="control-label" for="supplier">{{ "supplier" | translate }}</label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="supplier_name" placeholder="{{ 'supplier' | translate }}" ng-model="inventory.supplier_name" ng-change="inventory.onChangeSupplier()" typeahead-on-select="inventory.onSelectSupplier($item)" uib-typeahead="inventory.name as inventory.name for inventory in inventory.supplier_lists | filter:{name:$viewValue} | limitTo:8" , autocomplete="off">
                  </div>
                </div>
              </div>
              <div class=" padding-left10">
                <button type="button" class="btn btn-custom btn-orange ng-binding" ng-click="inventory.openAddSupplierModal()" >{{ "add_supplier" | translate }}</button>
              </div>
            </div>
            <div class="row mt-20" ng-show="inventory.showType">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="request_type">{{ "request_type" | translate }}</label>
                  <div class="col-md-12">
                    <input class="form-control" autocomplete="off" type="text" id="request_type" ng-model=inventory.change_request_type " required="true" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="define_return_date">{{ "define_return_date" | translate }}</label>
                  <p class="input-group">
                    <input id="define_return_date" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.define_return_date" is-open="inventory.defineReturnDatePopup.opened" close-text="Close"  data-date-language="th"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="inventory.openDefineReturnDatePopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="return_date">{{ "return_date" | translate }}</label>
                  <p class="input-group">
                    <input id="return_date" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.return_date" is-open="inventory.returnDatePopup.opened" close-text="Close" data-date-language="th"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="inventory.openReturnDatePopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-menu row mt-20">
          <div class="pull-right text-right padding-left10">
            <button type="button" class="btn btn-custom btn-gray ng-binding" ng-click="inventory.cancel()">{{ "cancel" | translate }}</button>
          </div>
          <div class="pull-right text-right padding-left10">
            <button type="submit" class="btn btn-custom btn-green ng-binding">{{inventory.add_button | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
        