<nav class="navbar navbar-fixed-top employee-menu employee-details z-index-lv-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row" ng-show="employee.isEdit">
          <div class="col-md-6">
            <div class="dropdown">
              <small>Select employee</small>
              <h1 id="employeeName" onclick="window.setTimeout(function(){ $('#employeeFilter').val('').trigger('change').focus()}, 100)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <span ng-bind="employee.displayName"></span>
                <span class="caret"></span>
              </h1>
              <ul class="dropdown-menu">
                <li ng-show="employee.employee_lists.length > 0"><input class="employee-filter" id="employeeFilter" type="text" ng-model="employee.filterKeyword" /></li>
                <li ng-repeat="data in employee.employee_lists | filter:employee.filterKeyword">
                  <a ng-click="employee.openEmployeeDetails(data.id)" href="javascript:void(0)">
                    {{data.id}}: {{data.name}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 employee-pin">
            <small ng-show="employee.pinChars.length > 0">PIN Number</small><br>
            <span class="pin-char" ng-show="employee.pinChars.length > 0" ng-repeat="pinChar in employee.pinChars track by $index">{{pinChar}}</span>
          </div>
          <div class="col-md-3" style="margin-top:10px;">
            <a ng-click="employee.openEmployeeDetails(0)" href="javascript:void(0)" class="btn btn-lg btn-block bg-yellow">
              + เพิ่มพนักงานใหม่
            </a>
          </div>
        </div>
        <div class="row">
          <ul class="nav nav-tabs main">
            <li class="cyan" ng-class="{ 'active' : employee.activeTab === 'general' }">
              <a data-toggle="tab" ng-click="employee.activeTab = 'general'" href="javascript:void(0)">ข้อมูลทั่วไป</a>
            </li>
            <li class="cyan" ng-class="{ 'active' : employee.activeTab === 'salary' }" ng-show="employee.hasPayroll && employee.isEdit">
              <a data-toggle="tab" ng-click="employee.activeTab = 'salary'; employee.calTotal();" href="javascript:void(0)">เงินเดือน</a>
            </li>
            <li class="orange" ng-class="{ 'active' : employee.activeTab === 'private' }" ng-show="employee.isEdit">
              <a data-toggle="tab" ng-click="employee.activeTab = 'private'" href="javascript:void(0)">ข้อมูลส่วนตัว</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container employee-details" ng-class="{'employee-menu-space': employee.isEdit}">
  <form name="createProjectForm" ng-submit="employee.submit(employee.datas)">
    <div class="tab-content">
      <div ng-class="{ 'in active' : employee.activeTab === 'general' }" id="generalInfo" class="tab-pane fade">
        <div class="paragraph cyan tab-content employee">
          <div class="row">
            <div class="col-md-8">
              <br>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="prefix_thai">คำนำหน้า</label>
                    <input type="text" class="form-control" id="prefix_thai" ng-model="employee.datas.employee.prefix_thai" ng-blur="employee.calTotal()">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="first_name_thai">ชื่อ</label>
                    <input type="text" class="form-control" id="first_name_thai" ng-model="employee.datas.employee.first_name_thai">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="last_name_thai">นามสกุล</label>
                    <input type="text" class="form-control" id="last_name_thai" ng-model="employee.datas.employee.last_name_thai">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="prefix">Prefix</label>
                    <input type="text" class="form-control" id="prefix" ng-model="employee.datas.employee.prefix">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" ng-model="employee.datas.employee.first_name">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="middle_name">Middle Name</label>
                    <input type="text" class="form-control" id="middle_name" ng-model="employee.datas.employee.middle_name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="last_name">Surname</label>
                    <input type="text" class="form-control" id="last_name" ng-model="employee.datas.employee.last_name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="personal_id">เลขประจำตัวประชาชน</label>
                    <input type="text" class="form-control" id="personal_id" ng-model="employee.datas.employee.personal_id">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="passport_number">Passport No.</label>
                    <input type="text" class="form-control" id="passport_number" ng-model="employee.datas.employee.passport_number">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-profile cursor-pointer" ngf-select="employee.uploadPhoto($file)">
                <div ng-switch on="employee.datas.img_url.length > 0">
                  <div ng-switch-when="true">
                    <div class="img-bg circle" style="background: url('{{ employee.datas.img_url }}')"></div>
                  </div>
                  <div ng-switch-default>
                    <i class="fa fa-camera center font-size-40 font-white" aria-hidden="true"></i>
                    <div class="img-bg bg-light-gray circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="nickname">ชื่อเล่น</label>
                <input type="text" class="form-control" id="nickname" ng-model="employee.datas.employee.nickname">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="start_date">วันที่เริ่มทำงาน</label>
                <p class="input-group">
                  <input id="start_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="employee.datas.employee.start_date" is-open="employee.startDatePopup.opened" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="employee.openStartDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="position">ตำแหน่ง</label>
                <input type="text" class="form-control" id="position" ng-model="employee.datas.employee.position">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="race">เชื้อชาติ</label>
                <input type="text" class="form-control" id="race" ng-model="employee.datas.employee.race">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="nationality">สัญชาติ</label>
                <input type="text" class="form-control" id="nationality" ng-model="employee.datas.employee.nationality">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="employeetype">ประเภทการจ้างงาน</label>
                <select class="form-control somsri-select" id="employeetype" ng-model="employee.datas.employee.employee_type" ng-blur="employee.calTotal()">
                  <option value="ลูกจ้างประจำ">ลูกจ้างประจำ</option>
                  <option value="ลูกจ้างชั่วคราว">ลูกจ้างชั่วคราว</option>
                  <option value="ลูกจ้างทดลองงาน">ลูกจ้างทดลองงาน</option>
                  <option value="ลูกจ้างรายวัน">ลูกจ้างรายวัน</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="grade_id">ระดับชั้น</label>
                <select class="form-control somsri-select" ng-options="item.id as item.name for item in employee.grades" id="grade_id" ng-model="employee.datas.employee.grade_id">
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="classroom">ห้อง</label>
                <input type="text" class="form-control" id="classroom" ng-model="employee.datas.employee.classroom">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="bank_name">ธนาคาร</label>
                <input type="text" class="form-control" id="bank_name" ng-model="employee.datas.employee.bank_name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="bank_branch">สาขา</label>
                <input type="text" class="form-control" id="bank_branch" ng-model="employee.datas.employee.bank_branch">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="account_number">เลขบัญชีธนาคาร</label>
                <input type="text" class="form-control" id="account_number" ng-model="employee.datas.employee.account_number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <table class="checkbox-group">
                  <tr>
                    <td>
                      <input type="checkbox" class="form-control cbox" id="pay_social_insurance" ng-model="employee.datas.employee.pay_social_insurance" ng-change="employee.calTotal()"/>
                    </td>
                    <td>
                      <label for="pay_social_insurance">จ่ายประกันสังคม</label>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <table class="checkbox-group">
                  <tr>
                    <td>
                      <input type="checkbox" class="form-control cbox" id="pay_pvf" ng-model="employee.datas.employee.pay_pvf" ng-change="employee.calTotal()"/>
                    </td>
                    <td>
                      <label for="pay_pvf">จ่ายกองทุนสงเคราะห์ครูเอกชน</label>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>
      </div>
      <div ng-class="{ 'in active' : employee.activeTab === 'private' }" id="privateInfo" class="tab-pane fade">
        <div class="paragraph tab-content grey employee private">
          <br><br>
          <div class="row">
            <div class="col-md-3 sub-menu">
              <ul class="nav nav-tabs tabs-left">
                <li ng-class="{ 'active' : employee.activeTabPrivate === 'basic' }">
                  <a data-toggle="tab" ng-click="employee.activeTabPrivate = 'basic'" href="javascript:void(0)">
                    ข้อมูลติดต่อและข้อมูลพื้นฐาน
                  </a>
                </li>
                <li ng-class="{ 'active' : employee.activeTabPrivate === 'family' }">
                  <a data-toggle="tab" ng-click="employee.activeTabPrivate = 'family'" href="javascript:void(0)">
                    ครอบครัว
                  </a>
                </li>
                <li ng-class="{ 'active' : employee.activeTabPrivate === 'education' }">
                  <a data-toggle="tab" ng-click="employee.activeTabPrivate = 'education'" href="javascript:void(0)">
                    การทำงานและการศึกษา
                  </a>
                </li>
                <li ng-class="{ 'active' : employee.activeTabPrivate === 'tax' }">
                  <a data-toggle="tab" ng-click="employee.activeTabPrivate = 'tax'" href="javascript:void(0)">
                    ค่าลดหย่อนภาษี
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-9 tab-content">
              <div ng-class="{ 'in active' : employee.activeTabPrivate === 'basic' }" class="tab-pane fade">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="address">ที่อยู่ปัจจุบัน</label>
                      <input type="text" class="form-control" id="address" ng-model="employee.datas.employee.address">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="tel">โทรศัพท์</label>
                      <input type="text" class="form-control" id="tel" ng-model="employee.datas.employee.tel">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="birthdate">วันเกิด</label>
                      <p class="input-group">
                        <input id="birthdate" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="employee.datas.employee.birthdate" is-open="employee.birthdatePopup.opened" close-text="Close"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="employee.openBirthdatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="status">สถานะ</label>
                      <select class="form-control somsri-select" id="status" ng-model="employee.datas.employee.status">
                        <option value="โสด">โสด</option>
                        <option value="สมรส">สมรส</option>
                        <option value="หม้าย">หม้าย</option>
                        <option value="หย่าร้าง">หย่าร้าง</option>
                      </select><br>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="email">อีเมล</label>
                      <input type="text" class="form-control" id="email" ng-model="employee.datas.employee.email">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-10">
                    <div class="form-group">

                      <label for="emergency_call">บุคคลติดต่อฉุกเฉิน</label>
                      <div class="row" ng-repeat="emergency_call in employee.individuals.emergency_calls">
                        <div id="emergency_call" class="col-md-12">
                          <a ng-click="employee.deleteEmergencyCall(emergency_call.id)" href="javascript:void(0)" class="text-red">
                            <span class="fa fa-times"></span>
                          </a>
                          <a ng-click="employee.editEmergencyCall(emergency_call)" href="javascript:void(0)" class="text-cyan">
                            {{ emergency_call.full_name }}
                          </a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <a ng-click="employee.addEmergencyCall()" href="javascript:void(0)" class="text-cyan">
                            + เพิ่มข้อมูล
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <div ng-class="{ 'in active' : employee.activeTabPrivate === 'tax' }" class="tab-pane fade">
                <div class="row" ng-controller="TaxReductionCtrl">
                  <uib-accordion close-others="true">
                    <div uib-accordion-group class="panel-default" is-open="status.tab1">
                      <uib-accordion-heading>
                        <a ng-class="{'accordion-selected': status.tab1}">ค่าลดหย่อนส่วนตัว</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.tab1, 'glyphicon-chevron-right': !status.tab1}"></i>
                      </uib-accordion-heading>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="expenses">ค่าใช้จ่ายส่วนตัว</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="expenses"></i>
                          <input string-to-number
                          class="form-control" id="expenses" ng-model="employee.datas.tax_reduction.expenses" disabled />
                        </div>
                        <div class="form-group">
                          <table class="checkbox-group">
                            <tr>
                              <td><input type="checkbox" class="form-control cbox" id="cbox_no_income_spouse" ng-model="cbox_no_income_spouse" ng-change="set_no_income_spouse(this.cbox_no_income_spouse)" /></td>
                              <td><label for="no_income_spouse">คู่สมรส (ไม่มีรายได้)</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="no_income_spouse"></i>
                              <input string-to-number
                          class="form-control" id="no_income_spouse" ng-model="employee.datas.tax_reduction.no_income_spouse" disabled />
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.tab2">
                      <uib-accordion-heading>
                        <a ng-class="{'accordion-selected': status.tab2}">ค่าลดหย่อนบิดามารดา บุตร ผู้พิการ</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.tab2, 'glyphicon-chevron-right': !status.tab2}"></i>
                      </uib-accordion-heading>
                      <div class="col-md-6">
                        <div class="form-group">
                          <table class="checkbox-group">
                            <tr>
                              <td>
                                <input type="checkbox" class="form-control cbox" id="cbox_father_alimony" ng-model="cbox_father_alimony" ng-change="set_father_alimony(this.cbox_father_alimony)" />
                              </td>
                              <td>
                                <label for="father_alimony">บิดา</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="parent_alimony"></i>
                                <input string-to-number
                          class="form-control" id="father_alimony" ng-model="employee.datas.tax_reduction.father_alimony" disabled />
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" class="form-control cbox" id="cbox_mother_alimony" ng-model="cbox_mother_alimony" ng-change="set_mother_alimony(this.cbox_mother_alimony)" />
                              </td>
                              <td>
                                <label for="mother_alimony">มารดา</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="parent_alimony"></i>
                                <input string-to-number
                          class="form-control" id="mother_alimony" ng-model="employee.datas.tax_reduction.mother_alimony" disabled />
                              </td>
                            </tr>
                            </tr>
                            <tr>
                              <td>
                              </td>
                              <td>
                                <label for="child">บุตร</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="child"></i>
                                <table>
                                  <tr>
                                    <td class="child"><input step="1" type="number" class="form-control cbox" id="numchild" ng-model="numchild" ng-change="set_child(this.numchild)" min="0" /></td>
                                    <td><label for="child">คน</label></td>
                                    <td><input string-to-number
                          class="form-control" id="child" ng-model="employee.datas.tax_reduction.child" disabled /></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <table class="checkbox-group">
                            <tr>
                              <td>
                                <input type="checkbox" class="form-control cbox" id="cbox_spouse_father_alimony" ng-model="cbox_spouse_father_alimony" ng-change="set_spouse_father_alimony(this.cbox_spouse_father_alimony)" />
                              </td>
                              <td>
                                <label for="spouse_father_alimony">บิดาของคู่สมรส</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="parent_alimony"></i>
                                <input string-to-number
                          class="form-control" id="spouse_father_alimony" ng-model="employee.datas.tax_reduction.spouse_father_alimony" disabled />
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" class="form-control cbox" id="cbox_spouse_mother_alimony" ng-model="cbox_spouse_mother_alimony" ng-change="set_spouse_mother_alimony(this.cbox_spouse_mother_alimony)" />
                              </td>
                              <td>
                                <label for="spouse_mother_alimony">มารดาของคู่สมรส</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="parent_alimony"></i>
                                <input string-to-number
                          class="form-control" id="spouse_mother_alimony" ng-model="employee.datas.tax_reduction.spouse_mother_alimony" disabled />
                              </td>
                            </tr>
                            <tr>
                              <td>
                              </td>
                              <td>
                                <label for="cripple_alimony">คนพิการ และหรือคนทุพพลภาพ</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="cripple_alimony"></i>
                                <table>
                                  <tr>
                                    <td class="child"><input step="1" type="number" class="form-control cbox" id="numcripple_alimony" ng-model="numcripple_alimony" ng-change="set_cripple_alimony(this.numcripple_alimony)" min="0" /></td>
                                    <td><label for="cripple_alimony">คน</label></td>
                                    <td><input string-to-number
                          class="form-control" id="cripple_alimony" ng-model="employee.datas.tax_reduction.cripple_alimony" disabled /></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.tab3">
                      <uib-accordion-heading>
                        <a ng-class="{'accordion-selected': status.tab3}">กองทุนรวมและประกันชีวิต</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.tab3, 'glyphicon-chevron-right': !status.tab3}"></i>
                      </uib-accordion-heading>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="insurance">เบี้ยประกันชีวิต</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="insurance"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="insurance" ng-model="employee.datas.tax_reduction.insurance" min="0" max="100000" ng-blur="check_not_null('insurance')" />
                          <label for="retirement_mutual_fund">ค่าซื้อหน่วยลงทุนในกองทุนรวมเพื่อการเลี้ยงชีพ (RMF)</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="retirement_mutual_fund"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="retirement_mutual_fund" ng-model="employee.datas.tax_reduction.retirement_mutual_fund" min="0" ng-blur="check_not_null('retirement_mutual_fund')" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="pension_insurance">เบี้ยประกันชีวิตแบบบำนาญ</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="pension_insurance"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="pension_insurance" ng-model="employee.datas.tax_reduction.pension_insurance" min="0" ng-change="employee.checkInsurance()" ng-blur="check_not_null('pension_insurance')" />
                          <label for="long_term_equity_fund">ค่าซื้อหน่วยลงทุนในกองทุนรวมหุ้นระยะยาว (LTF)</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="long_term_equity_fund"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="long_term_equity_fund" ng-model="employee.datas.tax_reduction.long_term_equity_fund" min="0" ng-blur="check_not_null('long_term_equity_fund')" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="national_savings_fund">กองทุนการออมแห่งชาติ</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="national_savings_fund"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="national_savings_fund" ng-model="employee.datas.tax_reduction.national_savings_fund" min="0" ng-blur="check_not_null('national_savings_fund')" />
                        </div>
                      </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.tab4">
                      <uib-accordion-heading>
                        <a ng-class="{'accordion-selected': status.tab4}">ประกันสังคม</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.tab4, 'glyphicon-chevron-right': !status.tab4}"></i>
                      </uib-accordion-heading>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="social_insurance">เงินสมทบกองทุนประกันสังคมทั้งปี</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="social_insurance"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="social_insurance" ng-model="employee.datas.tax_reduction.social_insurance" min="0" max="9000" ng-blur="check_not_null('social_insurance')" />
                        </div>
                      </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.tab5">
                      <uib-accordion-heading>
                        <a ng-class="{'accordion-selected': status.tab5}">กองทุนสำรองเลี้ยงชีพ/กบข./กองทุนสงเคราะห์ครูโรงเรียนเอกชน</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.tab5, 'glyphicon-chevron-right': !status.tab5}"></i>
                      </uib-accordion-heading>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="pension_fund">กองทุนสำรองเลี้ยงชีพ</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="pension_fund"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="pension_fund" ng-model="employee.datas.tax_reduction.pension_fund" min="0" ng-blur="check_not_null('pension_fund')" />
                          <label for="government_pension_fund">เงินสะสม กบข</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="government_pension_fund"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="government_pension_fund" ng-model="employee.datas.tax_reduction.government_pension_fund" min="0" ng-blur="check_not_null('government_pension_fund')" />
                          <label for="private_teacher_aid_fund">เงินสะสมกองทุนสงเคราะห์ครูโรงเรียนเอกชน</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="private_teacher_aid_fund"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="private_teacher_aid_fund" ng-model="employee.datas.tax_reduction.private_teacher_aid_fund" min="0" ng-blur="check_not_null('private_teacher_aid_fund')" />
                        </div>
                      </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.tab6">
                      <uib-accordion-heading>
                        <a ng-class="{'accordion-selected': status.tab6}">ดอกเบี้ยเงินกู้ยืมเพื่อที่อยู่อาศัย</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.tab6, 'glyphicon-chevron-right': !status.tab6}"></i>
                      </uib-accordion-heading>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="house_loan_interest">ค่าดอกเบี้ยเงินกู้ยืมเพื่อที่อยู่อาศัย</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="house_loan_interest"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="house_loan_interest" ng-model="employee.datas.tax_reduction.house_loan_interest" min="0" max="100000" ng-blur="check_not_null('house_loan_interest')" />
                        </div>
                      </div>
                    </div>

                    <div uib-accordion-group class="panel-default" is-open="status.tab7">
                      <uib-accordion-heading>
                        <a ng-class="{'accordion-selected': status.tab7}">สิทธิประโยชน์อื่นๆ</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.tab7, 'glyphicon-chevron-right': !status.tab7}"></i>
                      </uib-accordion-heading>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="father_insurance">เบี้ยประกันสุขภาพบิดา</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="parent_insurance"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="father_insurance" ng-model="employee.datas.tax_reduction.father_insurance" min="0" max="15000" ng-blur="check_not_null('father_insurance')" />
                          <label for="mother_insurance">เบี้ยประกันสุขภาพมารดา</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="parent_insurance"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="mother_insurance" ng-model="employee.datas.tax_reduction.mother_insurance" min="0" max="15000" ng-blur="check_not_null('mother_insurance')" />
                          <label for="spouse_father_insurance">เบี้ยประกันสุขภาพบิดาของคู่สมรส</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="parent_insurance"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="spouse_father_insurance" ng-model="employee.datas.tax_reduction.spouse_father_insurance" min="0" max="15000" ng-blur="check_not_null('spouse_father_insurance')" />
                          <label for="spouse_mother_insurance">เบี้ยประกันสุขภาพมารดาของคู่สมรส</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="parent_insurance"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="spouse_mother_insurance" ng-model="employee.datas.tax_reduction.spouse_mother_insurance" min="0" max="15000" ng-blur="check_not_null('spouse_mother_insurance')" />
                          <label for="double_donation">เงินบริจาคที่ได้รับสิทธิลดหย่อน 2 เท่า</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="double_donation"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="double_donation" ng-model="employee.datas.tax_reduction.double_donation" min="0" ng-blur="check_not_null('double_donation')" />
                          <label for="donation">เงินบริจาคทั่วไป</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="donation"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="donation" ng-model="employee.datas.tax_reduction.donation" min="0" ng-blur="check_not_null('donation')" />
                          <label for="other">ค่าลดหย่อนอื่นๆ</label> <i class="glyphicon glyphicon-info-sign" popover-trigger="'mouseenter'" uib-popover-html="other"></i>
                          <input step="any" type="number" string-to-number
                          class="form-control" id="other" ng-model="employee.datas.tax_reduction.other" min="0" ng-blur="check_not_null('other')" />
                        </div>
                      </div>
                    </div>
                  </uib-accordion>
                </div>

              </div>
              <div ng-class="{ 'in active' : employee.activeTabPrivate === 'family' }" class="tab-pane fade">
              </div>
              <div ng-class="{ 'in active' : employee.activeTabPrivate === 'education' }" class="tab-pane fade">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-class="{ 'in active' : employee.activeTab === 'salary' }" id="salaryInfo" class="tab-pane fade">
        <div class="paragraph cyan tab-content salary" ng-show="employee.isEdit && employee.hasPayroll">
          <div ng-switch="employee.effectiveDates.length > 0">
            <div ng-switch-when="true">
              <div class="dropdown">
                <h3 id="month-list" data-toggle="dropdown">
                  <span ng-bind="employee.currentDateString" role="button"></span>
                  <span class="caret"></span>
                </h3>
                <ul class="dropdown-menu" aria-labelledby="month-list">
                  <li ng-repeat="effectiveDate in employee.effectiveDatesDisplay">
                    <a ng-click="employee.switchMonth(effectiveDate)">
                      {{ effectiveDate["date_string"] }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div ng-switch-default>
              <h3 data-toggle="dropdown">
                <span ng-bind="employee.currentDateString" ></span>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><h3>รายการเงินได้</h3></div>
            <div class="col-md-4"><h3>รายการเงินหัก</h3></div>
            <div class="col-md-4"><h3>รวมทั้งสิ้น</h3></div>
          </div>
          <div class="space20"></div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="salary">ค่าแรง / เงินเดือนปัจจุบัน</label>
                <input step="0.01" type="number" class="form-control text-green" id="salary" ng-model="employee.datas.payroll.salary" ng-blur="employee.calTotal(); employee.changeSalary()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="absence">ขาดงาน</label>
                <input step="0.01" type="number" class="form-control text-red" id="absence" ng-model="employee.datas.payroll.absence" ng-blur="employee.calTotal()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="total">เงินเดือนสุทธิ</label>
                <div class="form-control text-green">{{ employee.total.toFixed(2) }}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="ot">เงินสอนพิเศษ</label>
                <input step="0.01" type="number" class="form-control text-green" id="ot" ng-model="employee.datas.payroll.ot" ng-blur="employee.calTotal()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="late">สาย</label>
                <input step="0.01" type="number" class="form-control text-red" id="late" ng-model="employee.datas.payroll.late" ng-blur="employee.calTotal()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-8">
                  <button type="button" class="btn bg-gray btn-block" data-toggle="modal" data-target="#bird-eye" ng-click="employee.getAllPayroll(employee.empId)">
                    ประวัติเงินเดือน
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="position_allowance">ค่าตำแหน่ง</label>
                <input step="0.01" type="number" class="form-control text-green" id="position_allowance" ng-model="employee.datas.payroll.position_allowance" ng-blur="employee.calTotal()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="tax">{{employee.datas.employee.employee_type=="ลูกจ้างประจำ" ? 'ภาษีเงินได้บุคคลธรรมดา': 'ภาษีหัก ณ ที่จ่าย'}}</label>
                <input class="form-control text-red" id="tax" ng-model="employee.datas.payroll.tax" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="allowance">ค่ากะ / ค่าเบี้ยเลี้ยง</label>
                <input step="0.01" type="number" class="form-control text-green" id="allowance" ng-model="employee.datas.payroll.allowance" ng-blur="employee.calTotal()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="social_insurance">ประกันสังคม</label>
                <input class="form-control text-red" id="social_insurance" ng-model="employee.datas.payroll.social_insurance" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="attendace_bonus">เบี้ยขยัน</label>
                <input step="0.01" type="number" class="form-control text-green" id="attendace_bonus" ng-model="employee.datas.payroll.attendance_bonus" ng-blur="employee.calTotal()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="pvf">เงินสะสมเข้ากองทุนสงเคราะห์</label>
                <input class="form-control text-red" id="pvf" ng-model="employee.datas.payroll.pvf" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="bonus">โบนัส</label>
                <input step="0.01" type="number" class="form-control text-green" id="bonus" ng-model="employee.datas.payroll.bonus" ng-blur="employee.calTotal()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="advance_payment">เบิกล่วงหน้า</label>
                <input step="0.01" type="number" class="form-control text-red" id="advance_payment" ng-model="employee.datas.payroll.advance_payment" ng-blur="employee.calTotal()">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="extra_etc">รายได้อื่นๆ</label>
                <input step="0.01" type="number" class="form-control text-green" id="extra_etc" ng-model="employee.datas.payroll.extra_etc" ng-blur="employee.calTotal()">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="fee_etc">หักอื่นๆ</label>
                <input step="0.01" type="number" class="form-control text-red" id="fee_etc" ng-model="employee.datas.payroll.fee_etc" ng-blur="employee.calTotal()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-menu row">
      <div class="col-md-4">
        <button ng-show="employee.isEdit" type="button" class="btn btn-lg btn-block btn-print" ng-click="openSlip(employee.datas.employee.id, employee.currentEffectiveDate['payroll_id'])">พิมพ์ใบจ่ายเงินเดือน</button>
      </div>
      <!-- <div class="col-md-2 {{employee.isEdit ? '': 'col-md-offset-2'}}">
        <button ng-show="false" type="button" class="btn btn-lg btn-block btn-memo">บันทึกช่วยจำ</button>
      </div> -->
      <div class="col-md-2 text-right">
        <button type="submit" class="btn btn-lg btn-block btn-submit" ng-disabled="employee.isSubmit">บันทึก</button>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-lg btn-block btn-cancel" ng-click="employee.cancel()">ยกเลิก</button>
      </div>
      <div ng-if="employee.datas.employee.deleted_at == nil">
        <div ng-show="employee.isEdit" class="col-md-2 text-right">
          <button type="button" class="btn btn-lg btn-block btn-archive" ng-click="employee.archiveEmployee(employee.empId)">นำออกชั่วคราว</button>
        </div>
      </div>
      <div ng-if="employee.datas.employee.deleted_at != nil">
        <div ng-show="employee.isEdit" class="col-md-2 text-right">
          <button type="button" class="btn btn-lg btn-block btn-restore" ng-click="employee.restoreEmployees(employee.empId)">นำข้อมูลกลับ</button>
        </div>
      </div>
      <!-- <div ng-if="employee.datas.employee.deleted_at == nil"> -->
        <div ng-show="employee.isEdit" class="col-md-2 text-right">
          <button type="button" class="btn btn-lg btn-block btn-danger" ng-click="employee.destroyEmployees(employee.empId)">ลบ</button>
        </div>
      <!-- </div> -->
    </div>

  </form>
</div>

<div class="modal fade " id="bird-eye" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content cyan">
      <div class="modal-header">
        <i class="fa fa-close fa-2x pull-right" data-dismiss="modal"></i>
        <h3 class="modal-title" id="myModalLabel">ประวัติเงินเดือน</h3>
      </div>
      <div class="modal-body">
        <table id="payroll-history-table" class="table text-right">
          <thead>
            <th width="40%">เดือน</th>
            <th class="text-center" width="20%">เงินเดือน</th>
            <th class="text-center" width="20%">รายการได้</th>
            <th class="text-center" width="20%">รายการหัก</th>
          </thead>
          <tbody>
            <tr ng-repeat="payroll in employee.employeePayrolls">
              <td width="40%" class="text-left">{{payroll.date}}</td>
              <td width="20%">{{payroll.salary | currency: ""}}</td>
              <td width="20%" class="text-green">{{payroll.extra_pay | currency: ""}}</td>
              <td width="20%" class="text-red">{{payroll.extra_fee | currency: ""}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-lg btn-block btn-cancel" data-dismiss="modal">ปิด</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
