(function() {
  'use strict';
  angular.module('somsri.payroll.report', [
  ])
  .controller('reportCtrl', ['$compile', '$scope', '$window', '$filter', '$rootScope', 'reportService', 'slipService', '$timeout', function($compile, $scope, $window, $filter, $rootScope, reportService, slipService, $timeout) {
    $rootScope.menu = "Report"

    var ctrl = this
    ctrl.total = 0
    ctrl.employees = []
    ctrl.months = []
    ctrl.currentMonth = ""

    ctrl.getNetSalary = function(employee) {
      return employee.salary - employee.extra_fee + employee.extra_pay;
    }

    function getTotalSalary(employees)  {
      var totalSalary = 0
      var totalExtraFee = 0
      var totalExtraPay = 0

      employees.forEach(function(employee) {
        totalSalary += employee.salary
        totalExtraFee += employee.extra_fee
        totalExtraPay += employee.extra_pay
      })

      return {
        salary: totalSalary,
        extraFee: totalExtraFee,
        extraPay: totalExtraPay,
        netSalary: totalSalary - totalExtraFee + totalExtraPay
      }
    }

    ctrl.switchMonth = function(month) {
      reportService.getPayroll(month.year, month.month).then(function(resp) {
        ctrl.employees = resp.data
        ctrl.total = getTotalSalary(ctrl.employees);
        ctrl.currentMonth = $filter('get_month_name')(month)
        ctrl.currentMonthData = month
        setTableHeader();
      });
    }

    ctrl.printSlip = function(id, currentMonth) {
      var containerDiv = $('#payroll-report')
      ctrl.employee = []

      slipService.employeeSlip(id, currentMonth.payroll_id).then(function(resp) {
        ctrl.employee = resp.data

        if($window.navigator.userAgent.indexOf('Chrome') == -1) {
          var slipForSchool = $compile('<slip-content info=report title="สำหรับโรงเรียน" class="for_print safari"/>');
          var slipForEmployee = $compile('<slip-content info=report title="สำหรับพนักงาน" class="for_print safari"/>');
        } else {
          var slipForSchool = $compile('<slip-content info=report title="สำหรับโรงเรียน" class="for_print"/>');
          var slipForEmployee = $compile('<slip-content info=report title="สำหรับพนักงาน" class="for_print"/>');
        }

        var slipSchoolDiv = slipForSchool($scope);
        var slipEmployeeDiv = slipForEmployee($scope);

        angular.element(containerDiv).append(slipSchoolDiv);
        angular.element(containerDiv).append('<div class="separate for_print"></div>');
        angular.element(containerDiv).append(slipEmployeeDiv);

        setTimeout(function() {
          window.print();
          $("slip-content").remove()
          $(".separate").remove()
        }, 500);
      })
    }

    function getPayrolls() {
      reportService.getMonths().then(function(resp) {
        if (resp.data.length > 0) {
          ctrl.months = resp.data
          var current = ctrl.months[0]

          reportService.getPayroll(current.year, current.month).then(function(resp) {
            ctrl.employees = resp.data
            ctrl.total = getTotalSalary(ctrl.employees);
            getTotalSalary(ctrl.employees)
            ctrl.currentMonth = $filter('get_month_name')(current)
            ctrl.currentMonthData = current
            setTableHeader();
          });
        }
      });
    }

    function setTableHeader(){
      $timeout(function () {
        var tdHeader = document.getElementById("tableHeader").rows[0].cells;
        var tdData = document.getElementById("tableData").rows[0].cells;

        for (var i = 0; i < tdData.length; i++)
            tdHeader[i].style.width = tdData[i].offsetWidth + 'px';
      });
    }
    getPayrolls()

  }]);
})();
