<%= javascript_include_tag 'custom_bootstrap_table' %>
<style type="text/css" media="print">
 @page {size: landscape;}
</style>
<div class="container-fluid">
  <div id="student-report" class="row ng-scope invoice_report">
    <div class="unused_for_print col-lg-12">
      <div class="row for-display">
        <div class="col-md-6" style="padding-left: 0px;">
          <div class="col-xs-2" style="margin-right:-20px;">
            <h3>ระดับชั้น</h3>
          </div>
          <div class="col-xs-9">
            <div class="dropdown">
              <h4 id="grade-list" data-toggle="dropdown">
                <span ng-bind="invoiceReport.currentGradeString" ></span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </h4>
              <ul class="dropdown-menu" aria-labelledby="grade-list">
                <li ng-repeat="grade in invoiceReport.grades">
                  <a class="blue-highlight" ng-click="invoiceReport.switchGrade(grade.name)">
                    {{ grade.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-btn-print-report">

          <button class="btn-to-print-report" ng-click="invoiceReport.getStudentsForPrint()"><i class="fa fa-print"></i></button>

          <button class="btn-exportBs-report" id="exportTable"><i class="fa fa-share-square-o" aria-hidden="true"></i> Export</button>

        </div>
      </div>
      <div class="row report-content container-fluid">
      <div class="col-xs-12 form-group fix-head-table for-display">
        <div class="col-xs-6">
          <input id="searchField" type="text" ng-model="invoiceReport.searchKeyword" ng-change="invoiceReport.search()" placeholder="ค้นหาตามเลขที่ใบเสร็จ,ชื่อนักเรียน,ชื่อผู้ปกครอง" class="search-sp" />
        </div>
        <div class="col-xs-6 ">
          <div id="date-filter" class="row for-display">
            <div class="col-xs-6">
              <div class="form-group">
                <span class="input-group">
                  <div class="col-xs-2">
                    <label for="start_date" class="text-status-date">จาก</label>
                  </div>
                  <div class="col-xs-10">
                    <input id="start_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="{showWeeks:false}" ng-model="invoiceReport.start_date" is-open="invoiceReport.startDatePopup.opened" close-text="Close" ng-change="invoiceReport.optionsChange()"/>
                    <span class="input-group-btn" style="display: inherit;">
                      <button type="button" class="btn btn-default" ng-click="invoiceReport.openStartDatePopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <span class="input-group">
                  <div class="col-xs-2">
                    <label for="end_date" class="text-status-date">ถึง</label>
                  </div>
                  <div class="col-xs-10">
                    <input id="end_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="{showWeeks:false}" ng-model="invoiceReport.end_date" is-open="invoiceReport.endDatePopup.opened" close-text="Close" ng-change="invoiceReport.optionsChange()"/>
                    <span class="input-group-btn" style="display: inherit;">
                      <button type="button" class="btn btn-default" ng-click="invoiceReport.openEndDatePopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
        </div>
        <table id="invoice-table" class="scrollable-header text-table-invoicereport for-display"></table>
        <div class="text-title for-print">รายงานใบเสร็จ</div>
        <div class="text-title-date for-print"><b>จาก</b> {{ invoiceReport.start_date | dateFormat }} <b>ถึง</b> {{ invoiceReport.end_date | dateFormat }}</div>
        <table id="for-print-table" class="scrollable-header text-table-invoicereport for-print"></table>
        <div class="row row-centered for-display">
          <div class="col-centered">
            <ul uib-pagination ng-change="invoiceReport.pageChanged()" total-items="invoiceReport.totalItems" ng-model="invoiceReport.currentPage" max-size="invoiceReport.maxSize" class="pagination-md" num-pages="numPages" previous-text="‹" next-text="›" boundary-link-numbers='true' rotate='false'></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<table  id="tableForExport" data-toolbar="none" data-tableexport-display="always" style="display: none;"><table>



<!-- Modal -->
<div class="modal" id="cancelInvoiceModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        คุณต้องการยกเลิกใบเสร็จนี้หรือไม่
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-submit" ng-click="invoiceReport.cancelInvoice()">ใช่</button>
        <button type="button" class="btn btn-cancel" data-dismiss="modal">ไม่ใช่</button>
      </div>
    </div>
  </div>
</div>
