<%= javascript_include_tag 'custom_bootstrap_table' %>
<style type="text/css" media="print">
 @page {size: landscape;}
</style>
<div class="container-fluid">
  <div id="student-report" class="row ng-scope invoice_report">
    <div class="unused_for_print col-lg-12">
      <div class="row for-display">
        <div class="col-md-6" style="padding-left: 0px;">
          <div class="col-xs-2" style="margin-right:-20px;">
            <h3>{{ 'level' | translate }}</h3>
          </div>
          <div class="col-xs-9">
            <div class="dropdown">
              <h4 id="grade-list" data-toggle="dropdown">
                <span ng-bind="invoiceReport.currentGradeString" ></span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </h4>
              <ul class="dropdown-menu" aria-labelledby="grade-list">
                <li ng-repeat="grade in invoiceReport.grades">
                  <a class="blue-highlight" ng-click="invoiceReport.switchGrade(grade.name)">
                    {{ grade.name | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-btn-print-report">
          <button class="btn btn-custom btn-black mr-5" ng-click="invoiceReport.getStudentsForPrint()"><i class="fa fa-print"></i></button>
          <button class="btn btn-custom btn-blue-sky" id="exportTable"><i class="fa fa-share-square-o" aria-hidden="true"></i>  {{ 'export' | translate }}</button>
        </div>
      </div>
      <div class="row report-content container-fluid">
      <div class="col-xs-12 form-group fix-head-table for-display">
        <div class="col-xs-6">
          <input id="searchField" type="text" ng-model="invoiceReport.searchKeyword" ng-change="invoiceReport.search()" placeholder="{{ 'receipt_search' | translate }}" class="search-sp" />
        </div>
        <div class="col-xs-6 ">
          <div id="date-filter" class="row for-display">
            <div class="col-xs-6">
              <div class="form-group">
                <span class="input-group">
                  <div class="col-xs-2">
                    <label for="start_date" class="text-status-date">{{ 'from' | translate }}</label>
                  </div>
                  <div class="col-xs-10">
                    <input id="start_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="{showWeeks:false}" ng-model="invoiceReport.start_date" is-open="invoiceReport.startDatePopup.opened" close-text="Close" ng-change="invoiceReport.optionsChange()"/>
                    <span class="input-group-btn" style="display: inherit;">
                      <button type="button" class="btn btn-default" ng-click="invoiceReport.openStartDatePopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <span class="input-group">
                  <div class="col-xs-2">
                    <label for="end_date" class="text-status-date">{{ 'to' | translate }}</label>
                  </div>
                  <div class="col-xs-10">
                    <input id="end_date" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="{showWeeks:false}" ng-model="invoiceReport.end_date" is-open="invoiceReport.endDatePopup.opened" close-text="Close" ng-change="invoiceReport.optionsChange()"/>
                    <span class="input-group-btn" style="display: inherit;">
                      <button type="button" class="btn btn-default" ng-click="invoiceReport.openEndDatePopup()"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
        </div>
        <table id="invoice-table" class="scrollable-header text-table-invoicereport for-display" data-locale="{{ 'locale' | translate }}"></table>
        <div class="text-title for-print">{{ 'level' | translate }}</div>
        <div class="text-title-date for-print"><b>{{ 'from' | translate }}</b> {{ invoiceReport.start_date | dateFormat }} <b>{{ 'to' | translate }}</b> {{ invoiceReport.end_date | dateFormat }}</div>
        <table id="for-print-table" class="scrollable-header text-table-invoicereport for-print-table"></table>
        <div class="row row-centered for-display">
          <div class="col-centered">
            <ul uib-pagination ng-change="invoiceReport.pageChanged()" total-items="invoiceReport.totalItems" ng-model="invoiceReport.currentPage" max-size="invoiceReport.maxSize" class="pagination-md icon-pagination"
            boundary-link-numbers="true"
            num-pages="numPages"
            rotate="false"
            previous-text="&#xf104;"
            next-text="&#xf105;"></ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<table  id="tableForExport" data-toolbar="none" data-tableexport-display="always" style="display: none;"><table>



<!-- Modal -->
<div class="modal" id="cancelInvoiceModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{ 'cancel_receipt_msg' | translate }}
      </div>
      <div class="modal-footer">
        <div class="col-md-offset-6 col-md-3">
          <button type="button" class="btn btn-custom btn-blue" ng-click="invoiceReport.cancelInvoice()">{{ 'yes' | translate }}</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn  btn-custom btn-gray" data-dismiss="modal">{{ 'no' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
