(function() {
  'use strict';
  angular.module('somsri.invoice.invoice_report', [
    ])
  .controller('invoiceReportCtrl', ['$compile', '$scope', '$window', '$filter', '$rootScope', 'invoiceReportService', '$timeout', 'translateFilter', function($compile, $scope, $window, $filter, $rootScope, service, $timeout, translateFilter) {
    $rootScope.menu = translateFilter("receipt")
    var ctrl = this
    var angularScopeRoot = 'angular.element(document.getElementById("angularCtrl")).scope().$root'
    var angularScopeInvoice = 'angular.element(document.getElementById("angularCtrl")).scope().invoiceReport'
    ctrl.invoice = [];

    $rootScope.loadAndAuthorizeResource("invoice", function(){
      var main_table = $('#invoice-table');
      var print_table = $('#for-print-table');
      var tableExport = $('#tableForExport')

      ctrl.currentPage = 1;
      ctrl.searchKeyword = '';
      ctrl.grade_name = "All"
      ctrl.sort = 'invoices.id';
      ctrl.order = 'desc';

      // default last 7 days
      ctrl.end_date = new Date();
      ctrl.start_date = new Date(new Date().setMonth(new Date().getMonth() - 1));

      function cleanDate(date){
        if(!date || new Date(date) == "Invalid Date"){return;}
        var nowDate = new Date()
        date.setHours(nowDate.getHours())
        date.setMinutes(nowDate.getMinutes())
        date.setSeconds(nowDate.getSeconds())
        return date
      }

      function filterDate(value, row, index) {
        if (value) {
          return $filter('date')(value, 'd/MM/yyyy hh:mm');
        }
        return "-";
      }

      function filterCurrency(value, row, index) {
        if (value) {
          return $filter('number')(value.toFixed(2), 2);
        }
        return "-";
      }

      function linkInvoiceID(value, row, index) {
        if (value) {
          var func = angularScopeRoot + '.openSlip(' + value + ', "invoice_report");'
          var link = "<a href='javascript:void(0)' onclick='" + func + "'>" + value +"</a>";
          return link;
        }
        return "-";
      }

      function linkCancelInvoice(value, row, index) {
        if(!row.is_cancel && ctrl.thisDay(row.created_at)){
          ctrl.invoice[index] = row;
          var func = angularScopeInvoice + '.cancelInvoiceModal('+ angularScopeInvoice+ '.invoice['+ index +'])';
          var link = "<a href='javascript:void(0)' onclick='" + func + "'><i class='fa fa-times-circle'></i>&nbsp" + translateFilter('cancel_receipt') + "</a>";
          return  link;
        }
        return '';
      }

      ctrl.pageChanged = function() {
        getStudents()
      };

      ctrl.switchGrade = function(grade_name) {
        ctrl.grade_name = grade_name
        getStudents()
      }

      ctrl.search = function() {
        getStudents();
      }

      var bootstrapTableOptions = {
        onSort: function(name, order){
          ctrl.sort = name;
          ctrl.order = order;
          getStudents()
        },
        customSort: function(){},
        columns: [{
          field: 'id',
          title: 'Invoice #',
          classes: 'text-right',
          sortable: true,
          formatter: linkInvoiceID
        },{
          field: 'students.full_name',
          title: translateFilter("student_name"),
          sortable: true,
        },{
          field: 'grade_name',
          title: translateFilter("level"),
          sortable: true,
        },{
          field: 'parents.full_name',
          title: translateFilter("parent_name"),
          sortable: true,
        },{
          field: 'users.full_name',
          title: translateFilter("receiver"),
          sortable: true,
        },{
          field: 'created_at',
          title: translateFilter("payment_date"),
          sortable: true,
          formatter: filterDate
        },{
          field: 'payment_methods.payment_method',
          title: translateFilter("paid_by"),
          class: 'payment-width',
          sortable: true,
        },{
          field: 'line_items.amount',
          title: translateFilter("paid_amount"),
          class: 'text-currency',
          formatter: filterCurrency,
        },{
          field: 'invoice_statuses.name',
          title: translateFilter("status"),
          class: 'for-display',
          sortable: true,
        },{
          field: '',
          title: '',
          class: 'for-display',
          formatter: linkCancelInvoice,
        }],
      }

      $('#exportTable').on('click', function(){
        tableExport.bootstrapTable(bootstrapTableOptions);
        getStudentsExport()
        tableExport.on('post-body.bs.table', function () {
          tableExport.tableExport({type:'excel'});
        });
      })

      print_table.bootstrapTable(bootstrapTableOptions);
      main_table.bootstrapTable($.extend(bootstrapTableOptions, {toolbar: "date-filter"}));

      function getStudentsExport() {
        ctrl.start_date = cleanDate(ctrl.start_date)
        ctrl.end_date = cleanDate(ctrl.end_date)
        if(!ctrl.currentPage){ ctrl.currentPage = 1 }
          service.getGrades().then(function(grade_resp) {
            ctrl.currentGradeString = ctrl.grade_name
            ctrl.grades = grade_resp.data
            service.getInvoices(ctrl.grade_name, ctrl.searchKeyword, ctrl.start_date, ctrl.end_date, ctrl.currentPage, ctrl.sort, ctrl.order, 'export').then(function(resp) {
              ctrl.datasExport = [];
              if (resp.data && resp.data.invoices){
                ctrl.datasExport = resp.data.invoices
                ctrl.totalItems = resp.data.total_records;
                ctrl.currentPage = resp.data.current_page;
              } else {
                ctrl.totalItems = 0;
                ctrl.currentPage = 0;
              }
              ctrl.maxSize = 5;
              for(var ele in ctrl.datasExport){
                var str = []
                var payment_method = ctrl.datasExport[ele].payment_methods.payment_method
                var payments = payment_method.split(',')
                for(var i = 0; i < payments.length ; i++){
                  str.push(translateFilter(payments[i]))
                }
                ctrl.datasExport[ele].payment_methods.payment_method = str.join()
              }
              tableExport.bootstrapTable('load', ctrl.datasExport);
            });
          });
      }


      function getStudents() {
        ctrl.start_date = cleanDate(ctrl.start_date)
        ctrl.end_date = cleanDate(ctrl.end_date)
        if(!ctrl.currentPage){ ctrl.currentPage = 1 }
          service.getGrades().then(function(grade_resp) {
            ctrl.currentGradeString = translateFilter(ctrl.grade_name)
            ctrl.grades = grade_resp.data
            service.getInvoices(ctrl.grade_name, ctrl.searchKeyword, ctrl.start_date, ctrl.end_date, ctrl.currentPage, ctrl.sort, ctrl.order, '').then(function(resp) {
              ctrl.datas = [];
              if (resp.data && resp.data.invoices){
                ctrl.datas = resp.data.invoices
                ctrl.totalItems = resp.data.total_records;
                ctrl.currentPage = resp.data.current_page;
              } else {
                ctrl.totalItems = 0;
                ctrl.currentPage = 0;
              }
              ctrl.maxSize = 5;
              for(var ele in ctrl.datas){
                var str = []
                var payment_method = ctrl.datas[ele].payment_methods.payment_method
                var payments = payment_method.split(',')
                for(var i = 0; i < payments.length ; i++){
                  str.push(translateFilter(payments[i]))
                }
                ctrl.datas[ele].payment_methods.payment_method = str.join()
              }
              main_table.bootstrapTable('load', ctrl.datas);
            });
          });
      }

      ctrl.getStudentsForPrint = function() {
        ctrl.start_date = cleanDate(ctrl.start_date)
        ctrl.end_date = cleanDate(ctrl.end_date)
        service.getInvoices(ctrl.grade_name, ctrl.searchKeyword, ctrl.start_date, ctrl.end_date, null, ctrl.sort, ctrl.order).then(function(resp) {
          if (resp.data && resp.data.invoices){
            print_table.bootstrapTable('load', ctrl.datas = resp.data.invoices);
            window.print();
          }
        });
      }

      ctrl.cancelInvoice = function() {
        service.cancelInvoice(ctrl.selectedInvoice.id).then(function(resp) {
          if(resp.data[0] == "SUCCESS"){
            ctrl.selectedInvoice.is_cancel = true;
            ctrl.selectedInvoice.status_name = translateFilter('cancel');
            $('#cancelInvoiceModal').modal('hide');
            getStudents()
          }
        });
      }

      ctrl.cancelInvoiceModal = function(invoice) {
        ctrl.selectedInvoice = invoice;
        $('#cancelInvoiceModal').modal('show');
      }

      ctrl.thisDay = function(date) {
        var today = new Date();
        var d = new Date(date);
        return today.toDateString()===d.toDateString();
      }

      ctrl.optionsChange = function() {
        // check date incorrect input
        if(ctrl.start_date === undefined || ctrl.end_date === undefined){return}
        getStudents()
      }

      ctrl.openStartDatePopup = function() {
        ctrl.startDatePopup.opened = true;
      };

      ctrl.startDatePopup = {
        opened: false
      };

      ctrl.openEndDatePopup = function() {
        ctrl.endDatePopup.opened = true;
      };

      ctrl.endDatePopup = {
        opened: false
      };

      getStudents();

    });
}]);
})();
