<!DOCTYPE html>
<html ng-app="somsri.payroll">
  <head>
    <title>SomsriPayroll</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-controller="mainCtrl as main">
    <%= yield %>
  </body>
</html>
