<div class="container">
  <div class="row main-menu">
    <div class="col-md-3">
    </div>
    <div class="col-md-3 main-menu-box">
      <div class="main-menu-item" ng-click="openEmployees()">
        <table class="main-menu-grid">
          <tr>
            <td>
              <div class="main-menu-button">
                <%= image_tag 'employees.png', class: "main-menu-image employees" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="main-menu-title">Employees</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <div class="main-menu-item" ng-click="openReport()">
        <table>
          <tr>
            <td>
              <div class="main-menu-button">
                <%= image_tag 'report.png', class: "main-menu-image report" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="main-menu-title">Report</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  <div>
<div>
